[2015-12-17 10:14] danielquinn opened #1 "404 at https://jazzband.co/docs"
The link to `guidelines` in the list under "Joining" is wrong.  I believe it should be `/docs/guidelines` rather than just `/guidelines`.

[2015-12-17 10:20] #1 closed

[2015-12-17 21:50] blueyed opened #2 "Integrate / collaborate with django-cc"
There is a new initiative to have [Django Contributing Commons (CC)](https://github.com/codingjoe/django-cc).

I think it makes sense to collaborate and possibly integrate/use it for jazzband projects (by default).

/cc @codingjoe @jpic

[2015-12-18 02:26] cyberdelia opened #3 "Pypi credentials"
I've just added the deploy part to django-pipeline, it just lacks a password.

[2015-12-18 09:06] codingjoe commented on #2
Tho Django CC isn't quite ready, it would be cool to have some early adopters. It's certainly better than having no contributing guide.

[2015-12-18 13:04] ticosax opened #4 "I'm requesting help to add django-configurations to https://codecov.io/ ."
I tried to do it myself, bu I think a roady needs to subscribe the organization first.

[2015-12-18 13:09] jezdez commented on #4
I've granted Codecov access to the Jazzband org. Can you try again?

[2015-12-18 13:13] ticosax commented on #4
It is working. Thank you :smile:

[2015-12-18 13:13] #4 closed

[2015-12-18 13:40] jezdez commented on #4
:metal:

[2015-12-18 13:45] jezdez commented on #3
See the pull request jazzband/django-pipeline#513 :metal:

[2015-12-18 17:26] #3 closed

[2015-12-19 19:01] cyberdelia opened #5 "IRC notifier"
Dear Roadies,

A long time ago, I enabled a IRC notifier on django-pipeline, and forgot about it. And now I find it really annoying, but can't disable it, could you please be kind and remove it from django-pipeline?

Thanks for tuning my guitars.

[2015-12-20 09:31] jezdez commented on #5
Absolutely!

[2015-12-20 09:33] jezdez commented on #5
Done!

[2015-12-20 09:33] #5 closed

[2015-12-20 20:38] cyberdelia commented on #5
Thanks!

[2015-12-26 12:09] jpic opened #6 "Integrate django-pure-pagination"
Would it be possible to maintain a fork of django-pure-pagination ? https://github.com/jamespacileo/django-pure-pagination

Seems like the most maintained one is: https://github.com/hovel/django-pure-pagination

But there's no release on PyPi. Since dependency_links is deprecated, it would be great to have a release of the fork and to maintain it in the community.

Thoughts ?

[2015-12-27 16:14] jpic commented on #6
The maintainer woke up ^^, sorry for the noise, keep up the great work !

[2015-12-27 16:14] #6 closed

[2015-12-28 19:04] jezdez commented on #6
Dang, I was too slow, apologies, holidays et al. Lemme know if you want to restart the discussion around this.

[2016-01-04 03:41] cyberdelia opened #7 "HTTPS link to readthedocs"
I would like to point to the HTTPS version of the docs in the django-pipeline repository description: https://django-pipeline.readthedocs.org

Could you fix that for me?

Thanks!

[2016-01-04 09:00] ticosax opened #8 "Bot user for codecov."
Codecov expect to post comments on pull request, on behalf of a bot user.

https://codecov.io/github/jazzband/django-configurations/features/bot

Please, can you create this bot and submit the form ?

[2016-01-04 11:55] jezdez commented on #8
@jazzband-bot is now the codecov bot for this. Thanks!

[2016-01-04 11:55] #8 closed

[2016-01-04 11:56] jezdez commented on #7
Done!

[2016-01-04 11:56] #7 closed

[2016-01-04 15:54] ticosax commented on #8
That was fast, thank you !

[2016-01-09 05:13] charettes opened #9 "Subscribe jazzband/django-discover-jenkins to coveralls.io"
Or any other alternative, I simply chose coveralls.io because I'm familar with it.

[2016-01-09 11:13] jezdez commented on #9
Done, https://coveralls.io/github/jazzband/django-discover-jenkins

[2016-01-09 11:13] #9 closed

[2016-01-09 16:24] charettes commented on #9
Thanks Jannis!

[2016-01-19 21:13] untitaker opened #10 "Have teams for each "skill""
I currently get pinged via "jazzband/members" to review Django projects. While I would love to help, I have never used Django at all.

Proposal: Create teams for each "skill". There'd be a team for "Django", one for "Python", one for "Security"... Then everybody can join/subscribe to the teams they feel competent enough for, and people can CC those teams for more targeted calls for help.

[2016-01-19 21:18] jezdez commented on #10
Interesting! I like that idea.

It would assume that it'd require a join/leave UI on the Jazzband site since I can't offer org admin permissions to join/leave teams for all members for security reasons.

But since the site already has effectively implemented GitHub auth, it's just a matter of the right API calls to do it.

[2016-01-19 21:19] jezdez commented on #10
To be clear you're not proposing to actually assign different repos to each team and by that limiting the access permissions again for members "outside of their skillset"?

[2016-01-19 21:21] untitaker commented on #10
No, didn't think of that, though I guess it's a problem sometime in the future. Perhaps both problems could be solved at once, not sure.

[2016-02-06 18:41] yakky opened #11 "Add pypi password to travis for django-robots"
django-robots 2.0 is ready for release, could you add the password for travis?

[2016-02-06 18:43] yakky opened #12 "Add myself to transifex for django-robots"
Could you add me to transifex for django-robots so that I can push translation sources updates etc?

[2016-02-06 19:28] jezdez commented on #12
done

[2016-02-06 19:28] #12 closed

[2016-02-06 19:31] yakky commented on #12
\o/ thanks

[2016-02-06 19:36] jezdez commented on #11
done.

[2016-02-06 19:36] #11 closed

[2016-02-06 19:37] jezdez commented on #11
In https://github.com/jazzband/django-robots/commit/903a22e2b6e2df0f38026e0bb49781a08fc83b91 for the record.

[2016-02-06 19:49] yakky commented on #11
awesome! 2.0rc1 will come soon :)

[2016-03-09 17:04] ipmb opened #13 "Is django-salmonella a fit for jazzband?"
https://github.com/lincolnloop/django-salmonella
https://pypi.python.org/pypi/django-salmonella

I can get it to meet the [Jazzband guidelines](https://jazzband.co/about/guidelines) if you feel like it is a fit.

[2016-03-10 08:06] jezdez commented on #13
Yeah, the only thing I see is missing from the guidelines is automated testing, if you can add those I think it's good to go.

[2016-03-16 16:12] tutuca opened #14 "Proposing django-endless-pagination"
This project https://github.com/frankban/django-endless-pagination, it has been stuck for 3 years now, has some issues with django 1.9 and has spawned already some forks like https://github.com/shtalinberg/django-el-pagination.

[2016-03-17 07:30] jezdez commented on #14
Hi @tutuca, unless the main author @frankban agrees we can't just fork a project here

[2016-04-12 10:56] xrmx opened #15 "proposing django-admin-bootstrapped"
Hello, i'd like to propose moving django-admin-bootstrapped [0] to jazzband organization. The app is in good shape but i don't have much motivations to keep it updated (django 1.9 support is missing atm) as i don't have much use for it anymore.
Looking at the guidelines we should be ok with everything, some minor nits like moving the contributing section we have on our README.md to a separated fil

[2016-04-12 16:59] bartTC commented on #13
i wasn't aware @ipmb proposed this but I think this is a good fit for this project. I took over the maintenanceship, cleaned it up, added testsuite, added Travis etc.

[2016-04-12 17:02] bartTC commented on #13
I'd extend the docs and add contribution specific ones.

[2016-04-14 08:10] jezdez commented on #15
@xrmx Yep, looks good to me, too. Let me know when you want to do the switch, so I can enable Travis etc.

[2016-04-14 08:14] jezdez commented on #10
@untitaker Hey there again, took me a while but I've been thinking about this more recently since I want to improve the unassisted releases to PyPI which in turn requires improvements to the site code. While working on this I found a way to better assign members to projects and wondered if you'd still consider "skill teams" (or "genre" when staying in the musical analogy) worthwhile?

[2016-04-14 16:57] xrmx commented on #15
Il 14/04/2016 10:10, Jannis Leidel ha scritto:

I can transfer the repository tomorrow if you are fine with that. If you add me
to the organization i'll split contruting and add proper badges and CoC
references too. Thanks!

[2016-04-14 20:27] jezdez commented on #15
@xrmx Hmmm, I don't think you've read the Jazzband docs if you're asking to be added to the organization. You add yourself to the GitHub organization by joining on jazzband.co. I'm a bit weary now to move the app to the Jazzband if you haven't seen that central feature of the Jazzband to be honest, can you elaborate how you found Jazzband? Have you read and understood the guidelines?

[2016-04-15 06:28] xrmx commented on #15
@jezdez I've read the docs i've just missed the "Join Jazzband" link until now sorry, making the "join" in the first paragraph a link may have helped though :) Anyway I've read the guidelines as you can see i've made references to them in my proposal.

[2016-04-16 08:56] untitaker commented on #10
I'm unsure whether picking vague metaphors is a good idea from a UX perspective.

Do you propose something based on Github teams, or do you want to let users manage that through the site's UI?

[2016-04-17 06:51] ncoghlan opened #16 "contextlib2 as a JazzBand project?"
At the moment, I'm a single point of failure for new releases of contextlib2, the backport of the standard library's contextlib module to earlier Python versions. That's normally not a major problem (it's not like it needs to be updated very often), but it does mean it can lag behind the standard library version for quite a while after a new Python release goes out, and problems specific to the ba

[2016-04-19 13:37] safwanrahman opened #17 "Permission for making release of Django Authority"
I have made a Pull Request. can review?
https://github.com/jazzband/django-authority/pull/48

Will be glad to get the permission.

[2016-04-19 17:39] jezdez commented on #17
Ah, cool, I just saw this after the PR. I'll set automatic releases asap as described on https://jazzband.co/about/releases

[2016-05-01 00:01] ZuluPro opened #18 "Can't join the group"
As your the website ask me, I open an issue:
I logged in with GitHub this afternoon and had an error after give permissions.
This make me the same thing tonight

[2016-05-06 13:57] ZuluPro commented on #18
@jezdez Any news ?

[2016-05-06 21:28] safwanrahman commented on #17
@jezdez Update?

[2016-05-11 12:15] jezdez commented on #17
Hey @safwanrahman, I thought I'd get to finish my new plan for releases in time, but I failed and will enable the old/current way for authority now.

[2016-05-11 12:56] jezdez commented on #17
@safwanrahman Okay done, please do a proper release check again, e.g. update the changelog with all changes that happened since the last release etc. Then create a new git tag 0.11 and push it to GitHub. The rest will be automated and released from Travis to PyPI automatically.

[2016-05-11 12:57] jezdez commented on #17
Closing this issues since I've given everyone the ability to release django-authority.

[2016-05-11 12:57] #17 closed

[2016-05-11 12:57] jezdez commented on #18
@ZuluPro Sorry, there seems to be a bug with the latest code of the site, I'll look into it.

[2016-05-11 12:59] jezdez commented on #16
So sorry for the slow response, I think contextlib2 is an excellent project for Jazzband, especially given its background in Python core. I haven't fully automated the setup, but if you want we can schedule some time to do it. Once set up, the release process will be fully automated.

[2016-05-11 12:59] jezdez commented on #13
Ok, where do we go from here?

[2016-05-11 13:19] ncoghlan commented on #16
This is its current home on GitHub: https://github.com/ncoghlan/contextlib2

The PyPI release is up to date for the time being - I did a release after finally figuring out the compatibility problem that was keeping ExitStack from working with old-style classes.

In moving the project over to jazzband, the main thing I'd be looking to do is to have additional folks with the power to make releases t

[2016-05-11 13:36] jezdez commented on #16
@ncoghlan Makes sense to me. I have to say though that Jazzband isn't a guarantee that others will help with the project automatically. You'll just have a better story to tell when others ask about the onboarding to the project.

For the release process I'm working on an improved and more secure workflow at the moment. Right now, deploys to PyPI are done via successful test runs on Travis via thei

[2016-05-16 19:38] ZuluPro commented on #18
Hello @jezdez : Any news ?

[2016-05-22 09:55] sobolevn commented on #18
+1 same for me

[2016-05-23 17:00] jezdez commented on #18
Thanks to @sobolevn this is now fixed. Cheers!

[2016-05-23 17:00] #18 closed

[2016-06-07 08:37] bartTC commented on #13
I will extend the docs and add contribution specific ones. Soon! 😄

[2016-06-08 18:25] jezdez opened #19 "Finish move of django-admin2"
- [x] fix links in docs and readme (@jezdez, PR coming up)
- [x] enable coveralls (@jezdez)
- [x] enable travis-ci (@jezdez)
- [x] add jazzband to PyPI entry (@pydanny)
- [x] add jazzband-bot to ReadTheDocs project (@pydanny)
- [x] Should auto release via Travis be enabled? (@andrewsmedina and @galuszkak)?

[2016-06-08 18:27] jezdez commented on #19
PR with doc fixes: https://github.com/jazzband/django-admin2/pull/441

[2016-06-08 18:37] jezdez opened #20 "Move django-debug-toolbar to Jazzband"
Hi @robhudson, @dcramer, @aaugustin,

Since I wasn't sure what we ended up deciding, if at all, I just wanted to open this issue to track potential steps needed, feel free to join the Jazzband (on https://jazzband.co/) and then edit the following list yourself.

- [x] fix links in docs and readme
- [x] enable coveralls/codecov/etc
- [x] enable travis-ci/other CI
- [x] add jazzband to PyPI entry (a

[2016-06-08 19:35] dcramer commented on #20
I'll defer to everyone else. I tbh don't really have any time (or much care) to be involved anymore. Definitely +1 on the direction though.

[2016-06-08 19:43] pydanny commented on #19
I added Jazzband to the PyPI entry.

I don't believe auto-release via Travis should be enabled, but @andrewsmedina and @galuszkak are much better equipped to answer that question.

[2016-06-08 19:46] pydanny commented on #19
I added `jazzband-bot` to ReadTheDocs.

[2016-06-09 00:28] andrewsmedina commented on #19
@pydanny I believe that we can enable release via Travis when a tag is set, using "on: tag" conditional: https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A

@galuszkak what do you think about it?

[2016-06-09 08:57] galuszkak commented on #19
I'm in favor of that. If this is based on tag & branch & passing tests then that sounds great.

One question because I have lack of knowledge in that area. Will this do beside pypi release also new documentation release on readthedocs.org ?

[2016-06-10 03:42] andrewsmedina commented on #19
@galuszkak the documentations is automatically released by read the docs. Auto release via travis will publish  the django-admin2 package in pypi.

[2016-06-10 16:26] galuszkak commented on #19
Awesome. Then I'm still in favor of adding that autorelease feature in Travis.

[2016-06-10 17:49] jezdez commented on #19
Ok, I'll set it up

[2016-06-11 18:38] cyberdelia opened #21 "Change repo link"
I would like to change the repo link for [django-pipeline](https://github.com/jazzband/django-pipeline), to point to : https://django-pipeline.readthedocs.io

See jazzband/django-pipeline#571.

Thanks!

[2016-06-11 20:59] jezdez commented on #21
Done!

[2016-06-11 20:59] #21 closed

[2016-06-11 21:00] cyberdelia commented on #21
Thanks a lot!

[2016-06-23 12:12] jezdez commented on #19
@pydanny Can you add the "jazzband" user to the PyPI project please?

[2016-06-23 22:40] pydanny commented on #19
@jezdez Done!

[2016-06-24 12:48] jezdez commented on #19
@pydanny Great, I've enabled it

[2016-06-24 12:48] #19 closed

[2016-07-06 07:27] sobolevn opened #22 "Communication"
I have a strong feeling that we are missing a huge thing here. Communication is the key to a good community.

What are my suggestions?

- [x] Slack team (I have actually already created a team for the `jazzband`)
- [ ] Integrations for different services
- [ ] Add links and information to website, social accounts, emails, etc

Anything I am missing?

p.s. I think I need to set @jezdez as a slack-a

[2016-07-06 14:16] jezdez commented on #22
@sobolevn Thanks for opening the issue, this is an important topic that I've by design left open so far since the community was simply not there yet when Jazzband started.

That said next time you start something like this I'd appreciate a note before to be able to voice my concerns about using Slack. This is not only fair in the spirit of the Jazzband but key to doing my job as roadie. Since you'

[2016-07-06 16:44] sobolevn commented on #22
@jezdez Sorry for the rush. A team creation was indeed too early, but it was just a click away. I have sent you an invite to the email listed on your website. I will set you as an owner the moment you accept it, even if you do have concerns about using `slack` as a platform. But, do you? Anyway it can be freely removed with no harm.

I've seen a lot of good `slack` communities out there (`elixir`,

[2016-07-06 17:10] kevin-brown commented on #22
[Gitter](https://gitter.im/) is a common alternative. Though I would personally lean towards Slack or staying with IRC.

[2016-07-10 10:28] yakky opened #23 "Update django-robots description to point to the right readthedocs link"
Please update django-robots description to point to the right readthedocs link https://django-robots.readthedocs.io/. See jazzband/django-robots#60

[2016-07-21 10:38] aaugustin commented on #20
I'm OK with this (or with making the DDT a Django project, per the recent DEP -- either option works for me).

[2016-07-22 16:18] jezdez commented on #23
Done, sorry for the delay

[2016-07-22 16:18] #23 closed

[2016-07-22 16:30] jezdez commented on #20
@aaugustin Personally I'm not involved with the new Django DEP process so can't say if it's a sensible replacement for an own GitHub organization and maintainer team.

But I **do** have experience with onboarding apps into the Django organization and removing apps from contrib (formtools, localflavor) into separate repos and found it problematic in terms of getting enough people to help out.

Sinc

[2016-07-22 16:32] yakky commented on #23
@jezdez thanks!

[2016-07-22 16:53] robhudson commented on #20
I'm for whatever will help let debug toolbar survive and continue to be useful to people as Django moves forward. If right now the best option is jazzband, then I'm 👍.

[2016-07-23 11:46] aaugustin commented on #20
Indeed Jazzband is a better match for the kind of contributions the toolbar gets. Let's move it here.

[2016-07-26 08:46] jezdez commented on #20
Awesome, I'll start to work on the TODOs in this ticket

[2016-07-26 09:41] jezdez commented on #20
Okay, I've done all of those, except for Transifex where I'm not sure if anything needed to be changed. Let me know if you see any trouble with this..

[2016-07-26 09:41] #20 closed

[2016-07-26 09:41] jezdez commented on #20
Oh BTW, the URL is: https://github.com/jazzband/django-debug-toolbar

[2016-07-26 09:46] aaugustin commented on #20
Cool. Thank you so much for taking care of the migration.

[2016-07-26 11:01] jezdez commented on #20
@aaugustin My pleasure 💐

[2016-07-26 13:14] jezdez commented on #16
I've opened https://github.com/ncoghlan/contextlib2/pulls FYI

[2016-07-26 14:00] ncoghlan commented on #16
Thanks! Looking at the issue list reminded me that there was a bug fix for 3.5 that I haven't got around to backporting yet: https://github.com/ncoghlan/contextlib2/issues/7

Perhaps it would make sense to migrate over to jazzband first, and then do a 0.5.4 release with that change via the Jazzband process?

[2016-07-26 20:55] jezdez commented on #16
@ncoghlan Works for me, I've added a bunch of tasks to the issue description above and assigned those that I can't do to you. Lemme know if you have any questions.. :)

[2016-07-27 06:46] webknjaz opened #24 "Enable requires.io for @jazzband/django-debug-toolbar"
As asked in jazzband/django-debug-toolbar#863, I'm documenting this issue to track PR jazzband/django-debug-toolbar#858 improvements.
It is required that @jazzband/roadies enable repositories from this organization @ required.io, normal member cannot do this.

Also it would be nice to enable notifications via PR here [here](https://requires.io/github/jazzband/hooks/), if you didn't do this yet :)

[2016-07-27 07:31] jezdez commented on #24
Awesome, thanks!

I've enabled requires.io for django-debug-toolbar and set up a PR hook for it. I did *not* enable requires.io for all Jazzband projects since I first want to see how this goes.

[2016-07-27 07:31] #24 closed

[2016-07-27 07:40] ncoghlan commented on #16
+1 to auto-release via Travis - I guess that will need an entry in the README or docs explaining the implications for tagging releases, and what needs to be in place before actually pushing the tag to GitHub.

[2016-07-27 07:45] ncoghlan commented on #16
OK, jazzband now has maintainer access on PyPI, and jazzband-bot has access on RTD.

[2016-07-27 14:43] jezdez commented on #16
@ncoghlan Ok, I've sent the PR with the changes for the Jazzband move. Now would be the time for you to transfer the repo to the **jazzband** organization. I then can enable the various services.

[2016-07-27 14:58] ncoghlan commented on #16
The transfer request failed with "You don’t have admin rights to jazzband", so I've sent you a collaborator request for the contextlib2 repo, and will see if I can grant you sufficient privileges to initiate the transfer (otherwise I may be able to transfer it to you, and then you push it to the jazzband org)

[2016-07-27 15:06] jezdez commented on #16
@ncoghlan Ah, right, I assumed you already joined the Jazzband on https://jazzband.co. Once you've done that you can do the transfer.

[2016-07-27 15:14] ncoghlan commented on #16
Done! I also enabled Roadies access as part of the transfer.

[2016-07-27 15:27] jezdez commented on #16
Okay, Landscape.io and Travis-CI handled the move gracefully and kept it enabled, I enabled Coveralls manually again.

I'll now set up the PyPI release via Travis-CI on pushing a git tag and send a PR for you to review. I'm not sure how you want to document that behavior in the README, so far no Jazzband has publicized this in the README, so not sure.

[2016-07-27 15:47] ncoghlan commented on #16
Nice! I'll figure out documentation for the release process when I put the 0.5.4 release together - the main reason I want to write a checklist for it is that contextlib2 releases tend to be so far apart that *I* need a written reminder of how to do it :)

I'll also note the migration to Jazzband in the 0.5.4 release notes - thanks for setting up the org!

[2016-07-27 15:47] #16 closed

[2016-07-27 15:47] jezdez commented on #16
@ncoghlan No problem, glad I was able to help :)

[2016-07-30 14:57] camilonova opened #25 "Please add the readthedocs webhook"
To this https://github.com/jazzband/django-axes

Thanks.

[2016-07-31 17:29] jezdez commented on #25
Sure, can you add **jazzband-bot** as a maintainer to the RTD project on https://readthedocs.org/dashboard/django-axes/users/?

[2016-07-31 17:30] jezdez commented on #22
This is currently ongoing..

[2016-08-01 12:37] camilonova commented on #25
Done

[2016-08-01 18:53] jezdez commented on #25
Awesome, I've enabled it.

[2016-08-01 18:53] #25 closed

[2016-08-01 22:50] camilonova commented on #25
Thanks

[2016-08-02 07:42] jleclanche opened #26 "Requesting django-push-notifications"
As discussed on IRC, I'm the author of django-push-notifications and I would like to have the project join the band.

https://github.com/jleclanche/django-push-notifications

[2016-08-06 12:03] mdamien opened #27 "Request for django-simple-email-confirmation"
I've been transfered as main maintainer to this repo: https://github.com/mfogel/django-simple-email-confirmation/

The project was kind of abandonned and I would like to transfer the project to jazzband. I'm gonna help making the test suite green again and reviewing the PRs.

The issues where we discussed the transfer, for reference:

https://github.com/mfogel/django-simple-email-confirmation/issu

[2016-08-07 20:27] mfogel commented on #27
👍

jazzband folks - if there's anything needed from me to help out this transfer happen just let me know. Thanks.

[2016-08-09 03:30] kevin-brown commented on #14
Given that django-el-pagination is forked from (and endorsed by) django-endless-pagination, I'd imagine that would be the project (if any) that would be a candidate for migration to Jazzband. But it also appears that @shtalinberg is actively maintaining that project with recent releases.

Note that @frankban updated the README shortly after this ticket was created, making it clear that there are b

[2016-08-09 07:48] jleclanche commented on #22
I have had a lot of success using [gitter-irc-bot](https://github.com/finnp/gitter-irc-bot) to do a two-way mirror between gitter and irc. It's easy to set up.

[2016-08-22 21:09] jazzband-bot opened #28 "Review transfer of project test-repo"
This issue tracks the transfer of the GitHub project test-repo (https://github.com/jazzband/test-repo)Transferred to Jazzband by: @jezdez (https://github.com/jezdez)Please review the TODO list below carefully and adapt it to the project if needed.

The goal of this issue is to make sure the project adheres to the [Jazzband guidelines](https://jazzband.co/about/guidelines) after it has been transfe

[2016-08-22 21:42] jazzband-bot opened #29 "Review transfer of project test-repo"
This issue tracks the transfer of the GitHub project test-repo (https://github.com/jazzband/test-repo)Transferred to Jazzband by: @jezdez (https://github.com/jezdez)Please review the TODO list below carefully and adapt it to the project if needed.

The goal of this issue is to make sure the project adheres to the [Jazzband guidelines](https://jazzband.co/about/guidelines) after it has been transfe

[2016-08-22 21:43] #28 closed

[2016-08-22 21:43] #29 closed

[2016-08-22 21:48] jazzband-bot opened #30 "Review transfer of project test-repo"
This issue tracks the transfer of the GitHub project test-repo (https://github.com/jazzband/test-repo) that was initiated by: @jezdez

Please review the TODO list below carefully and adapt it to the project if needed.

The goal of this issue is to make sure the project adheres to the [Jazzband guidelines](https://jazzband.co/about/guidelines) after it has been transferred to the Jazzband GitHub or

[2016-08-22 21:58] #30 closed

[2016-08-22 21:58] jazzband-bot opened #31 "Review transfer of project test-repo"
This issue tracks the transfer of the GitHub project test-repo (https://github.com/jazzband/test-repo) that was initiated by: @jezdez

Please review the TODO list below carefully and adapt it to the project if needed.

The goal of this issue is to make sure the project adheres to the [Jazzband guidelines](https://jazzband.co/about/guidelines) after it has been transferred to the Jazzband GitHub or

[2016-08-22 22:03] #31 closed

[2016-08-22 22:07] jazzband-bot opened #32 "Review transfer of project test-repo"
This issue tracks the transfer of the GitHub project [test-repo](https://github.com/jazzband/test-repo) that was initiated by: @jezdez

Please review the TODO list below carefully and adapt it to the project if needed.

The goal of this issue is to make sure the project adheres to the [Jazzband guidelines](https://jazzband.co/about/guidelines) after it has been transferred to the Jazzband GitHub o

[2016-08-22 22:13] #32 closed

[2016-08-22 22:17] jazzband-bot opened #33 "Review project test-repo"
This issue tracks the review of the GitHub project [test-repo](https://github.com/jazzband/test-repo) that was initiated by @jezdez

See the TODO list below for common tasks to work on. The goal of this review is to make sure the project adheres to the [Jazzband guidelines](https://jazzband.co/about/guidelines) after it has been transferred to the Jazzband GitHub organization or was newly created.

[2016-08-22 22:18] #33 closed

[2016-10-24 11:07] jazzband-bot opened #34 "Implement Jazzband guidelines for project tasty"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [tasty](https://github.com/jazzband/tasty)

It was initiated by @lwm who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case the proj

[2016-10-24 12:40] jezdez commented on #34
Hey @lwm, it seems as if you've moved the repo back again to https://github.com/lwm/tasty. Can you clarify whether this was just a test?

[2016-10-24 12:41] jezdez commented on #34
Note: The defacto standard language for Jazzband project is Python, while tasty seems to be written in Haskell. In case you were wondering if you can move tasty to Jazzband, that'd be a simple showstopper.

[2016-10-24 12:49] lwm commented on #34
Hi @jezdez, it was a mistake when I was making a fork. So please ignore :taco:

[2016-10-24 12:49] #34 closed

[2016-10-24 13:37] jezdez commented on #34
@lwm Cheers!

[2016-11-01 22:47] chadgh opened #35 "bitbucket projects considered for inclusion?"
I'm just wondering if projects hosted on bitbucket might be considered for inclusion down the road?

[2016-11-02 09:32] jezdez commented on #35
That's difficult to say since I haven't fully researched if Bitbucket's API allows the same level of integration of the Jazzband code as GitHub's API does, e.g. to add users to an own team etc automatically. But that's just a matter of priority not a general disapproval of Bitbucket, so it may happen eventually.

[2016-11-02 13:58] chadgh commented on #35
Thanks for the information. I think it would be great to have someday, but it isn't a huge deal.

[2016-11-02 13:58] #35 closed

[2016-11-09 00:30] andrewsmedina opened #36 "develop default branch of `django-admin2`"
`django-admin2` uses develop branch as the default. someone can change it in the project settings?

[2016-11-09 08:32] jezdez commented on #36
@andrewsmedina The develop branch is already set up as the default branch:

![screen shot 2016-11-09 at 09 32 33](https://cloud.githubusercontent.com/assets/1610/20131706/7a11c1b0-a65f-11e6-9477-298d1a6d0407.png)

[2016-11-09 14:34] andrewsmedina commented on #36
@jezdez thank you!

[2016-11-09 14:34] #36 closed

[2016-11-10 14:29] mdamien commented on #27
:up: @jezdez ?

[2016-12-09 17:19] kmike opened #37 "django-widget-tweaks"
Hey, I want to move https://github.com/kmike/django-widget-tweaks to jazzband org. Are you ok with that? Did I get it right, and the required steps are:

1. CONTRIBUTING.md file with a link to jazzband and Contributor Code of Conduct?
2. setup pypi deployments via Travis (is it required?) and grant jazzband access to it;
3. transfer the repo, update links?

[2017-02-10 16:11] neithere opened #38 "Proposing django-autoslug"
Hi roadies,

I've been recently [advised](https://github.com/neithere/django-autoslug/pull/16#issuecomment-277950620) to move my semi-abandoned but still somewhat popular pet project [django-autoslug](http://django-autoslug.readthedocs.io/en/latest/) to JazzBand. There are a few pull requests which are necessary to merge, but I haven't had enough time for that for quite a while. I think it would b

[2017-02-17 08:41] jazzband-bot opened #39 "Implement Jazzband guidelines for project pip-tools"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [pip-tools](https://github.com/jazzband/pip-tools)

It was initiated by @nvie who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case

[2017-02-17 08:41] jazzband-bot opened #40 "Implement Jazzband guidelines for project pip-tools"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [pip-tools](https://github.com/jazzband/pip-tools)

It was initiated by @nvie who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case

[2017-02-17 08:41] jazzband-bot opened #41 "Implement Jazzband guidelines for project pip-tools"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [pip-tools](https://github.com/jazzband/pip-tools)

It was initiated by @nvie who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case

[2017-02-17 08:52] nvie commented on #40
Dupe of #39 ?

[2017-02-17 08:52] nvie commented on #41
Dupe of #39?

[2017-02-17 09:15] nvie opened #42 "Request for adding PyPI password to pip-tools"
Hello roadies! Can you add the encrypted jazzband PyPI account password to this project's `.travis.yml` file, please? Many thanks!

https://github.com/jazzband/pip-tools/blob/master/.travis.yml

[2017-02-17 09:41] jezdez commented on #41
Oh odd, this should have been de-duplicated..

[2017-02-17 09:41] #41 closed

[2017-02-17 09:41] #40 closed

[2017-02-17 09:42] jezdez commented on #39
Amazing, thanks @nvie!

[2017-02-17 09:42] #39 closed

[2017-02-17 09:42] jezdez commented on #42
Yep, will do!

[2017-02-17 20:17] jazzband-bot opened #43 "Implement Jazzband guidelines for project collectfast"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [collectfast](https://github.com/jazzband/collectfast)

It was initiated by @antonagestam who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to updat

[2017-02-20 18:08] davidovich commented on #42
@jezdez Hi, I would like to prepare 1.8.1rc1 of pip-tools, is the setup ready ? Thanks!

[2017-02-20 18:31] davidovich commented on #43
Sorry about the label noise! git hub interpreted my "exploring tags"+escape as a valid input....

[2017-02-21 08:25] jezdez commented on #43
@antonagestam Hey, do you intend to apply the updates to the repo as listed in the TODO list above?

[2017-02-21 08:54] jezdez commented on #42
Fixed in https://github.com/jazzband/pip-tools/compare/7cdb33ad0a583441a301ba6d0dee3b6f114a6cb5...2df97dad6e840e2b505e4c440610f1c30c837d46

Note, this changes the way the tox environments are integrated into Travis. It uses [tox-travis](http://tox-travis.readthedocs.io/) now which automatically maps the environments to Travis' Python versions. Also it only ever does the PyPI deploy if *all* other

[2017-02-21 08:54] #42 closed

[2017-02-21 08:58] jezdez commented on #38
@neithere

1. Yeah, this is desirable assuming you follow the [guidelines](https://jazzband.co/about/guidelines). django-autoslug seem to be well-suited for that.

2. Once you transferred the repo to the Jazzband organization via [GitHub's transfer feature](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/#transferring-a-repository-to-another-user-account-o

[2017-02-21 09:00] jezdez commented on #37
@kmike Once you've transferred the repo to the Jazzband organization the Jazzband bot will automatically create a ticket here in the roadies repo (and assign the roadies and you) with a TODO list. The app seem to fit nicely with Jazzband.

[2017-02-21 09:04] jezdez commented on #27
@mdamien (Apologies for the late reply!) This seems like a good candidate but misses some pieces from the [guidelines](https://jazzband.co/about/guidelines). I would recommend expanding the docs a bit and maybe set up a Sphinx documentation on ReadTheDocs. Once you transfer the repo to the Jazzband GitHub organization the Jazzband bot will automatically open a ticket here in the roadies repo with

[2017-02-21 09:06] jezdez commented on #26
Assuming you follow the [guidelines](https://jazzband.co/about/guidelines) this should be good to go. I recommend creating a Sphinx documentation and move the README into that, then create a ReadTheDocs project. Once you've moved the repo to the Jazzband organization the Jazzband bot will automatically open a ticket here in the roadies repo to track TODOs for the Jazzband adoption.

[2017-02-21 09:06] jezdez commented on #13
@bartTC Any news on this?

[2017-02-21 09:34] mdamien commented on #27
@jezdez thanks, will do !

[2017-02-21 12:08] davidovich commented on #42
Excellent, thank you!

[2017-02-21 12:10] nvie commented on #42
Thanks for driving this one together @jezdez and @davidovich! ❤️

[2017-02-21 12:39] antonagestam commented on #43
@jezdez Yes! I'll try to get to it during this week! :)

[2017-02-23 11:26] antonagestam commented on #43
I need to grant Appveyor access to the repository and have requested "Organization access" for the appveyor app. Can a roadie take care of that for me?

[2017-02-23 12:33] jezdez commented on #43
@antonagestam Done!

[2017-02-23 13:43] antonagestam commented on #43
Thanks @jezdez  🙌

[2017-02-23 14:05] antonagestam commented on #43
I think I'm pretty much done. The test suit uses an S3 bucket for integration tests, that's under my AWS bucket, but I'm fine keeping it that way if you don't have any objections.

And the project doesn't have a readthedocs page since I think the docs fit well in the README.

What's the next step now? :)

[2017-02-23 14:44] jezdez commented on #43
@antonagestam Hm, the S3 bucket is a blocker as that would make the project continue to rely on you personally while a goal of Jazzband is to remove that reliance from individual contributors. I would suggest to port the tests to use [moto](https://github.com/spulec/moto) which in theory should be as easy as decorate the test functions with `moto.mock_s3`.

[2017-02-23 16:22] antonagestam commented on #43
@jezdez Cool, that makes sense. I'll look into moto!

[2017-02-24 11:16] bartTC commented on #13
I haven't managed to get into this and I dont think I will have time in near future. I'll close this request and will reopen it, once tests and docs are done.

Thanks for the patience @jezdez.

[2017-02-24 11:17] bartTC commented on #13
Figured I can't close this myself, please do so @jezdez.

[2017-02-24 12:43] jezdez commented on #13
Works for me, @bartTC!

[2017-02-24 12:43] #13 closed

[2017-02-28 13:28] triat commented on #22
Hi, do we have any follow up on this discussion ? I see that slack was checked but not really approved, what's the status now ?

[2017-02-28 19:34] antonagestam commented on #22
Maybe it would be a good idea to try and describe what's lacking and what value you think a different set of tools adds. For me chat apps only add noise and stress and I think embracing isn't a great idea.

I would much prefer a forum kind if thing where the history of discussions is more approachable.

[2017-02-28 20:26] jezdez commented on #22
I'll have a follow up eventually yeah, been investigating more platforms that would work from the roadies side.

One thing is clear though, Slack is not the solution for this as it would increase the barrier of participation again and cost a lot of money per active participant for essential functionality.

[2017-02-28 20:34] mvantellingen opened #44 "Proposing to move localshop to jazzband"
Hi all, I'd like to move a project of mine here: https://github.com/mvantellingen/localshop

I know it's still used by a lot of companies today so I hope this will be a good place to continue the development of it. Scanning other tickets it seems I just need to move the repo here if there is an 'OK' and an issue with a list of steps required will then be created by a bot?

[2017-02-28 20:47] mvantellingen commented on #44
Closing this one as it was answered on irc

[2017-02-28 20:47] #44 closed

[2017-02-28 20:48] jazzband-bot opened #45 "Implement Jazzband guidelines for project localshop"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [localshop](https://github.com/jazzband/localshop)

It was initiated by @mvantellingen who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update i

[2017-02-28 20:48] jazzband-bot opened #46 "Implement Jazzband guidelines for project localshop"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [localshop](https://github.com/jazzband/localshop)

It was initiated by @mvantellingen who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update i

[2017-02-28 20:48] jazzband-bot opened #47 "Implement Jazzband guidelines for project localshop"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [localshop](https://github.com/jazzband/localshop)

It was initiated by @mvantellingen who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update i

[2017-02-28 20:48] jazzband-bot opened #48 "Implement Jazzband guidelines for project localshop"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [localshop](https://github.com/jazzband/localshop)

It was initiated by @mvantellingen who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update i

[2017-02-28 20:51] mvantellingen commented on #45
Closed due to duplication

[2017-02-28 20:51] #45 closed

[2017-02-28 20:51] mvantellingen commented on #46
Closed due to duplication

[2017-02-28 20:51] #46 closed

[2017-02-28 20:51] mvantellingen commented on #47
Closed due to duplication

[2017-02-28 20:51] #47 closed

[2017-02-28 21:10] mvantellingen commented on #48
I don't seem to have access to the readthedocs account. I'm trying to reach out to other people who might have access (@canassa).

[2017-03-01 05:40] triat commented on #22
If you're looking only for a forum like system, maybe having an other repo for the members with proper tags could do the job? I don't exactly know what's the lack right now, as I just arrived.

From my point of view, it could be great to have somewhere where we can, as new member, come and ask for the beginner questions and maybe find someone who will introduce you a bit with the repos.

There is

[2017-03-11 07:24] mathieuhinderyckx opened #49 "Take over djmail"
The package https://github.com/bameda/djmail seems not actively maintained anymore. I have contributed a few times, leading to the latest release, and use it for several projects. However, sinc a few months the current maintainer does not reply anymore. Aso the documentation was changed with the last PR, but he has not updated the site where it is located after the merge/release. There is an open

[2017-03-11 22:13] antonagestam commented on #43
Sorry for the silence here. Using moto wasn't as straight forward as I'd hoped and I bumped into problems when trying to use it. I'll look into it again as soon as I can find the time.

Also, I thought I had Appveyor working, but it looks like it's not now and I can't check the web hooks since I don't have access to the settings for the Github project anymore. Do you mind helping out on that point

[2017-03-11 22:37] #49 closed

[2017-03-13 14:35] jazzband-bot opened #50 "Implement Jazzband guidelines for project TvShowApp"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [TvShowApp](https://github.com/jazzband/TvShowApp)

It was initiated by @dhilipsiva who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it i

[2017-03-13 16:59] dhilipsiva commented on #50
Apologies on this one guys. I accidentally forked this into jazzband org.

On Mar 13, 2017 8:05 PM, "Jazzband Bot" <notifications@github.com> wrote:

[2017-03-13 17:35] #50 closed

[2017-03-13 18:02] jezdez commented on #49
@mhindery The person to do the actual transfer via GitHub is the owner of the repo @bameda. I'd suggest to send him an email or some other message to ask him to move the project over to Jazzband. If they don't respond or decline I'm afraid there is nothing we can do, Jazzband doesn't want to create hostile forks of projects but always include the original authors/maintainers to increase the chance

[2017-03-13 18:04] mhindery commented on #49
I have closed this issue as he has replied to my contact attempts, and made clear that he did not abandon the project, but has been simply busy with other things the past few months.

[2017-03-13 18:18] jezdez commented on #49
@mhindery Ah, awesome, glad to hear it 👍

[2017-03-27 14:53] davidovich opened #51 "Add AppVeyor support to pip-tools project"
Hi,

I would find it useful to add Windows tests to pip-tools through AppVeyor, but I am not sure what is needed from the roadies to allow this.

Thanks!

[2017-03-27 16:18] davidovich commented on #51
I have made progress, I will keep you posted. It seems everything is already setup to allow AppVeyor functionality.

[2017-03-27 20:36] davidovich commented on #51
So it seems that pip-tools needs some intervention from the roadies. I guess we need to configure a post commit hook to trigger an appveyor build. Initial support in this PR: https://github.com/jazzband/pip-tools/pull/482, but that embryo is not enough.

[2017-03-28 11:55] jezdez commented on #51
@davidovich This is now enabled. Let me know if you need anything else, like change the configuration or something.

[2017-03-28 11:55] #51 closed

[2017-03-28 13:50] davidovich commented on #51
Thanks @jezdez everything works as expected.

https://ci.appveyor.com/project/jazzband-bot/pip-tools

[2017-04-15 05:48] carljm opened #52 "interest in accepting django-model-utils?"
Hi jazzband roadies! Cool project! Any interest in having django-model-utils join the band (see https://github.com/carljm/django-model-utils/issues/272)? I read the requirements and I think django-model-utils meets them: it's an established and stable project with a history of broad contributions from the community, it has documentation and good test coverage with tox/travis integration. I'm just

[2017-04-15 07:34] jezdez commented on #52
@carljm Sounds good to me! Once you do the transfer there will be an issue opened with a TODO list for the adoption.

[2017-04-15 15:41] jazzband-bot opened #53 "Implement Jazzband guidelines for project django-model-utils"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-model-utils](https://github.com/jazzband/django-model-utils)

It was initiated by @carljm who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free

[2017-04-15 15:41] jazzband-bot opened #54 "Implement Jazzband guidelines for project django-model-utils"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-model-utils](https://github.com/jazzband/django-model-utils)

It was initiated by @carljm who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free

[2017-04-15 15:41] jazzband-bot opened #55 "Implement Jazzband guidelines for project django-model-utils"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-model-utils](https://github.com/jazzband/django-model-utils)

It was initiated by @carljm who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free

[2017-04-15 15:41] jazzband-bot opened #56 "Implement Jazzband guidelines for project django-model-utils"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-model-utils](https://github.com/jazzband/django-model-utils)

It was initiated by @carljm who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free

[2017-04-15 16:02] carljm commented on #56
I took care of everything except coveralls. Not sure what needs to be done there, but it doesn't seem like I have access to do it anymore?

[2017-04-18 08:36] #53 closed

[2017-04-18 08:36] #54 closed

[2017-04-18 08:36] #55 closed

[2017-04-18 08:39] jezdez commented on #56
@carljm Sorry for the noise of the other tickets. I enabled coveralls.

[2017-04-18 08:52] jezdez commented on #56
Closing as that's done.

[2017-04-18 08:52] #56 closed

[2017-04-18 08:52] #52 closed

[2017-04-18 08:52] jezdez commented on #48
Closing as that seems to have been done.

[2017-04-18 08:52] #48 closed

[2017-04-19 03:54] carljm commented on #56
Thank you! :tada: :sparkles:

[2017-05-23 19:21] mariocesar opened #57 "Proposal move sorl-thumbnail"
sorl-thumbnail is a thumbnail app to help django projects perform image cropping, resize, and various image transformations.

Will love to move the maintainance lead to @jazzband.

- [x] CONTRIBUTING.md mentioning jazzband
- [x] README.md badge and mention

[2017-05-24 08:22] jezdez commented on #57
@mariocesar Hey, sorry I missed you on IRC, so your first changes are good, the best thing would be to actually transfer the repo to the jazzband organization. The jazzbandbot will then open a ticket with more TODOs. Feel free to close this ticket once you've done that.

[2017-05-24 14:32] mariocesar commented on #57
I'm not able to transfer the repo, I'm not part of the organization.

How do I get to be a member?

[2017-05-24 16:02] jezdez commented on #57
Go to https://jazzband.co and join there.

[2017-05-25 16:41] jazzband-bot opened #58 "Implement Jazzband guidelines for project sorl-thumbnail"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [sorl-thumbnail](https://github.com/jazzband/sorl-thumbnail)

It was initiated by @mariocesar who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to u

[2017-05-25 16:41] jazzband-bot opened #59 "Implement Jazzband guidelines for project sorl-thumbnail"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [sorl-thumbnail](https://github.com/jazzband/sorl-thumbnail)

It was initiated by @mariocesar who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to u

[2017-05-25 16:41] jazzband-bot opened #60 "Implement Jazzband guidelines for project sorl-thumbnail"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [sorl-thumbnail](https://github.com/jazzband/sorl-thumbnail)

It was initiated by @mariocesar who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to u

[2017-05-25 16:41] jazzband-bot opened #61 "Implement Jazzband guidelines for project sorl-thumbnail"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [sorl-thumbnail](https://github.com/jazzband/sorl-thumbnail)

It was initiated by @mariocesar who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to u

[2017-05-25 16:41] jazzband-bot opened #62 "Implement Jazzband guidelines for project sorl-thumbnail"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [sorl-thumbnail](https://github.com/jazzband/sorl-thumbnail)

It was initiated by @mariocesar who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to u

[2017-05-25 16:42] mariocesar commented on #57
Dobe

[2017-05-25 17:21] #58 closed

[2017-05-25 17:21] #59 closed

[2017-05-25 17:21] #60 closed

[2017-05-25 17:21] #61 closed

[2017-05-26 17:41] #57 closed

[2017-05-26 17:42] mariocesar commented on #62
I review all the checklist.  Good to go

[2017-06-02 16:40] treyhunner opened #63 "Explain how PyPI deployments work in FAQ"
I am considering whether I could/should move [django-simple-history](https://github.com/treyhunner/django-simple-history) to jazzband and I realized I don't understand the expected process for maintaining PyPI deployments.

Would I assign one or more roadies as PyPI maintainers? Would I keep myself as the sole PyPI maintainer and deploy when someone else pinged me asking me to do so? Would we stop

[2017-06-08 03:18] vphilippon opened #64 "PyPi deployment issue with the pip-tools project: 403"
Hi,

As a jazzband member, I attempted to make a tag based release for the jazzband/piptools projet: 1.10.0rc1.
The deployment fails with a 401 error, stating that I must be identified to edit a project.

See this Travis-ci log: https://travis-ci.org/jazzband/pip-tools/jobs/240572077

I don't see any changes to the config since the last release (which was usually done by @davidovich )
Although in

[2017-06-08 08:47] jezdez commented on #64
@vphilippon We're in the proccess of investigating a security related issue and have disabled PyPI releases in the meantime.

[2017-06-08 13:08] vphilippon commented on #64
@jezdez Ok, thanks for the heads up!
Notify me when it's done, or if you want to use me (and my release-candidate attempt) as a test subject.

[2017-06-11 09:36] thomasf opened #65 "django-minio-storage"
Hi there..

The plans for moving https://github.com/tomhoule/django-minio-storage/ into jazzband maintainence has advanced..

 I suggested to the original author in an e-mail conversation that he will transfer his repository to the jazzband org after which I can push all changes which I've made at https://github.com/py-pa/django-minio-storage and manually transfer any issues or other repository me

[2017-06-11 09:41] thomasf commented on #65
I just got a new idea.. If he added me as co owner of his github project I can maybe move it to jazzband myself since I'm a member? I'm not familiar with how those premissions works outside of github orgs or with jazzband.

[2017-06-14 13:58] vphilippon commented on #64
@jezdez Do you have an ETA on this? Just to know if we're talking days, weeks or longer?

[2017-07-02 15:43] jazzband-bot opened #66 "Implement Jazzband guidelines for project silk"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [silk](https://github.com/jazzband/silk)

It was initiated by @mtford90 who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case the p

[2017-07-02 15:43] jazzband-bot opened #67 "Implement Jazzband guidelines for project silk"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [silk](https://github.com/jazzband/silk)

It was initiated by @mtford90 who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case the p

[2017-07-02 15:43] jazzband-bot opened #68 "Implement Jazzband guidelines for project silk"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [silk](https://github.com/jazzband/silk)

It was initiated by @mtford90 who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case the p

[2017-07-02 15:48] #66 closed

[2017-07-02 15:48] #68 closed

[2017-07-02 15:49] mtford90 commented on #68
@jezdez closed due to duplicate

[2017-07-02 15:49] mtford90 commented on #66
@jezdez closed due to duplicate

[2017-07-08 11:23] Flimm opened #69 "Add encrypted password of PyPI jazzband to sorl-thumbnail"
Jazzband sorl-thumbnail is ready to auto-release on PyPI whenever a Git tag is created and pushed to GitHub. The `.travis.yml` has been modified, the only step left is to add the encrypted password.

https://github.com/jazzband/sorl-thumbnail

I have followed the instructions found at https://jazzband.co/about/releases

@mariocesar This is part of #62.

[2017-07-11 11:38] jazzband-bot opened #70 "Implement Jazzband guidelines for project django-widget-tweaks"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-widget-tweaks](https://github.com/jazzband/django-widget-tweaks)

It was initiated by @kmike who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel fr

[2017-07-11 11:47] kmike commented on #37
Sorry, I missed your answer :) Thanks! Repository is moved; TODO list is here: https://github.com/jazzband/roadies/issues/70.

[2017-07-11 11:47] #37 closed

[2017-07-11 11:48] kmike commented on #70
I've added jazzband to pypi, and there was no rtfd account in a first place. Unfortunately I won't have time for other changes in a near future :(

[2017-07-13 13:29] Flimm opened #71 "Set up PyPi releases for collectfast"
Tthe encrypted password of the jazzband PyPI account needs to be added to collectfast's `.travis.yml` with a pull request.

See:

https://github.com/jazzband/collectfast

https://jazzband.co/about/releases

This is part of #43.

[2017-07-13 13:56] vphilippon commented on #64
@jezdez Update here:
After retrying, I'm now hitting a different error:
[code]
Is this currently expected, or is there something wrong?

[2017-07-13 22:22] antonagestam opened #72 "Regret moving Collectfast to jazzband"
Hi roadies,

I've been slow on finalizing moving Collectfast to Jazzband. Decoupling from integration tests talking to my personal s3 bucket turned out to not be straight forward. Today a Jazzband member merged a pull request that I had been holding off on merging, merging in commits that I had intended to squash into one and that would have been fixed in another pull request that fixed the issue

[2017-07-14 07:51] blueyed commented on #72
Maybe https://help.github.com/articles/about-codeowners/ could be used, to require approval from a code owner?

/cc @Flimm

[2017-07-14 08:26] Flimm commented on #72
@antonagestam That person was me. I didn't see the other pull request, I'm sorry about that. I hope my contributions improved the code-base, even if they didn't go the better route that you described.

Obviously, Jazzband members are free to create pull requests if they would like a second pair of eyes to review the changes, but I was under the impression that the goal of Jazzband was to make that

[2017-07-14 08:54] antonagestam commented on #72
@blueyed That won't prevent members from comitting to master, right?

@Flimm Just to make it super clear, my problem here is not with your contributions specifically, but rather the lack of processes/guidelines.

[2017-07-14 09:02] antonagestam commented on #72
Before moving the project to Jazzband, open discussions about new features happened in Github Issues where they were vetted and improved before they were merged. The final decision always landed on me. In the context of Jazzband, I don't think that should land on one person specifically since that would defeat some of its purpose, but I think there needs to be some process in place for decision ma

[2017-07-14 09:49] triat commented on #72
Yea I kind of had the same feeling when I joined Jazzband, there is not special rule on who can push what ... I would have expected a small check on the capacities of the developers to make sure that we don't ends up with broken repo because people mess up with it.

I don't know the position of the rookies on that, I just have the feeling that having different kind of developers might help to avoi

[2017-07-16 00:53] federicobond opened #73 "Proposing django-form-utils"
[django-form-utils](https://github.com/carljm/django-form-utils) contains some functionality that I found useful. I [reached out](https://github.com/carljm/django-form-utils/issues/18) to its maintainer to evaluate the possibility of migrating to Jazzband, since he is unable to continue maintaining it, and he would be fine with such a transition.

Let me know if this is a project you find valuable

[2017-07-16 17:19] antonagestam commented on #72
It also doesn't help that I don't have admin rights for the project anymore, so I can't make master a protected branch.

I've added some guidelines in the PR referenced above, would like to get your thoughts on its contents.

[2017-08-03 15:17] avelis commented on #67
@jezdez @mtford90 I have added a commit to make publish releases on created tags. However,

Jazzband need to have a maintainer role to the silk project. I don't have PyPi privileges to make that administrative change.

Any help in this is most appreciated.

[2017-08-12 18:50] justinmayer commented on #38
Hi Andy. I agree with @jezdez that `django-autoslug` seems well-suited for Jazzband. Would you please take a moment and transfer the repo to the Jazzband organization via [GitHub's transfer feature](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/#transferring-a-repository-to-another-user-account-or-to-an-organization)? That way we can collectively work to

[2017-08-15 08:31] Flimm commented on #69
@jezdez It seems that you are the only Jazzband roadie at the moment. Could you take a look at this? This issue was field over a month ago, and sorl-thumbnail hasn't had a new release on PyPI for a year and a half.

[2017-08-25 23:05] justinmayer commented on #38
@neithere: Please feel free to add me as an owner of the current `django-autoslug` repo so I can assist with transferring it here to JazzBand. Would that be helpful?

[2017-08-28 15:57] camilonova commented on #69
I just added the password.

[2017-08-28 15:58] camilonova commented on #62
Looks like we are cool with this. Closing.

[2017-08-28 15:58] #62 closed

[2017-08-28 16:08] camilonova commented on #72
I would like to add that moving somehow is better than not moving at all.

One of the reasons a lot of packages are not moving is because process is complicated or they are depending only on one person. We as a community must push towards giving others support to take their own choices and decisions in favor of moving the project forward, otherwise they will stay the same way as it is, and thats i

[2017-08-28 16:34] camilonova commented on #69
@jezdez I copied the password from another project, but I guess the encrypted password doesn't work that way. Could you please encrypt the password and change it?

[2017-08-29 18:16] jezdez commented on #69
@camilonova Unfortunately I can't at the moment due to an ongoing security review. I'm currently able to go into details publicly.

[2017-08-29 19:13] blueyed commented on #69
s/able/unable/ ?

[2017-08-29 19:45] jezdez commented on #69
@blueyed Yep, thanks, apparently just like typing ;)

[2017-08-30 00:10] camilonova commented on #69
@jezdez how about tomorrow?

[2017-08-30 09:12] triat commented on #69
@jezdez It's been a long time that you're working on this security review, is there any place where we can have an overview of what's going on ?

[2017-09-07 16:18] mbeacom commented on #72
How is this repository proceeding? It would probably be ideal to allow original repository owners to establish merge process at their discretion. I sympathize with @antonagestam, but understand the need to keep open source repositories alive.

While I understand that projects migrated to jazzband can benefit from loose code merging for speed, I believe that code reviews are an essential step in no

[2017-09-18 15:29] hobarrera commented on #69
Can't you provide the password [via the travis UI](https://travis-ci.org/jazzband/roadies/settings) either?

(Upside of that is that you *can* copy-paste it without doing anytihng funky).

[2017-09-25 22:27] 007 commented on #64
Ping @jezdez @vphilippon - is this still a problem? Is `pip-tools` still blocked on releasing updates?

[2017-09-25 22:45] vphilippon commented on #64
Yes, this is still blocking `pip-tools` releases.

[2017-09-26 14:33] jezdez commented on #64
Hi all, I'm catching up on things after a long leave of absence this summer and will need more time to finish the fixes relating to this issue. In the meantime I'm happy to do a one-off release of pip-tools.

[2017-09-26 15:05] vphilippon commented on #64
@jezdez Wonderfull! I'll prepare a few things for the release (like the changelog), and I'll hit you up once it's ready.

[2017-09-27 14:30] vphilippon commented on #64
@jezdez Hi, the last PRs for 1.10.0 are merged.

You can go ahead with the release:
- Edit CHANGELOG.md to put the actual release date of 1.10.0.
- Put the 1.10.0 tag.
- Build and upload `pip-tools 1.10.0` to Pypi.

The sooner, the better 😄!
Thank you for your time!

[2017-09-27 15:18] jezdez commented on #64
@vphilippon Done! 🎁

[2017-10-10 22:39] antonagestam commented on #72
@jezdez At this point I think the best thing for the project would be if you would transfer it back to my account so that it can move forward.

Please tell me if there is anything I can do to help you decide on this issue. If you think improved guidelines is a good idea, please let us know and I am sure there are plenty of members willing to help authoring them.

[2017-10-11 17:00] mbeacom commented on #72
It's kind of sad to see a migration to jazzband leading to a dead repository versus a more active one.
In any case, hopefully this gets cleared up as it seems to have caused a deadlock on PRs being merged to `collectfast`.

Is there anything that can be done to get the ball rolling again? Would you be open to new guidelines @antonagestam or is @jezdez transferring the repository back the only reso

[2017-10-19 09:43] GitRon commented on #69
Any news on this issue?

[2017-10-19 17:41] antonagestam commented on #72
@jezdez Please move the project back to my account so that I don't have to fork the repository and lose the issues history.

[2017-10-19 20:05] jezdez commented on #72
@antonagestam Sorry for the slow response folks, moving this now.

[2017-10-19 20:07] jezdez commented on #72
@antonagestam For the record, GitHub doesn't support moving a repo from an organization to an account, so I moved it first to my account and then requested the move to your account from there.

[2017-10-19 20:07] #72 closed

[2017-10-23 13:59] vphilippon commented on #64
While some releases were done manually, I have to reiterate that this is still a major blocking issue.

@jezdez Your help with manual releases was greatly appreciated, and I understand we can't just expect you to take care of the release of every project. But after 4 months, we need something to be done here.

If the issue cannot be fixed soon, maybe selecting a temporary "release manager" for pro

[2017-10-24 15:02] irconan commented on #67
@mtford90
Any progress on getting the jazzband account setup to make releases on pypi?
Would be really nice to be able to have a new silk release soon.

[2017-11-04 00:32] pycarlos commented on #69
Hi @jezdez any news?

[2017-11-06 15:04] camilonova commented on #69
@jezdez we are kind of stuck in here. Do you think there are more ways to work on those issues without your time?

[2017-11-14 23:00] vphilippon opened #74 "Allow Jazzband members to abort/restart build on Appveyor"
It looks like we have limited actions on appveyor, compared to travis-ci.

Is it possible to allow members to abort/restart builds on appveyor?

[2017-11-17 20:47] tony commented on #38
@neithere Did you give @justinmayer ownership yet?

[2017-11-18 22:08] jezdez commented on #71
Closing since the project got moved back to the author.

[2017-11-18 22:08] #71 closed

[2017-11-18 22:08] jezdez commented on #43
Closing since the project got moved back again.

[2017-11-18 22:08] #43 closed

[2017-11-18 22:23] jezdez commented on #69
Good news everyone, I've finished the feature for the site that will simplify the release process going forward and add the required precautions to prevent malicious releases. Thanks all for the patience.

I've documented it on https://jazzband.co/about/releases.

The short version:

I've worked on a way for Jazzband members to join individual projects as "project members" and also to designate on

[2017-11-18 22:49] jezdez commented on #74
So I've had to move the pip-tools Appveyor setup from account based of the jazzband-bot account to be "team based", as documented here: https://www.appveyor.com/docs/team-setup/#permissions

That means, build show up now here: https://ci.appveyor.com/project/jazzband/pip-tools and not https://ci.appveyor.com/project/jazzband-bot/pip-tools anymore. Links to old builds seem to continue to work thoug

[2017-11-18 22:51] jezdez commented on #74
FTR, I just manually triggered the "first" build for that new setup: https://ci.appveyor.com/project/jazzband/pip-tools/build/1.0.1

[2017-11-18 22:53] jezdez commented on #63
So, this has changed since you opened this, I just launched the new "lead project members" feature, that will allow people to have more power over releases without risking malicious releases. Docs are now here: https://jazzband.co/about/releases.

The short version:

I've worked on a way for Jazzband members to join individual projects as "project members" and also to designate one or many of thos

[2017-11-18 22:54] jezdez commented on #64
Good news everyone, especially @vphilippon, I've finished the feature for the site that will simplify the release process going forward and add the required precautions to prevent malicious releases. Thanks all for the patience.

The short version:

I've worked on a way for Jazzband members to join individual projects as "project members" and also to designate one or many of those to be "lead proj

[2017-11-18 22:58] jezdez commented on #10
So in https://github.com/jazzband/website/commit/8bac98e1a824989d2c464ccd91fdf6ba2290555d I've added per-project memberships, which I will map to GitHub teams so it's easier to be notified per-project with @jazzband/my-project etc. The UI hasn't been updated to show the membership feature, since I want to populate it with the contributors of each individual project (git commits, issues etc) and I

[2017-11-18 23:00] jezdez opened #75 "Document repository transfer"
We have the auto-ticketing when a transfer has been started, but we too often had to answer now how to do the transfer in the first place. We should document that in the docs and render it on the website.

[2017-11-18 23:01] jezdez commented on #38
@justinmayer Thank you for the offer to help. Anything that you need, please let me know.

PS: I just opened #75 to document the process of repo transfer better.

[2017-11-18 23:09] jezdez commented on #65
@thomasf Sorry for the delay in getting back to you.

I'm not completely following your request, lemme try to summarize:

1. the original author was okay with the move, but had no time
2. you forked it and made updates and wanted to apply those to the original project
3. you proposed to move the original project to the jazzband to be able to push your updates to the project
4. since opening this t

[2017-11-18 23:13] jezdez commented on #73
I think django-form-utils is a good match for Jazzband featurewise, but it sadly misses both automatic tests via Travis-CI and a documentation on Readthedocs.

I'm afraid that's a deal breaker since it'll simplify maintenance dramatically.

But if you're still interested, I'd like to encourage you to add those things, since there are docs in the README and a test setup based on tox already. Just n

[2017-11-18 23:34] federicobond commented on #73
Hi @jezdez, thanks for responding. I have since convinced myself that it makes better sense to migrate to django-crispy-forms, which continues to be actively maintained.

[2017-11-18 23:36] jezdez commented on #73
@federicobond Understood, thanks for the consideration though!

[2017-11-18 23:36] #73 closed

[2017-11-19 00:09] davidovich commented on #64
This is great news @jezdez. I'd like to propose @vphilippon also as he has taken over with great implication what I thought would be my role... :-). Projects on which we are assigned change and so dependencies also. This is why I think there should be more than one person with this role, if at all possible.

[2017-11-19 00:23] vphilippon commented on #64
@jezdez This news lands 1 week before my birthday, that's one great early gift. Thank you very, very, very much!

I'm certainly interested in taking the role of "lead" project member for pip-tools.
If having multiple leads is an option, then @davidovich I'd propose you join in too if you're interested, so I can at least have someone else in there so I can go on vacation with my mind at ease 😄 .

[2017-11-19 00:38] vphilippon commented on #74
Thank you for your work!

Somehow, I can't find where to manually trigger the build myself.
Then again, I can't see anywhere that I'm somehow linked to the Jazzband team either. Do you know If I should be able to verify that somewhere?

[2017-11-19 01:14] timgraham opened #76 "Add Tim Graham as lead on django-hosts"
https://github.com/jazzband/django-hosts

[2017-11-19 15:59] pycarlos commented on #69
Hi @jezdez thank you for your help, I can be responsible but I need advice to do it because will be my first time doing that.

[2017-11-20 10:54] jezdez commented on #76
Done. I've also updated the django-hosts setup to make sure of the Jazzband uploads/release system. Once you've tagged/pushed a release and Travis-CI has uploaded the release to Jazzband, you'll get an email about it. Let me know if you find issues with it.

[2017-11-20 13:43] timgraham commented on #76
I got the error "missing user" when trying to push a release: https://travis-ci.org/jazzband/django-hosts/jobs/304742382. I guess that's because `user: jazzband` was removed in https://github.com/jazzband/django-hosts/commit/1ec965ae11d3ea8b2b369a0a19b61ab4ea9e62dc? Thanks for your your help.

[2017-11-20 13:52] camilonova commented on #69
@jezdez count me in

[2017-11-20 14:11] thomasf commented on #65
yes, that sums it up correctly.. I have few things to do for the next release version of the package.  I'll take care of transferring the project to jazzband after the next release.

[2017-11-20 14:18] jezdez commented on #76
Hm, this is weird, I assumed I could just remove the user when I use one of the environment variables for the PyPI deploy method for Travis-CI.

[2017-11-20 15:24] jezdez commented on #76
@timgraham I've fixed it I think: https://github.com/jazzband/django-hosts/commit/54253d78f4d376e255fb1a36de813122c93da8f8 Can you try again?

[2017-11-20 15:28] jezdez commented on #65
@thomasf Excellent!

[2017-11-20 15:40] jezdez commented on #69
@pycarlos I haven't seen contributions from you in the repo, so I'm just going to go with @camilonova for now only. I hope you understand.

@camilonova I've added you to the project and updated the deploy config here: https://github.com/jazzband/sorl-thumbnail/commit/efaed432f86ee2fb41081ad3dd57c66058fcaab0

Closing as fixed for now 📦

[2017-11-20 15:40] #69 closed

[2017-11-20 15:41] jezdez commented on #76
Seems to have worked. Closing as fixed.

[2017-11-20 15:41] #76 closed

[2017-11-20 16:13] jezdez commented on #74
Hm, you're right, when I tried reproducing the build link, I couldn't. It should appear on https://ci.appveyor.com/project/jazzband/pip-tools I think.

I followed the docs and mapped the GitHub members team to a Appveyor team that has the permissions to run a build. I'm afraid that's all I see from my end :-/

I've written to the Appveyor support and asked if we're missing a crucial thing for this

[2017-11-20 16:32] jezdez commented on #64
Ok, I've pushed the config update in https://github.com/jazzband/pip-tools/commit/34d46b2af25e5d1111e5950265186140fa904e97 and added @vphilippon and @davidovich as lead members of the project.

The release process is the usual, tag/push to github, wait for travis, check your mails with release instructions, review the uploads and trigger the release on the Jazzband site.

Closing this as fixed. Bu

[2017-11-20 16:32] #64 closed

[2017-11-20 16:33] jezdez commented on #64
Woops, minor fix in https://github.com/jazzband/pip-tools/commit/a28fae7d6c0d321e48d0059f8026038fa952b6e2.

[2017-11-20 18:43] jezdez opened #77 "Start using GitHub team discussions"
This says it all: https://github.com/blog/2471-introducing-team-discussions

[2017-11-20 19:00] untitaker commented on #10
Unfortunately I don't really use Jazzband anymore, but at the time it seemed
like a good idea to have project-overarching interest groups (particularly for
"security" topic)

On Sat, Nov 18, 2017 at 10:58:19PM +0000, Jannis Leidel wrote:

[2017-11-20 19:01] jezdez commented on #10
@untitaker Ah, bummer, thanks for the idea though, together with the [per-team-discussion boards](https://github.com/blog/2471-introducing-team-discussions) this could be a neat thing to do.

[2017-11-21 00:23] camilonova opened #78 "How is updated readthedocs on sorl-thumbnail?"
This is not updated on each push: https://sorl-thumbnail.readthedocs.io/en/latest/

Anyone knows how to fix it?

[2017-11-21 09:35] jezdez commented on #78
Seems like it broke when the repo was moved to the Jazzband. I had to update the RTD project repo in the settings there. Should be fixed now.

[2017-11-21 09:35] #78 closed

[2017-11-21 10:25] IvanAnishchuk commented on #22
I'd probably prefer gitter all else being equal. Slack, on the other hand, is something I use on daily basis for several teams. And I don't really think there's anything wrong with irc, it's been around for quite a while and it works while all these new services come and go.

[2017-11-21 10:49] Flimm commented on #69
Thank you @jezdez. I think it makes complete sense for Jazzband projects in general to have "lead project members" review releases to PyPI, especially since there is no barrier to joining Jazzband itself. I like it!

And thank you to @camilonova, too. sorl-thumbnail has just made its first release on PyPI in two years! Woot!

[2017-11-21 10:58] jezdez commented on #22
@IvanAnishchuk Yeah, there is a sweet spot for chat systems and IRC has historically been a constant, especially in the FOSS world. That said, there is a reason why so many other chat systems like Slack showed up: the barrier of entry of IRC is high for people that rarely interact via messaging. I know that this may be a generational issue, but since a goal of Jazzband is to lower the barrier of e

[2017-11-21 11:31] IvanAnishchuk commented on #22
Well, I, for one, don't usually chat (except for work) unless I have some specific topic in mind. I'd probably join the slack team because I already have the app installed everywhere and it doesn't require much additional efforts but I'd be one of those silent members who rarely write at all. I'm not sure how representative my example is but I'm pretty sure that more people doesn't necessarily mea

[2017-11-21 11:36] jezdez commented on #22
@IvanAnishchuk Agreed, I'm not particularly tied to Slack TBH, so it may just be Gitter. I'm gonna see if the new [GitHub team discussions ](https://github.com/blog/2471-introducing-team-discussions) may be enough for async communication. There is one for the "members" team now: https://github.com/orgs/jazzband/teams/members/discussions

[2017-11-22 13:19] triat commented on #63
That's a really great news @jezdez, I think that's exactly what was missing right now in jazzband. Great job!

[2017-11-26 07:38] albertyw commented on #67
@mtford90 - Can you help with this?  It's a one-time change.  From the two items in the original comment:

 Add jazzband-bot as maintainer to the Read the Docs project (URL: https://readthedocs.org/dashboard/<PROJECTNAME>/users/)

[2017-11-30 21:22] vphilippon commented on #74
From our discussion on IRC (Posting back here, as I remembered I'm not getting offline messages on IRC...).

"Make sure your colleague is logging in into "jazzband" (drop down on AppVeyor's Sign in page)."
So when you sign in, click on the github button
and then it should offer you again a dropdown which profile you want to login into
either your account or the jazzband organization

Related scree

[2017-12-01 15:36] vphilippon commented on #74
Looking into this, I noted something: There are 2 Appveyor  "OAuth" apps: `Appveyor` and `Appveyor-CI`.
- `Appveyor-CI` seems to be the one required to trigger the CI. It has all its required right granted, including on the jazzband organization.
- `Appveyor` seems to be the one that allows me to connect with my github account. This one does *not* have all its right granted on the Jazzband organiz

[2017-12-04 07:49] mtford90 commented on #67
@albertyw @irconan @avelis  sorry for the delay on this - all done. Let me know if any further issues.

[2017-12-07 16:11] tony commented on #38
Careful on this one, django-autoslug is LGPL. This adds additional complications for Python code / scripting language and can result in unforeseen issues. Basically, LGPL has a lot of additional language that's ambiguous and *could* result in an accusation of creating a derivative.

Generally speaking, python libraries, and for that matter, Django libraries, stick to MIT/BSD/ISC/etc.

It is strong

[2017-12-11 14:31] tony opened #79 "Setup PyPI releases for django-model-utils, publish 3.1.0"
This is my first time setting up a release of a package.

https://github.com/jazzband/django-model-utils

https://github.com/jazzband/django-model-utils/tree/3.1.0

I don't think publishing packages is wired into the travis file yet.

[2017-12-11 15:00] tony commented on #72
One thing I just bumped into is, for some tweaks, I do *sometimes* go right into master (stuff for documentation, typos, whatever). When those tiny things mess up, I noticed there's no ability to ``--amend`` + ``--force`` it away. Yeah, I have a lot of experience, I make mistakes, and within seconds I've done amend+force. Not proud of it, strive to be better, but it happens. Heh

Pushing to master

[2017-12-16 22:23] therefromhere opened #80 "Proposing django-globals"
I'd like to propose that we take on https://github.com/svetlyak40wt/django-globals .  I've contacted the author, @svetlyak40wt , he's open to the idea and would like to know what he needs to do.

I've added a PR with tests + travis config.  I'm happy help with whatever other work is needed as part of the migration.  @jdufresne may also be interested since he has open PRs on the repo.

* Is django-

[2017-12-20 06:11] avelis commented on #79
@tony If you have write access to this repo you can update the travis.yml to at least attempt publishing upon making a release/tag. [There is an example of this at django-silk](https://github.com/jazzband/silk/blob/master/.travis.yml#L43). The only challenge then is making sure Jazzband is a member of the pypi org for the django-model-utils project.

[2017-12-20 08:50] jezdez commented on #79
@avelis This won't be enough, I'll look into it @tony.

[2017-12-26 02:03] shangdahao opened #81 "Error happened when joining member"
in page https://jazzband.co/account, when I click "please join" in the paragraph：

   To become an active member please join the Jazzband GitHub organization. For security reasons
   GitHub will ask you to confirm the invitation to the Jazzband GitHub organization.

the new page shows:

   Looks like something went wrong.
   Please open an issue for the roadies if the problem persists.
   The erro

[2017-12-27 10:45] jezdez commented on #81
Thanks, this is fixed now.

[2017-12-27 10:45] #81 closed

[2017-12-28 05:20] albertyw opened #82 "Add encrypted password of PyPI jazzband to silk"
[Jazzband silk](https://github.com/jazzband/silk) should be set up to autorelease, with its [.travis.yml](https://github.com/jazzband/silk/blob/master/.travis.yml#L53) configured.  The password for it seems to be misconfigured, leading to an error when releasing:

[code]

Based on https://github.com/travis-ci/dpl/issues/327, I think the password in the `.travis.yml` is malformed and needs to be up

[2017-12-28 05:36] avelis commented on #82
For the record, I added the encrypted password using now deprecated project setup guidelines which used `travis-cli` to add the jazzband user password to the yml config. I understand this is now no-longer the correct process anymore.

@jezdez I understand there is now a "lead" project member structure. Is that appropriate request I need to take in order to help continue a more regular release cycl

[2018-01-05 20:17] pwhipp commented on #79
3.1.1 now

[2018-01-05 20:21] pwhipp commented on #79
BTW:
[code]
BUT
[code]

[2018-01-08 06:06] albertyw commented on #82
@jezdez can we get some help on this?

[2018-01-08 08:24] jezdez commented on #82
@albertyw @avelis Sorry for the delay, I'm setting it up now.

[2018-01-08 08:32] jezdez commented on #82
Done in https://github.com/jazzband/silk/commit/c733b568b1fe8d6d69ca7d1d7b9700fc8ef58ecc.

@avelis I added you as project lead which means you'll get emails to confirm that Jazzband should publish a release to PyPI. Travis is now set up to push git tags automatically, so it should be self-service from now on. Please let me know if you have any questions.

@avelis Once a tag is pushed, you'll get a

[2018-01-08 08:32] #82 closed

[2018-01-08 08:41] jezdez commented on #79
So with Jazzband's new project member feature we can set up releases to occur automatically via Travis-CI but it requires one or more lead project members to confirm the release to PyPI first. The confirmation happens by receiving an email with instructions how to review the release for any release that is made via Travis-CI to the Jazzband project site. Once the release is confirmed it will be pu

[2018-01-08 08:42] jezdez commented on #67
@mtford90 Excellent, thank you!

[2018-01-08 08:42] #67 closed

[2018-01-08 16:31] jezdez commented on #80
There are a few PRs in there that need to be merged first (like getting rid of unused code and the travis/tox OR) and it's missing user facing documentation on ReadTheDocs. Assuming you can get those changes in, I don't see a blocker on this one.

Oh also, I'd like to see @svetlyak40wt's okay here for the record. Thanks!

[2018-01-09 03:16] avelis commented on #82
@jezdez Thanks again for all you help on this.

[2018-01-09 18:48] carljm commented on #79
Sure, I can give that a try and see how it goes.

[2018-01-10 09:58] #79 closed

[2018-01-16 11:43] svetlyak40wt commented on #80
It is OK.

[2018-01-19 11:55] safwanrahman opened #83 "Release django-authority to PyPi"
I have merged a pull request made by @jlward that implement support of Django 1.11 also made a release to github. But it seems like only lead project members can push to Pypi.

Any roadies are able to make a push?

[2018-01-28 13:43] jezdez commented on #83
Thanks for opening the ticket, seems like the repo never got set up correctly to do seamless releases via Travis CI (e.g. using setuptools_scm) etc. I just did that and did a 0.12 release to PyPI manually. For that to happen I had to redo the 0.12 tag, sadly. @jlward Please be aware that this happened.

With regard to the current release 0.13 and the future of it, I've just fixed a bunch of things

[2018-01-28 13:43] #83 closed

[2018-01-28 13:44] jezdez commented on #83
@jlward I've released both files of the 0.13 release.

[2018-01-28 13:46] jezdez commented on #83
@jlward BTW, for more info for the current state of project release via Jazzband see https://jazzband.co/about/releases

[2018-01-28 13:53] safwanrahman commented on #83
Thanks @jezdez and @jlward

[2018-01-29 03:03] therefromhere commented on #80
I think this is ready for you to take another look at now @jezdez.  @svetlyak40wt  has given me PR merge rights to his repo, I've merged the outstanding PRs, got travis/tox working in my repo + set up ReadTheDocs.

TODO:

- [ ] Enable travis -> pypi (I don't have access to the pypi)
- [ ] Configure webhooks for readthedocs build (I don't have sufficient privs on https://github.com/svetlyak40wt/dja

[2018-02-07 14:30] camilonova opened #84 "Issue publishing to Pypi"
I wanted to issue a release and this error is happening:

![screen shot 2018-02-07 at 9 30 32 am](https://user-images.githubusercontent.com/202559/35921761-95a10d46-0be9-11e8-87d2-fbfeb787de27.png)

https://travis-ci.org/jazzband/django-constance/jobs/338512999

Thanks.

[2018-02-07 15:56] jezdez commented on #84
Ah, yeah, it's not set up to work with the new project releases yet. Upcoming..

[2018-02-07 16:50] jezdez commented on #84
Fixed. Releases happen now via the Jazzband. Released 2.1.0: https://pypi.python.org/pypi/django-constance/2.1.0

[2018-02-07 16:50] #84 closed

[2018-02-10 07:24] jleclanche commented on #26
@jezdez Pinging this again, I don't think I noticed your answer since it was a few months out :) But I remember us talking on IRC. I believe the project adheres to the guidelines already, although it doesn't use RTD for documentation (there is only a README which is picked up by pypi).

I recently moved the project to the django-push-notifications org but I'm happy to move it to jazzband instead..

[2018-02-10 11:20] jezdez commented on #26
There are a few things to fix and the README is easy enough to move to a Sphinx project after the fact. Mind do the transfer? There will be a separate ticket to track the transfer TODOs.

[2018-02-10 11:25] jleclanche commented on #26
Yeah, sure thing.

[2018-02-10 11:30] jleclanche commented on #26
How do I do the transfer? If I try to transfer it to the org, I don't have permission.

[2018-02-10 11:39] jezdez commented on #26
@jleclanche First, join the organization by going to https://jazzband.co, login with GitHub and join there.

[2018-02-10 11:40] jezdez commented on #26
FTR, you'll get an invite from GitHub to join the organization.

[2018-02-10 11:43] jleclanche commented on #26
Hmm?

![image](https://user-images.githubusercontent.com/235410/36061796-69fd8e40-0e68-11e8-8088-86ac84719640.png)

[2018-02-10 11:44] jezdez commented on #26
Sigh, looking..

[2018-02-10 11:45] jezdez commented on #26
Weird, can you try again?

[2018-02-10 11:47] jazzband-bot opened #86 "Implement Jazzband guidelines for project django-push-notifications"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-push-notifications](https://github.com/jazzband/django-push-notifications)

It was initiated by @jleclanche who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tas

[2018-02-10 11:47] jazzband-bot opened #87 "Implement Jazzband guidelines for project django-push-notifications"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-push-notifications](https://github.com/jazzband/django-push-notifications)

It was initiated by @jleclanche who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tas

[2018-02-10 11:47] jazzband-bot opened #88 "Implement Jazzband guidelines for project django-push-notifications"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-push-notifications](https://github.com/jazzband/django-push-notifications)

It was initiated by @jleclanche who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tas

[2018-02-10 11:48] jleclanche commented on #26
Ok, transfer done.

https://github.com/jazzband/django-push-notifications

How can I ensure that @jamaalscarlett, @kit-cat and @matthewh still have commit access?

[2018-02-10 11:49] #86 closed

[2018-02-10 11:49] #87 closed

[2018-02-10 11:49] #88 closed

[2018-02-10 11:52] jezdez commented on #26
Excellent, see #85 for the transfer TODOs. (sorry for the duplicates)

All of the current collaborators have been transferred as well but it's required for them to join Jazzband properly via jazzband.co as well. That way we don't have project specific permissions to maintain -- since everyone in the Jazzband can commit to any repo after all.

[2018-02-10 11:53] jleclanche commented on #26
Excellent. Closing this and following up in the other issue.

[2018-02-10 11:53] #26 closed

[2018-02-10 11:55] jezdez commented on #26
@jleclanche FTR I added a TODO item to ask the old collaborators to join as well.

[2018-03-19 21:01] camilonova commented on #70
@kmike @jezdez coveralls is not working, can you please fix it?

[2018-03-19 21:07] kmike commented on #70
Thanks a lot for the help @camilonova!
Coveralls integration was removed in https://github.com/jazzband/django-widget-tweaks/commit/36446fc15f793372ed1adcdf2852f378caf9ad7f#diff-354f30a63fb0907d4ad57269548329e3 after the project moved to jazzband. It is safe to remove the badge. If we need codecov or coveralls, they should be re-added.

[2018-03-19 21:15] camilonova commented on #70
@kmike good to know. Thanks.

[2018-03-19 21:17] camilonova commented on #70
@jezdez seems it is only needed to add this project to readthedocs. Can you help us?

[2018-03-19 21:20] camilonova opened #89 "Please let me publish django-widget-tweaks"
Thank you.

[2018-03-19 21:42] camilonova commented on #89
I pushed a tag and I got this:
![screen shot 2018-03-19 at 4 40 54 pm](https://user-images.githubusercontent.com/202559/37623934-676049ae-2b94-11e8-80ff-93b986084c30.png)

https://travis-ci.org/jazzband/django-widget-tweaks/jobs/355586758

Maybe something is missing?

[2018-03-21 07:20] jezdez commented on #89
Yeah, it's not set up for releases yet, will handle it asap.

[2018-03-23 13:47] camilonova opened #90 "Please let me publish to django-constance"
Thanks

[2018-03-26 15:43] camilonova commented on #89
@jezdez any updates?

[2018-03-29 10:24] jezdez commented on #90
Added you to the project and released 2.2.0. There seems to be a bug with the release of the tarball, investigating...

[2018-03-29 10:56] jezdez commented on #90
Okay, updated twine and it works again. Uploaded the tarball as well.

[2018-03-29 10:56] #90 closed

[2018-03-29 11:01] #89 closed

[2018-03-29 11:03] jezdez commented on #89
@camilonova Please remove the git tag(s) again you tried to release and re-tag with the commit I just pushed.

[2018-03-29 11:08] jezdez commented on #63
Closing since I think the docs cover this.

[2018-03-29 11:08] #63 closed

[2018-03-31 15:24] camilonova commented on #89
@jezdez all done. Thank you.

[2018-04-05 11:05] Fohlen opened #91 "Proposing django-taggit-serializer"
Hello there folks! On behalf of @mecodia and @glemmaPaul I am proposing to move the [django-taggit-serializer](https://github.com/glemmaPaul/django-taggit-serializer/issues/44) project to jazzband, so that it can have more attention being paid to it in the future. Please let us know what you guys think over here:

- will it be feasible for the jazzband organisation to handle this package?
- what s

[2018-04-08 05:58] jazzband-bot opened #92 "Implement Jazzband guidelines for project django-oauth-toolkit"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-oauth-toolkit](https://github.com/jazzband/django-oauth-toolkit)

It was initiated by @synasius who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel

[2018-04-08 05:58] jazzband-bot opened #93 "Implement Jazzband guidelines for project django-oauth-toolkit"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-oauth-toolkit](https://github.com/jazzband/django-oauth-toolkit)

It was initiated by @synasius who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel

[2018-04-08 05:58] jazzband-bot opened #94 "Implement Jazzband guidelines for project django-oauth-toolkit"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-oauth-toolkit](https://github.com/jazzband/django-oauth-toolkit)

It was initiated by @synasius who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel

[2018-04-08 07:59] #92 closed

[2018-04-08 07:59] #93 closed

[2018-04-08 08:00] jezdez commented on #94
@synasius Hey there, about the homepage http://dot.evonove.it/, it'd be best to move that to GitHub pages and set up a redirect from the old URL.

[2018-04-09 09:36] jleclanche commented on #94
The README also has a reference to a security email which is not maintained by jazzband. @jezdez how does jazzband usually handle security issues?

[2018-04-09 16:05] jezdez commented on #94
@jleclanche We don't go into detail about the response time etc (by design), but there is also an email address: https://jazzband.co/security

[2018-04-10 10:28] synasius commented on #94
@jezdez I just checked and dot.evonove.it is already on Github Pages using a custom domain
here is the pubic repository https://github.com/evonove/dot.evonove.it

[2018-04-10 11:11] jleclanche commented on #94
@synasius iirc we can move it to a `gh-pages` branch on the django-oauth-toolkit repo and thatll get picked up automatically.

[2018-04-10 13:13] jezdez commented on #94
@jleclanche That'd be great, yeah.

[2018-04-10 13:31] synasius commented on #94
@jezdez @jleclanche I just pushed the gh-pages branch. I guess we need to set it up in the repo's settings

[2018-04-10 15:20] jezdez commented on #94
Hmpf, it's enabled, but I think https://help.github.com/articles/user-organization-and-project-pages/ makes it clear it needs to live in an own repo called `django-oauth-toolkit.github.io`, which isn't something we should do to make maintenance easier. Instead, please let's just move the page into a Sphinx project or something, it's just not worth the exception to have separate repos for the stati

[2018-04-10 15:27] synasius commented on #94
@jezdez thought it should be available under http://jazzband.github.io/django-oauth-toolkit

[2018-04-10 15:33] jezdez commented on #94
Uh, lemme check again..

[2018-04-10 15:42] jezdez commented on #94
Okay, changing the source and resaving it worked at least for the rendering: https://jazzband.github.io/django-oauth-toolkit/

That said, a few questions:

1) The content of the branch seems to be the static output from the https://github.com/evonove/dot.evonove.it repo, which is not what we want, since it's hard to maintain it without the original content.

2) The paths in the static files are st

[2018-04-10 17:14] jleclanche commented on #94
gh-pages don't support hugo so we'll probably have to convert to jekyll

[2018-04-15 05:32] vphilippon opened #95 "Issue after releasing pip-tools 2.0.1"
Hi @jezdez,

I was able to release pip-tools 2.0.0 and 2.0.1 back to pypi, but the 2.0.1 "release" raised and error:
`No released files found for upload pip_tools-2.0.1-py2.py3-none-any.whl`
Same for the .tar.gz.
Although, it released properly to pypi, but I'm unable to mark them as "released".

Could you take a look?
Thanks!

/cc @davidovich So you're not surprised to see "unreleased" versions.

[2018-04-16 14:51] vphilippon commented on #95
@jezdez It looks like I was actually able to properly release the package and update the statuses on the Jazzband website too. I'll close this off, if it happens again, or if it happens to someone else, we'll reopen it.

[2018-04-16 14:51] #95 closed

[2018-04-17 20:51] jazzband-bot opened #96 "Implement Jazzband guidelines for project django-simple-menu"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-simple-menu](https://github.com/jazzband/django-simple-menu)

It was initiated by @borgstrom who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel fr

[2018-04-17 23:13] borgstrom commented on #96
The django-simple-menu integration doesn't seem to be associated with the username I have on file for RTD... will contact them to get it sorted out.

[2018-04-23 16:38] neithere commented on #38
Sorry for such a long pause. Frankly, I don't remember why did I not finalize the transfer last time. I'd like to do it now, as I have a little bit of spare time.

1. LGPL [should not be a problem](https://stackoverflow.com/questions/8580223/using-python-module-on-lgpl-license-in-commercial-product), and it was definitely a conscious choice. _Free_ software is better than just open source.
2. I un

[2018-04-28 14:26] neithere commented on #38
@justinmayer is it OK that I've recently transferred that repo to you?

[2018-04-28 18:46] justinmayer commented on #38
@neithere: Yes, thank you. I accepted the transfer. I'm traveling for the next few weeks but will do my best to turn my attention to this endeavor as soon as my schedule has settled down. Thanks again!

[2018-05-07 16:41] codingjoe commented on #2
I still would be cool to have a commend contributing guide, but django-cc is no longer maintained. We would need to pick it up again. Maybe create something for jazzband. I don't know. I'll close this for now.

[2018-05-07 16:41] #2 closed

[2018-05-07 21:38] jpic commented on #2
Works as is for me, keep up the great work :+1:

[2018-05-10 08:34] GabrielDumbrava opened #98 "Proposing django-solo"
I haven't spoken with the current  owner @lazybird of [django-solo,](https://github.com/lazybird/django-solo) but there are a few feature requests and pull requests in the pipeline.

Maybe they'll agree to let others help out.

Thanks!

[2018-05-19 19:34] barseghyanartur opened #99 "List of available major documentation versions on RTD"
Initially opened as a [django-axes](https://github.com/jazzband/django-axes/issues/342#issuecomment-390426922) issue. Opened here again, as suggested by [Jannis Leidel](https://github.com/jazzband/django-axes/issues/342#issuecomment-390426922).

[2018-05-21 18:15] W7PEA commented on #38
I was wondering if there is a schedule for the transfer, planning to do some 2.0 upgrades that will need this library and if there is anything the community can help with?

thanks!

[2018-05-25 23:18] therefromhere commented on #80
Hi @jezdez are you able to spend some time to complete this migration?  If not, is anyone else in a position to assist?

I think the remaining work needed is :

- [ ] move the github repo
- [ ] transfer pypi ownership
- [ ] enable travis -> pypi
- [ ] enable readthedocs webhooks

[2018-06-04 12:22] ncoghlan opened #100 "Admin permissions for contextlib2"
I just noticed I can't currently add new contributors for the contextlib2 repo when I went to send Yury an invite :)

[2018-06-04 14:21] jezdez commented on #100
@ncoghlan Ah, all that is needed is to ask Yury to join Jazzband and he can contribute directly. I'm trying to not make exception to the way Jazzband works to not have to maintain a list of contributors and fall in the trap of nobody knowing who's admin currently like in a project separate from Jazzband.

Do you need Yury to have admin permissions? Do you need them?

[2018-06-04 14:55] ncoghlan commented on #100
Ah, cool - in that case I'll just email him :)

[2018-06-04 14:55] #100 closed

[2018-06-26 14:58] n2ygk opened #101 "django-oauth-toolkit settings to require PR review?"
Hi, please see https://github.com/jazzband/django-oauth-toolkit/issues/610 where I wonder if best practice for this repo should be to require a review before merge.

[2018-06-26 15:00] n2ygk commented on #94
See #101

[2018-07-11 15:46] blueyed opened #102 "Please add me as lead for django-configurations"
https://github.com/jazzband/django-configurations/

I do not have permissions on PyPI for this project, so I cannot check if the jazzband user is there already.

(via https://jazzband.co/about/releases)

[2018-07-11 15:50] blueyed commented on #102
PyPI appears to be setup already: https://github.com/jazzband/django-configurations/blob/ee43a1d872706fc6890ebde5c8478bfba7adfa18/.travis.yml#L74-L83

Can I somehow see who is lead for a project?

[2018-07-11 18:18] jezdez commented on #102
There are no project leads for this project yet since nobody asked for it yet, I'll update the credentials accordingly and add you and me to it. Cheers!

[2018-07-11 18:40] jezdez commented on #102
@blueyed See https://github.com/jazzband/django-configurations/commit/b43bf2dd47c7fc752e6fdaa317663cf6cdbbfdeb for the change needed. Sorry for the whitespace changes, but that's what the travis CLI did when I updated the encrypted password.

This will deploy the release to jazzband.co for new Git tags, then email the project leads and ask to confirm the release for security reasons. Please use yo

[2018-07-11 18:41] #102 closed

[2018-07-11 20:12] blueyed commented on #102
@jezdez
Thanks!

So you want me to do the changes, since you reverted them already?

What do you think about using Travis stages for this?
https://github.com/pytest-dev/pytest-django/blob/f1bc02488049e6988f9299ddd7ca7e63bcd2f188/.travis.yml#L39-L51

[2018-07-12 19:03] jezdez commented on #102
@blueyed Sorry, which changes do you mean?

Yeah, Travis stages are great for this, the travis config file can be moved over to it now that the stages have seen some use.

[2018-07-12 22:03] blueyed commented on #102
@jezdez
Oh, I was confused by https://github.com/jazzband/django-configurations/commit/537fde7f5b4cd7f42353d049ce06a6e440d5215c - but it is apparently empty.

[2018-07-14 02:09] jazzband-bot opened #103 "Implement Jazzband guidelines for project django-ical"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-ical](https://github.com/jazzband/django-ical)

It was initiated by @pinkerton who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update i

[2018-07-14 21:01] pinkerton commented on #103
Addressed these changes in https://github.com/jazzband/django-ical/pull/23

[2018-07-14 21:01] #103 closed

[2018-07-16 16:07] jezdez commented on #103
@pinkerton Cheers! 🥇

[2018-07-22 22:30] cyberdelia commented on #99
Also would be interested to see how we can setup RTD for django-pipeline.

[2018-08-28 03:44] mgrdcm opened #104 "Request lead for django-embed-video"
Greetings!

`django-embed-video` needs some updates to be compatible with `Django>=2.1`.  I've got a couple PRs (https://github.com/jazzband/django-embed-video/pull/89 and then https://github.com/jazzband/django-embed-video/pull/88) to address the issues.  Could use some help doing a review on them if anyone would like but if not that's fine too, they're pretty straightforward.

And then would req

[2018-09-15 15:23] camilonova opened #105 "Can't release sorl-thumbnail"
I can't release 12.5.0 version of sorl-thumbnail trough the jazzband site.

![screen shot 2018-09-15 at 10 23 23 am](https://user-images.githubusercontent.com/202559/45587877-695a4780-b8d1-11e8-9cc6-79fcd9bed13a.png)

Seems related: https://travis-ci.org/jazzband/sorl-thumbnail/jobs/428373120

[2018-09-20 12:43] camilonova commented on #105
I just tried again and it worked.

[2018-09-20 13:54] jezdez commented on #105
Dang, I've seen this a bit and I'm going to have to look into this. The site is deployed using Docker so maybe something about how the files are mounted via volumes fails. I'll look into it..

[2018-09-29 06:08] jazzband-bot opened #106 "Implement Jazzband guidelines for project django-redshift-backend"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-redshift-backend](https://github.com/jazzband/django-redshift-backend)

It was initiated by @shimizukawa who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks,

[2018-09-29 06:08] jazzband-bot opened #107 "Implement Jazzband guidelines for project django-redshift-backend"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-redshift-backend](https://github.com/jazzband/django-redshift-backend)

It was initiated by @shimizukawa who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks,

[2018-09-29 06:08] jazzband-bot opened #108 "Implement Jazzband guidelines for project django-redshift-backend"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-redshift-backend](https://github.com/jazzband/django-redshift-backend)

It was initiated by @shimizukawa who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks,

[2018-09-29 06:08] jazzband-bot opened #109 "Implement Jazzband guidelines for project django-redshift-backend"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-redshift-backend](https://github.com/jazzband/django-redshift-backend)

It was initiated by @shimizukawa who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks,

[2018-09-29 06:58] shimizukawa commented on #107
I think all of todos are resolved.
However #106, #108, #109 seems same purpose as this #107. I think it's a bug of @jazzband-bot.

@jezdez can I close these issuees?

[2018-10-01 18:57] camilonova opened #110 "Proposing django-appconf"
https://github.com/django-compressor/django-appconf/

[2018-10-01 18:58] camilonova opened #111 "Proposing django-compressor"
https://github.com/django-compressor/django-compressor

[2018-10-08 07:44] jezdez commented on #111
Interesting, this is kind of coming full circle a bit :)

@diox @karyon What do you think about moving compressor into Jazzband?

[2018-10-08 07:44] jezdez commented on #110
I would recommend only moving this to Jazzband if #111 is successful.

[2018-10-08 14:50] camilonova commented on #111
Lets do that then. How can I help?

[2018-10-08 18:06] jezdez commented on #111
Let's wait for @karyon to agree first, @camilonova.

[2018-10-09 17:49] karyon commented on #111
i'm not strongly against it, but i have the feeling that it won't help anybody. Contributions from outside will likely be almost zero, and my own commitment will drop from the low level it is on now to almost zero as well. or am i unreasonably negative here?

[2018-10-11 17:17] camilonova commented on #111
At least if someone wants to work on it will be easier at jazzband than in here.

[2018-10-22 18:08] aleksihakli opened #112 "Release permissions for the django-axes repository"
I think it would be reasonable to grant me or @markddavidoff release permissions on the django-axes project releases from the Jazzband repository to PyPI. I can work with @camilonova and @markddavidoff to update the project to PyPI and make new releases on it on peer reviewed content.

I am familiar with the Jazzband Code of Conduct and the PyPI release architecture as well as versioning schemes a

[2018-10-22 18:55] jezdez commented on #112
@camilonova What say you?

[2018-10-27 05:36] shimizukawa opened #113 "Request lead for django-redshift-backend"
https://github.com/jazzband/django-redshift-backend
to release package to PyPI automatically.

On PyPI, `jazzband` already granted as a maintainer for https://pypi.org/project/django-redshift-backend/ .

[2018-10-27 07:15] shimizukawa opened #114 "Please setup PyPI releases for django-redshift-backend"
https://github.com/jazzband/django-redshift-backend/

refs: https://github.com/jazzband/roadies/issues/113

[2018-10-30 18:02] markddavidoff commented on #112
...

[2018-10-30 21:19] camilonova commented on #112
@jezdez lets grant permissions to @aleksihakli

[2018-10-31 11:01] jezdez commented on #112
@camilonova Done.

@aleksihakli On the next tag you'll get the regular release email along with @camilonova and will be asked to review and confirm the release before it's pushed to PyPI. Please make sure to read https://jazzband.co/about/releases. Thanks!

[2018-10-31 11:01] #112 closed

[2018-10-31 16:05] aleksihakli commented on #112
OK, thanks @jezdez!

[2018-11-16 13:41] shimizukawa commented on #113
@jezdez ping

[2018-11-16 13:42] shimizukawa commented on #114
@jezdez ping

[2018-11-20 22:53] jcassee opened #115 "Proposing django-analytical"
[django-analytical](https://github.com/jcassee/django-analytical) is a Django package containing a set of template tags for quickly hooking up analytics services. Although it sees continuous development, I have been slower with pull request merges and releases than I would like. I hope that by transferring the project to Jazzband can share this responsibility.

Current Jazzband members @pjdelport

[2018-11-25 13:06] camilonova commented on #111
@karyon shall we do this?

[2018-11-25 13:10] camilonova commented on #38
@justinmayer how can we do this?

[2018-11-28 10:21] bittner commented on #115
Any opinions or updates on this?

[2018-11-28 10:35] jezdez commented on #115
@jcassee This looks like a good candidate! Feel free to simply transfer the repo to the Jazzband organization, a ticket is created automatically with a TODO list to update the repo to follow the [Jazzband guidelines](https://jazzband.co/about/guidelines). Simply go to https://jazzband.co/, login and join Jazzband on your account dashboard. This will give you the required permissions to transfer th

[2018-11-28 11:07] jazzband-bot opened #116 "Implement Jazzband guidelines for project django-analytical"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-analytical](https://github.com/jazzband/django-analytical)

It was initiated by @jcassee who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free t

[2018-11-28 11:07] jazzband-bot opened #117 "Implement Jazzband guidelines for project django-analytical"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-analytical](https://github.com/jazzband/django-analytical)

It was initiated by @jcassee who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free t

[2018-11-28 11:07] jazzband-bot opened #118 "Implement Jazzband guidelines for project django-analytical"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-analytical](https://github.com/jazzband/django-analytical)

It was initiated by @jcassee who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free t

[2018-11-28 11:08] jcassee commented on #115
Just transferred the repo!

[2018-11-28 11:14] jcassee commented on #115
@jezdez Three tickets were opened (#116, #117 and #118). I'm only going to do this once! :stuck_out_tongue_winking_eye:

[2018-11-28 11:18] jezdez commented on #115
Yeaaaaah. This is a long standing issue, sigh. The notification doesn't lock correctly. 😬

[2018-11-28 11:18] #117 closed

[2018-11-28 11:18] #118 closed

[2018-11-28 11:18] jezdez commented on #115
I closed #117 and #118. Sorry for the noise.

[2018-11-28 20:39] jcassee commented on #116
Work is done on the [prepare-jazzband](https://github.com/jazzband/django-analytical/tree/prepare-jazzband) branch.

[2018-11-28 20:59] jcassee commented on #116
@jezdez I seem to have lost admin access to the project. Is that the way it goes or did I forget something during the transfer?

[2018-11-30 09:18] #116 closed

[2018-11-30 09:20] jezdez commented on #116
@jcassee Yeah, that's an expected side effect of the transfer. Sadly GitHub doesn't allow to retain the permissions on transfer automatically. Do you need to update any settings right now?

[2018-11-30 09:56] jezdez commented on #116
Yep! 💃

[2018-11-30 09:56] jezdez commented on #115
Fixed!

[2018-11-30 09:56] #115 closed

[2018-11-30 09:56] jezdez commented on #114
Sorry, on it.

[2018-11-30 09:59] jezdez commented on #113
@Surgo needs to join the Jazzband organization on https://jazzband.co/ before I can make them project lead. @Surgo?

[2018-11-30 10:34] jezdez commented on #114
This is done.

When a Git tag is pushed and Travis passes, it'll do a release to the Jazzband site. You'll get an email asking for confirming the release (see email for steps to do that). Once that's done the release happens automatically to PyPI. Please let me know when you do the first release using that technique, so we can debug things if needed. Good luck!

[2018-11-30 10:34] #114 closed

[2018-11-30 10:35] jezdez commented on #113
Okay, @shimizukawa has been added. Waiting for @Surgo before closing this.

[2018-12-01 09:52] Surgo commented on #113
@jezdez Joined org :)

[2019-01-17 08:30] goinnn opened #119 "Proposing django-inplaceedit"
I didn't know about this organization, but @Fohlen created an issue about it:

https://github.com/django-inplaceedit/django-inplaceedit/issues/106

I don't have any time to mantain this project. I think it is a nice project:

https://github.com/django-inplaceedit

If you think it is a nice project, I can move it to jazzband

[2019-01-17 08:32] goinnn opened #120 "Proposing django-multiselectfield"
I didn't know about this organization, but @Fohlen created an issue about it:

https://github.com/django-inplaceedit/django-inplaceedit/issues/106

I don't have any time to mantain this project. I think it is a nice project:

https://github.com/django-multiselectfield

If you think it is a nice project, I can move it to jazzband

[2019-01-17 08:37] goinnn opened #121 "Question about code of Conduct"
I have join to jazzband today. I have a PR in django-push-notification https://github.com/jazzband/django-push-notifications/pull/487 Is it ugly if now I accept this PR to myself?

[2019-01-18 21:07] atugushev opened #122 "pip-tools doesn't work on travis-ci"
Pip-tools seems to be disabled in Travis CI, for on the page https://travis-ci.org/jazzband/pip-tools has been told "This is not an active repository". It does not trigger a job anymore, see https://github.com/jazzband/pip-tools/pull/711.

Could someone fix it please?

[2019-01-18 21:17] jezdez commented on #122
Probably related to https://changelog.travis-ci.com/migrating-from-github-services-to-webhooks-86328. I've re-activated it.

[2019-01-18 21:17] #122 closed

[2019-01-18 21:39] atugushev commented on #122
Thanks! That helped.

[2019-01-22 14:46] jdufresne opened #123 "Proposing django-taggit"
https://github.com/alex/django-taggit

I have received permission from @alex in an email to move the project to Jazzband and he is awaiting his instructions on what he must do to complete the move.

**Viability** - The project is well established and well used. It has been used by Django projects for quite some time. Its first documented release was 2010-06-22 and is still used today. GitHub stats

[2019-01-29 11:18] jezdez commented on #123
Hi @jdufresne, @alex!

django-taggit sounds like a good match indeed, feel free to simply transfer the repo to the Jazzband repo.

To do that you'll have to (temporarily if you want) join the Jazzband on https://jazzband.co/join. You'll be added to the GitHub organization once you've consented to it and can very easily leave the organization again if you wish to do that.

Once the repo transfer ha

[2019-01-29 11:20] jezdez opened #124 "Create issue templates for project proposals"
The proposal in https://github.com/jazzband/roadies/issues/123 has a good format, following the [Jazzband guidelines](https://jazzband.co/about/guidelines).

[2019-01-29 14:01] ncoghlan opened #125 "Pondering the sustainability question"
(Exporting a discussion @jezdez and I had on https://github.com/orgs/jazzband/teams/members/discussions/2 in late 2017 to a public location)

Jazzband is wonderful, but from a sustainability perspective, it's primarily a risk mitigation approach: we avoid the "single point of organisational failure" problem by ensuring that someone other than ourselves has permission to publish new releases of our

[2019-01-30 00:00] alex commented on #123
Sounds good -- @jdufresne, I can't remember, do you have the permission to do the repo transfer, or am I needed for that?

[2019-01-30 01:16] jdufresne commented on #123
@alex No, I do not have that permission at the moment so you'll need to do the actual transfer. Once transferred, I can follow through with all normal todo items. Thanks!

[2019-01-30 01:20] jazzband-bot opened #126 "Implement Jazzband guidelines for project django-taggit"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-taggit](https://github.com/jazzband/django-taggit)

It was initiated by @alex who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it

[2019-01-30 01:20] jazzband-bot opened #127 "Implement Jazzband guidelines for project django-taggit"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-taggit](https://github.com/jazzband/django-taggit)

It was initiated by @alex who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it

[2019-01-30 01:20] jazzband-bot opened #128 "Implement Jazzband guidelines for project django-taggit"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-taggit](https://github.com/jazzband/django-taggit)

It was initiated by @alex who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it

[2019-01-30 01:21] alex commented on #123
Here we go: https://github.com/jazzband/django-taggit

Thanks so much for maintaing taggit over the years! And thanks for Jazz Band for continuing to look after it!

[2019-01-30 01:58] jdufresne commented on #123
Thanks! I'll continue the effort by following the todo items in #126.

[2019-01-30 01:58] #123 closed

[2019-01-30 01:59] jdufresne commented on #127
Closing in favor of #126.

[2019-01-30 01:59] #127 closed

[2019-01-30 02:00] jdufresne commented on #128
Closing in favor of #126

[2019-01-30 02:00] #128 closed

[2019-01-31 01:46] atugushev commented on #124
This is a good issue template indeed 👍

[2019-02-04 09:16] blag commented on #120
Previous maintainer here: I don't have enough time to maintain this project by myself, but I'm already a member of jazzband and can help maintain it with other roadies. :+1:

[2019-02-07 00:57] frewsxcv opened #129 "Proposing python-geojson"
https://github.com/frewsxcv/python-geojson/

I don't work with Python regularly anymore, and no longer have time to maintain this project. Does Jazzband accept non-Django projects?

[2019-02-07 19:05] jezdez commented on #120
@blag Hi there! To be clear, the roadies won't do the maintaing but the [members ](https://jazzband.co/members).

Basically all you have to do is, join Jazzband on https://jazzband.co/join (that adds you as a member to the Jazzband GitHub organization) and transfer the repo to the Jazzband GitHub organization using the [standard transfer workflow](https://help.github.com/articles/transferring-a-re

[2019-02-07 19:06] jezdez commented on #126
@jdufresne @alex What's the latest on the rest of the TODO items?

[2019-02-07 19:08] jezdez commented on #111
@karyon From the limited experience with other projects there is a chance that new people get the chance to help maintain it. This is most helpful when new Django or Python releases require making updates to the internals. As a former maintainer of django-compressor I can relate to you concerns though. So no pressure :)

[2019-02-07 19:10] jezdez commented on #129
@frewsxcv Absolutely! This looks pretty good, although it would be neat to have documentation on ReadTheDocs. Don't think it's a deal breaker though.

Basically all you have to do is, join Jazzband on https://jazzband.co/join (that adds you as a member to the Jazzband GitHub organization) and transfer the repo to the Jazzband GitHub organization using the [standard transfer workflow](https://help.

[2019-02-07 20:01] jdufresne commented on #126
@alex I'll need you to handle the following as its requires your PyPI account:

Add `jazzband` account to [PyPI](https://pypi.org/) project as maintainer role (e.g. URL: `https://pypi.org/manage/project/<PROJECTNAME>/collaboration/`)

Thanks.

Was something similar done for read the docs?

I can take this role. And will try to tidy up all remaining loose ends tonight.

[2019-02-07 21:41] alex commented on #126
Done. I also did RTD a few days ago.

[2019-02-08 08:35] jezdez commented on #126
@alex @jdufresne Thanks!

Now the last question, should we configure the repo to allow semi-automatic releases (as described on https://jazzband.co/about/releases)?

In short:

1. On tagging a new release Travis-CI would upload the release files (tar.gz and whl files) to the Jazzband.co site,
2. send an email out to "project lead members" of the django-taggit asking to review the release to preven

[2019-02-09 19:07] jazzband-bot opened #130 "Implement Jazzband guidelines for project python-geojson"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [python-geojson](https://github.com/jazzband/python-geojson)

It was initiated by @frewsxcv who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to upd

[2019-02-09 19:07] jazzband-bot opened #131 "Implement Jazzband guidelines for project python-geojson"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [python-geojson](https://github.com/jazzband/python-geojson)

It was initiated by @frewsxcv who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to upd

[2019-02-09 19:07] jazzband-bot opened #132 "Implement Jazzband guidelines for project python-geojson"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [python-geojson](https://github.com/jazzband/python-geojson)

It was initiated by @frewsxcv who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to upd

[2019-02-09 19:15] #131 closed

[2019-02-09 19:15] #130 closed

[2019-02-09 19:16] frewsxcv commented on #129
https://github.com/jazzband/roadies/issues/132

[2019-02-09 19:16] #129 closed

[2019-02-16 13:47] camilonova commented on #111
@jezdez how can we make it happen?

[2019-02-17 18:34] jdufresne commented on #126
@jezdez That sounds good to me, I'll begin doing the work for that configuration.

[2019-02-20 15:45] joshua-s opened #133 "Invitation not being sent"
When I attempt to send the invitation to join the Jazzband org, I am met with this screen:
![screenshot_2019-02-20 jazzband](https://user-images.githubusercontent.com/1479244/53103984-664c2e80-34e3-11e9-9be6-d8184ff5a35c.png)

I have 5 verified emails on my GitHub account (0 unverified).

[2019-02-21 12:34] jezdez commented on #133
@joshua-s Could you try again, please?

[2019-02-21 23:56] joshua-s commented on #133
@jezdez it worked, thanks!

[2019-02-21 23:56] #133 closed

[2019-02-22 15:38] jleclanche commented on #121
I don't think there's a problem with you accepting your own PRs but you do need to address the issues brought up in previous reviews.

[2019-02-26 15:21] jdufresne commented on #126
I believe transfer is complete. If you believe I have missed any steps please let me know and we can re-open. Thanks everyone for the help!

[2019-02-26 15:21] #126 closed

[2019-03-01 01:09] marfyl opened #134 "Invitation not being sent"
Hi! is there any problem with invitations? Im receiving this error

![image](https://user-images.githubusercontent.com/3458215/53609370-f1ee4b00-3bc6-11e9-9f53-5da577a51f79.png)

[2019-03-01 02:24] #134 closed

[2019-03-01 08:17] jezdez commented on #134
@marfyl Hey, you closed it again, did it work for you eventually?

[2019-03-01 08:24] jezdez commented on #121
Yeah, what @jleclanche said.

Jazzband members need to strive to be collaborative (probably more so than in other GitHub projects), so if another member for example has reviewed the code and you've made the requested adjustments (or simply got the go-ahead from the reviewer) it's okay to merge the PR yourself. A no-go would be ignoring the feedback from another member without providing legitimate

[2019-03-01 08:24] #121 closed

[2019-03-01 08:34] jezdez commented on #111
@camilonova Basically I'm not sure if @karyon is okay with the move, and since they are the effective maintainer at the moment I'd rather not go ahead without their consent.

@karyon Apologies for pinging you again, could you please let us know if it's a YAY or NAY from you?

If it's a NAY, what can we do to alleviate your concerns? (e.g. you would still be able to make releases to PyPI by being t

[2019-03-01 11:58] marfyl commented on #134
I think it was just an edition of my answer @jezdez it's working. thanks

[2019-03-04 15:35] blueyed opened #135 "Update/revisit codecov integration/config"
In/for https://github.com/jazzband/roadies/issues/8 apparently a yaml for the organization was created: https://codecov.io/account/gh/jazzband/yaml

I think we should use the new integration via https://github.com/apps/codecov/installations/new/permissions?target_id=15129049 instead, and remove the project config, as it seems to affect all projects, and overrides the default config.

But it might

[2019-03-04 15:38] blueyed commented on #135
Codecov is posting comments for PRs with jazzband/pip-tools however, which does not have a custom config (file or [via the UI](https://codecov.io/gh/jazzband/pip-tools/settings/yaml)): https://github.com/jazzband/pip-tools/pull/754#issuecomment-469234962

Therefore it seems to use default settings for this there.

[2019-03-04 19:09] jezdez commented on #135
Yeah, I think since I've enabled the GitHub app for Codecov the old org wide settings simply don't make any sense anymore and the bot setting may even be ignored. Removing the org wide setting..

[2019-03-04 19:10] jezdez commented on #135
I'm not sure about the rest of the config above, would you mind commenting the code sample with what each does?

[2019-03-06 03:06] KFoxder commented on #134
@marfyl I keep getting this message. When going to the URL: `https://jazzband.co/account/join`

Did you just try again later?

![image](https://user-images.githubusercontent.com/2000316/53853300-e1f1b500-3f92-11e9-9600-9b50679867de.png)

[2019-03-07 11:23] goinnn commented on #121
@jleclanche & @jezdez Thanks!

[2019-03-13 08:05] PiDelport commented on #124
If anyone with the access wants to tackle this:

* https://help.github.com/en/articles/creating-issue-templates-for-your-repository

[2019-03-13 08:35] PiDelport opened #136 "Proposing django-voting"
* Repo: https://github.com/PiDelport/django-voting

As explained in https://github.com/PiDelport/django-voting/issues/13, I'm no longer using or actively maintaining this package, and @stephendwolff expressed interest in helping to get it in shape for Jazzband.

[Guidelines](https://jazzband.co/about/guidelines) criteria:

- **Viability** - Dates back to 2007 on [Google Code](https://code.google.c

[2019-03-13 08:47] PiDelport commented on #136
I may have jumped the gun here: I thought requesting the transfer would just request it, and have the Jazzband bot take some actions… but the repo is transferred now.

Is that okay?

[2019-03-13 09:44] jezdez commented on #136
Hmm, somethng went wrong during the transfer with the webhooks.. investigating.

As an aside, have you reached out to @brosner about transferring the original project? I'm not a fan of us maintaining forks, since that kind of defeats the purpose :-/

[2019-03-13 09:55] stephendwolff commented on #136
I think the original project has been archived: https://code.google.com/archive/p/django-voting/#! and never got past about Django 1.1.
I just stepped in with a PR to get it working with Django 1.11 (from 1.8 or so). It would need another update to get it up to the current LTS i think

[2019-03-13 09:58] jezdez commented on #136
Sure, what I'm saying is that we can ask @brosner to do the transfer, then push the changes in @PiDelport's fork into that repo. Or maybe ask GitHub support to remove the fork boolean.

[2019-03-13 10:06] stephendwolff commented on #136
Ah - i hadn't realised @PiDelport's was a fork - as it is published on PyPI

[2019-03-13 10:20] jezdez commented on #136
It's probably from a time when repos weren't allowed to be transferred.

[2019-03-13 10:21] jezdez commented on #136
Downside of using brosner's repo would be we'd loose all tickets/PRs in @PiDelport's repo. @PiDelport what do you think?

[2019-03-13 12:22] PiDelport commented on #136
Hmm, have probably diverged so far from @brosner's original repo that it doesn't really gain us anything to try and transfer that?

It's probably simpler to just create a fresh GitHub repo for Jazzband, and transfer the existing Git history and open branches / PRs into that. (There's not a lot to transfer.)

@jezdez: Does that sound good to you?

[2019-03-13 12:51] jezdez commented on #136
@PiDelport Yeah, that'd work for me.

[2019-03-13 12:58] Kiku-git opened #137 "Jazzband did not receive a list of email addresses"
When registering an account in the Jazzband community, the githab did not transfer my email addresses to the API. Error occurs when resubmitting.

[2019-03-13 13:03] #137 closed

[2019-03-13 13:04] Kiku-git commented on #137
The problem is solved after the cancellation of the API and re-registration.

[2019-03-13 15:13] PiDelport commented on #136
@jezdez: Okay, cool!

It doesn't look like I can transfer the repo back out of the Jazzband organisation; I assume you can? You could transfer it back to me, then we can create a new empty `jazzband/django-voting` and I'll push and transfer things to it?

[2019-03-13 22:03] karyon commented on #111
i've thought more about this, and I think I don't like the idea of essentially handing out the right to do anything (except pip releases perhaps) to everyone. e.g. low-quality PRs might be merged, and then it will still be or diox having the responsibility of cleaning that up or living with releasing that through pip. also there is the chance of abuse, e.g. through mass-altering issues. i'm glad t

[2019-03-14 00:35] diox commented on #111
Those are good points. We can continue to deal with the (low) influx of contributions as we've done - If people want to help maintain it, answering issues, trying to reproduce people's problems, and pinging us when someone with more seniority on the project is needed is fine, no need for extra permissions to do that.

@karyon You're the more active maintainer and I fully trust your opinion on this

[2019-03-14 15:35] jezdez commented on #111
@karyon Thank you for elaborating your concerns, I appreciate your patience for considering moving the project to Jazzband. I've commented on some points below since I feel I needed to try to alleviate some of the concerns.

FTR, there are contingency plans for abuse, and just like any abuse on this platform it will need to be reported to GitHub. E.g. mass-edited issues for example can be reverted

[2019-03-19 09:36] MattBlack85 opened #138 "email not fetched, invitation cannot be sent"
for some reason the email address is not fetched from GH api (it's publicly available), here a screenshot so I cannot send the invitation.

![image](https://user-images.githubusercontent.com/4163222/54595376-c5de2100-4a32-11e9-942f-b67afd1047ea.png)

[2019-03-25 17:41] codingjoe opened #139 "Fussy Fox – real-time linter"
Hey there,

so there is service called [Fussy Fox](https://fussyfox.github.io/) which is like Travis-CI, except it runs static code linters on AWS lambda. It crazy fast and uses GitHubs new checks API.

I think this could be helpfull, I don't see why we need to setup linters in Travis-CI, plus this would give contributors fast and machine based feedback. I've been using this on a bunch of projects

[2019-03-25 18:27] jezdez commented on #139
Neat, who's paying the AWS bills for it?

[2019-03-25 18:30] jezdez commented on #139
Enabled it, let's see how it goes?

[2019-03-25 18:45] codingjoe commented on #139
Me, but it's still bearable. If it gets out of hand I'll look for a sponsor.

Can't hurt. Go for it!

[2019-04-04 01:07] jdufresne opened #140 "Setup django-taggit readthedocs"
I've been maintaining django-taggit.

I can't manage the project on readthedocs.org and it doesn't seem to be updated automatically after a release. What steps should I take to be able to manage the docs? If it makes a difference, my username is jdufresne on rtd. Thanks!

https://django-taggit.readthedocs.io/en/latest/

[2019-04-04 17:29] atugushev opened #141 "Pip-tools 3.6.0 release aprovement"
I've prepared 3.6.0 release but there is still no aprovement for it. Any issues with the release?

/cc @vphilippon

[2019-04-04 18:22] jezdez commented on #141
Thanks for raising this @atugushev, let's wait and see if @vphilippon responds to the release mail first. I'll look into this at the end of the week again.

[2019-04-04 18:23] jezdez commented on #141
@vphilippon or @davidovich that is.

[2019-04-04 20:05] vphilippon commented on #141
Sorry, I apparently missed the email, I'll approve it shortly.

[2019-04-04 20:10] vphilippon commented on #141
And out it is: https://pypi.org/project/pip-tools/3.6.0/

Next step will be for me to check why the mails notifications didn't go off on my phone (not only Jazzband, other stuff too). Thanks for pointing that issue I guess :)

[2019-04-04 20:28] jezdez commented on #141
Cheers @vphilippon!

[2019-04-04 20:28] #141 closed

[2019-04-05 01:55] atugushev commented on #141
@vphilippon thank you!

[2019-04-06 14:04] rayrrr commented on #132
I was going to open a separate issue as per policy but since this one is already here, I volunteer to be Project Lead on this project.

[2019-04-07 22:00] rayrrr opened #142 "python-geojson Project Lead volunteer"
I would like to be the Project Lead for https://github.com/jazzband/python-geojson. I intend to use it in multiple projects and will keep it running and up-to-date.

[2019-04-08 15:30] rayrrr commented on #132
Coverage and Travis are both working on the master branch after merging https://github.com/jazzband/python-geojson/pull/120 so I checked those off.

[2019-04-14 14:19] jcassee opened #143 "Project leads for django-analytical"
@jezdez Who are the leads for django-analytical? If none yet, I propose @bittner, @PiDelport and myself.

Also, what would be the preferred release method? The Jazzband has some text about setting up a release process through Travis-CI. Can you set that up for us, or provide pointers?

# TODO

- [x] Add @bittner, @PiDelport, @jcassee to project leads
- [x] Update travis config with Jazzband creden

[2019-04-23 09:04] jezdez commented on #142
Hey @frewsxcv, do you concur?

[2019-04-23 09:10] jezdez commented on #140
Sorry this has been broken due to changes in the way RTD handles GitHub webhooks. I've updated the GitHub webhook again and this should work as expected again.

[2019-04-23 09:10] #140 closed

[2019-04-23 09:13] jezdez commented on #143
@jcassee There are no project leads yet (see https://jazzband.co/projects/django-analytical) and I'm happy to add you all to them.

The docs for the release process is here: https://jazzband.co/about/releases

In short:

- once configured, any Git tag pushed to the repo will trigger the CI process
- as part of the CI process a release will be done to the Jazzband site
- project leads will receive

[2019-04-23 09:25] jezdez commented on #143
This was fixed in https://github.com/jazzband/django-analytical/commit/c7f8dc21ad3b51238461dfa6eb739d13c0031fce. @jcassee Let me know if you have any more questions!

[2019-04-23 09:25] #143 closed

[2019-04-23 09:26] jezdez commented on #139
Closing this since this has been enabled and found useful. Thanks @codingjoe! Please let me know if there are any changes to FussyFox that would require us changing on the Jazzband side.

[2019-04-23 09:26] #139 closed

[2019-04-23 09:28] jcassee commented on #143
Thanks! We'll try and make a release shortly.

[2019-04-23 09:28] codingjoe commented on #139
Will do, thanks!

[2019-04-23 09:31] jezdez commented on #138
Apologies for the slow reply, I've updated the code that fetches the email addresses from GitHub quite a bit to handle GitHub API rate limiting better and it should work better now. Try again by logging out and in again of the Jazzband site and it should successfully fetch the email addresses. If that doesn't help you could also try looking at the member team page at https://github.com/orgs/jazzba

[2019-04-23 09:31] #138 closed

[2019-04-23 09:33] jezdez commented on #111
I'm closing this for now, since I feel like everything has been said. Thank you for your consideration, @diox and @karyon!

[2019-04-23 09:33] #111 closed

[2019-04-23 09:33] jezdez commented on #110
Closing since #111 was declined.

[2019-04-23 09:33] #110 closed

[2019-04-23 10:15] MattBlack85 commented on #138
hey @jezdez thank you very much, can confirmed I am now part of the community!

[2019-04-23 12:19] frewsxcv commented on #142
Sounds good @jezdez and @rayrrr 👍🏻

[2019-04-23 13:54] jezdez commented on #142
Done: https://jazzband.co/projects/python-geojson

@rayrrr Also enabled PyPI releases via Jazzband.co (docs: https://jazzband.co/about/releases) in https://github.com/jazzband/python-geojson/pull/123.

In short:

- once configured, any Git tag pushed to the repo will trigger the CI process
- as part of the CI process a release will be done to the Jazzband site
- project leads will receive an email

[2019-04-23 13:54] #142 closed

[2019-04-23 15:08] jdufresne commented on #140
Thanks!

[2019-04-24 08:18] stephendwolff commented on #136
@jezdez, @PiDelport, I should have a bit of time to work on this in May - do i make a fork of this, then a PR for any updates necessary to get all the 'Guidelines' addressed?

[2019-05-24 01:34] poswald opened #144 "Jazzband login broken"
The url https://jazzband.co/account/login returns the following:
[code]

[2019-05-24 18:50] jezdez commented on #144
Ah, thanks, that's a regression from when I changed auth backends, fix coming..

[2019-05-24 19:09] jezdez commented on #144
Fixed in https://github.com/jazzband/website/commit/95209e90297f395cb26f3332d1f7d6e94a7da405.

[2019-05-24 19:09] #144 closed

[2019-05-27 12:08] vigo opened #145 "Planning to move my project here!"
Hi, I'm the author and maintainer of https://github.com/vigo/django2-project-template I'd like to move my project here... What do you think about it? Thanks

[2019-05-27 12:20] jezdez commented on #145
Hi @vigo! Thanks for your question, I'm impressed by the project template. But I'm afraid this isn't quite a good fit for Jazzband since Django project templates are highly selective and too subjective for general use.

I know this may not be satisfying and the template is certainly complex, but in its entirety it's more a collection of snippets and I think this would have a smaller chance for a s

[2019-05-27 12:20] #145 closed

[2019-05-27 12:25] vigo commented on #145
After I inspect other projects, I was thinking about the same as you... Sure no problem, love to be the part of the group :)

[2019-06-02 13:11] aleksihakli opened #146 "django-ical project maintenance"
Hey,

I just updated some test settings in the django-ical project and noticed that there is no maintainer for the project to manage the releases.

https://github.com/jazzband/django-ical
https://jazzband.co/projects/django-ical

If you'd like, I can take care of it. I'm already maintaining django-axes and think that the django-ical could use some small updates and CI work for code quality gates a

[2019-06-02 13:17] aleksihakli commented on #125
Improving maintenance models will require trying out different things. Trying out the OpenCollective funding model would be interesting. If the Jazzband organization is to evolve over time, then pooling resources into applying for grants and funding is needed in the long run as well, so I think putting some effort into this is a good idea.

[2019-06-02 13:22] aleksihakli commented on #104
Hey @mgrdcm, @CedricCarrard and @jezdez. I have some time opening up in the summer and autumn and can help out with [`django-embed-video`](https://github.com/jazzband/django-embed-video) maintenance. I've set up [`django-axes`](https://github.com/jazzband/django-axes) and am planning to improve the [`django-ical`](https://github.com/jazzband/django-axes). I've previously used `django-embed-video`

[2019-06-11 12:41] MattBlack85 opened #147 "django-oauth-toolkit project maintenance"
Hi, I pinged about this topic in the IRC channel so moving the discussion here, I rely on django-oauth-toolkit library for our project so I can spare some time on it and seeing there is no much active development there (also for releases) I'd like to lead the project forward.

[2019-06-14 16:33] odinuge opened #148 "Secret code for django-push-notifications"
Hi roadie(s),

I need a secret key for django-push-notification for https://github.com/jazzband/django-push-notifications/pull/505, so that we can release v2.0.0 https://github.com/jazzband/django-push-notifications/pull/502 of the project 🎉

[2019-06-20 16:01] matthiask opened #149 "django-debug-toolbar: Send hook notifications to readthedocs.io"
I have created an incoming webhook here but cannot add it to the repository.
https://readthedocs.org/api/v2/webhook/django-debug-toolbar/89648/

Thanks in advance!

[2019-06-20 19:18] richardbarran opened #150 "Transferring a project to Jazzband when the original author has gone AWOL"
Hi,
I've been following [django-sortedm2m](https://github.com/gregmuellegger/django-sortedm2m), as I have an app of my own that depends on it.

There's has been no development on this project since 2017.

[A ticket has been opened to enquire as to the status of the project](https://github.com/gregmuellegger/django-sortedm2m/issues/112), and the original author has been pinged several times, but as

[2019-06-20 19:34] jezdez commented on #150
I'm afraid, this will need approval from @gregmuellegger. I'll ping him on Twitter, too.

[2019-06-21 15:47] charettes opened #151 "django-model-utils project maintenance"
The https://github.com/jazzband/django-model-utils package already has @carljm as a maintainer but given there was no release for more than a year and my current employer actively uses this package I'd volunteer to become a lead as well.

I recently attempted to release 3.2.0 https://github.com/jazzband/django-model-utils/commit/d3d0881de02b1b7d16d1ca5d2dc3674bcc098b57 but while the package was up

[2019-06-24 16:25] carljm commented on #151
Sorry for slow approval, must have missed an email. Strongly in favor of adding @charettes as project lead, since I am not using this package.

[2019-06-24 16:36] jezdez commented on #151
@carljm Thanks for the reply!

@charettes I added you as a lead dev, too. See https://jazzband.co/projects/django-model-utils for the releases. Mind you, it seems for 3.2.0 only the tarball got released to PyPI, so doing this for the whl file would be a sensible step.

[2019-06-24 16:36] #151 closed

[2019-06-24 16:39] carljm commented on #151
Thanks @jezdez! I thought I released both files, but seems the `.whl` didn't go through. Did it again, looks good now.

[2019-06-26 05:24] gregmuellegger commented on #150
Feeling rather sorry for blocking all this by lack of time and involvement in the Django-universe in the last years (and basically wasting working hours of other people by not watching my GitHub feeds). So I'm rather happy if it would be adopted.

Go ahead and thanks for taking the time and efforts on you. 🙇

[2019-06-26 07:31] jezdez commented on #150
@gregmuellegger In that case, please join the Jazzband GitHub org and simply transfer the repo to the organization using GitHub's own transfer tool in the repo settings. Once that's done, @richardbarran can take it from there.

[2019-06-26 07:32] jezdez commented on #150
@gregmuellegger You can join on https://jazzband.co/ by clicking "Login and join" and follow the instructions.

[2019-06-26 12:18] richardbarran commented on #150
Thanks @gregmuellegger.
I'm happy to help out with the transfer of the project over to Jazzband if necessary (although I'd rather not become the project lead, as I'm already involved in several other projects).

[2019-06-26 19:34] jazzband-bot opened #152 "Implement Jazzband guidelines for project django-sortedm2m"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-sortedm2m](https://github.com/jazzband/django-sortedm2m)

It was initiated by @gregmuellegger who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel f

[2019-06-27 04:14] clintonb commented on #150
@gregmuellegger would you add `jazzband` as a PyPI maintainer so we can (eventually) create releases? https://jazzband.co/about/releases

[2019-06-27 05:26] gregmuellegger commented on #150
Done!

[2019-06-27 08:59] jezdez commented on #150
The package has been transfered and further todos are tracked in #152. Thank you all for working on this!

[2019-06-27 08:59] #150 closed

[2019-06-27 09:01] jezdez commented on #149
Done!

[2019-06-27 09:01] #149 closed

[2019-06-27 09:10] matthiask commented on #149
Grossartig, vielen Dank!

[2019-06-28 08:15] jezdez commented on #152
@clintonb @richardbarran Anyone willing to become project lead?

[2019-06-28 15:02] clintonb commented on #152
@richardbarran I can take it on for now to help get the package to Django 2.0+ support. I'd also like to put out a call for a future lead to take the reins.

[2019-06-28 19:48] richardbarran commented on #152
@clintonb I'm not really that keen on becoming a project lead as I'm already helping to maintain 3 packages!
If you're happy to handle the transition period - then maybe open a ticket on the sortedm2m Github to ask for someone to step up and take over that role?

[2019-06-29 08:53] benzkji opened #153 "proposal: django-user-agents"
this project has no maintainer, but he's willing to transfer it...https://github.com/selwin/django-user_agents/issues/34 - any opinions? I'm not familiar with jazzband yet, but have some basic knowlegde with CI and Open Source with my own django-libraries. does the project need a maintainer, here on jazzband? or is this just collaborative...(as I understood it).

[2019-06-29 11:19] aleksihakli commented on #104
@jezdez @CedricCarrard would you be OK with me as a maintainer for this project?

[2019-06-29 11:19] aleksihakli commented on #146
@jezdez @cleder @pinkerton would you be OK with me as a maintainer for this project?

[2019-07-01 14:21] cleder commented on #146
:+1:

[2019-07-03 18:06] jazzband-bot opened #154 "Implement Jazzband guidelines for project django-nose"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-nose](https://github.com/jazzband/django-nose)

It was initiated by @jwhitlock who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update i

[2019-07-11 14:00] hramezani commented on #136
Any update? I can work on this. what should I do?

[2019-07-13 02:48] selwin commented on #153
Let me know how we can proceed :)

[2019-07-16 20:14] benzkji commented on #153
@selwin how about the underlying python-user-agents? django-user-agents is based on it, so both projects would need to be moved here, otherwise it doesnt make sense, what do you think?

[2019-07-16 20:16] benzkji commented on #153
if any of the more experienced jazzbanders could give a quick opinion? @jezdez maybe?

[2019-07-16 20:28] aleksihakli commented on #153
I think @jezdez is a bit busy, but the idea does sound good, assuming both projects can indeed be moved. They sound like good candidates for joint maintenance.

[2019-07-18 04:21] rayrrr opened #155 "Autodeploy failing due to "python-geojson" GitHub repo & "geojson" PyPi package naming mismatch"
I'm trying to release [python-geojson](https://github.com/jazzband/python-geojson) 2.5.0. However, [on PyPi](https://pypi.org/project/geojson/), the package's official name is just plain `geojson`. Since the upload URL on jazzband.co doesn't match that, Travis CI is throwing this error on the deploy step:

[code]

The upload URL most likely needs to be changed to https://jazzband.co/projects/geojs

[2019-07-18 13:14] rayrrr commented on #155
@jezdez sorry to bother you but since you were the one who set up the autodeploy stuff for `python-geojson` (aka `geojson`) in https://github.com/jazzband/python-geojson/pull/123 a few months back, do you have the bandwidth for this quick fix?

[2019-07-22 23:26] rayrrr commented on #155
FYI I changed the URL in the repo I maintain...giving a URL not found error now, but still figuring that making the change on the jazzband.co side will resolve this.

[2019-07-30 12:27] ncoghlan opened #156 "Investigate API keys for auto-deploy scripts"
PyPI's API token support is now in beta, and could be of interest for Jazzband's release automation: https://discuss.python.org/t/pypi-security-work-multifactor-auth-progress-help-needed/1042/31?u=ncoghlan

Right now, every Jazzband project maintainer technically has access to the jazzband user's PyPI password (since we can run a trusted build on one of the repos we manage and get it to send us th

[2019-07-30 15:04] jezdez commented on #156
Absolutely, I've tracked the development and been looking forward to using it!

That's not true anymore ever since the [project releases](https://jazzband.co/about/releases) have been implemented, in which releases happen against a per-project PyPI-style index on the Jazzband website (in case there are still Jazzband projects pointing to PyPI, they are misconfigured, e.g. contextlib2 😬). E.g. [pip

[2019-07-30 15:07] jezdez opened #157 "Add project leads for contextlib2"
This came up while triaging #156

@ncoghlan Do you want to be added as project lead (currently strictly related to PyPI relases via the [Jazzband project release](https://jazzband.co/about/releases) system) and showe up on the project detail page on https://jazzband.co/projects/contextlib2? Anyone else who you would like to add?

[2019-07-30 15:07] jezdez commented on #156
Also see #157.

[2019-07-31 15:28] ncoghlan commented on #157
Yes please.

It's still just me at the moment.

[2019-07-31 15:30] ncoghlan commented on #156
*cough* I guess that shows how long it has been since contextlib2's automation was set up, and how long it has been since I pushed a new release...

[2019-07-31 17:23] jezdez commented on #156
No worries, I admit the biggest issues for Jazzband to thrive was the lack of announcements and release notes, which I hope to improve very soon by introducing an own discourse instance.

[2019-08-04 19:32] rayrrr commented on #155
FWIW here are the [release notes](https://github.com/jazzband/python-geojson/blob/master/CHANGELOG.rst#250-2019-07-18) for the version I'm trying to deploy to PyPi.

[2019-08-05 08:03] beregond opened #158 "Proposing jsonmodels"
Hi all,

I have a project -> https://github.com/beregond/jsonmodels/ that I'd like jazzband took care of - I cannot maintain anymore - too little time lately.

Tell me what you think, or what is to be polished, so we could then proceed with transfer. :)

[2019-08-05 08:21] jazzband-bot opened #159 "Implement Jazzband guidelines for project django-floppyforms"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-floppyforms](https://github.com/jazzband/django-floppyforms)

It was initiated by @gregmuellegger who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but fe

[2019-08-05 08:24] gregmuellegger commented on #159
Just transfered django-floppyforms to jazzband as @rtpg offered to maintain the project. So I'll suggest he will take over the leadership here.

Thanks for the offer and taking on the work of this project!

[2019-08-06 21:01] rayrrr commented on #155
@jezdez sorry to keep bugging you but you're the only roadie I know...please put some eyes on this when you can, I am hoping it will be a quick fix.

[2019-08-06 22:49] aleksihakli commented on #155
Would it be sensible to have 2-3 roadies in the Jazzband? At the moment our bus factor is quite high and there are dozens of projects that are dependant on one persons resources.

[2019-08-09 07:00] jezdez commented on #155
Hey all, sorry for the delay, I was on vacation and had to catch up with paid work, first.

[2019-08-09 07:11] jezdez commented on #155
@rayrrr Yeah, this is basically a misalignment between Jazzband project names (derived from the GitHub repo) and the package distribution name (the one specified in setup.py) and is an oversight at least and maybe a bug in the PyPI index implementation of the Jazzband site.

Since the CI process will always try to upload files depending on the package distribution name (it's what PyPI later will r

[2019-08-09 07:23] jezdez commented on #155
Okay done, https://github.com/jazzband/geojson and https://jazzband.co/projects/geojson.

I've also to re-tagged 2.5.0 with the URL changes to trigger a new deploy.

@rayrrr You should have received notifications for the new release.

[2019-08-09 07:50] jezdez commented on #147
Sorry for the slow response, you're now project lead!

[2019-08-09 07:50] #147 closed

[2019-08-09 07:52] jezdez commented on #104
That makes sense @mgrdcm, I've added you and @aleksihakli as project leads. Thank you!

[2019-08-09 07:52] #104 closed

[2019-08-09 07:55] jezdez commented on #148
Hm, so setting up PyPI implies that there is a project lead (or the roadies as a fallback). Since I'm the only roadie right now and not familiar with the project I'd like to ask you to figure out who could be the person willing to review releases when they happen.

@jleclanche is the developer with the most contributions to the project. Maybe they could stand in as project lead to review releases

[2019-08-09 07:58] jezdez commented on #158
Interesting, this looks pretty good in terms of guidelines, feel free to just transfer the repo to the Jazzband GitHub org via the GitHub repo settings. A separate tickets with further TODOs is automatically created once the transfer is done.

[2019-08-09 07:58] #158 closed

[2019-08-09 07:59] jezdez commented on #146
@aleksihakli Done!

[2019-08-09 07:59] #146 closed

[2019-08-09 08:06] jezdez commented on #153
Hey there, I was out for a bit and only now am catching up.

In general both projects look good 👍🏻

I think we'll need to clarify two things with @selwin:

1) Please verify that [python-user-agents](https://github.com/selwin/python-user-agents/) is also accepted by @selwin.

2) Both projects currently have documentation in the README.rst but no Sphinx project or ReadTheDocs project set up. I would

[2019-08-09 08:08] jezdez commented on #125
Totally agreed @aleksihakli. In fact I'm currently working on a plan to better facilitate the discussion around this. More news soon.

[2019-08-09 15:12] rayrrr commented on #155
@jezdez, thank you for getting around to this, and keep gettin that money! :)

I did in fact receive the new release notifications, but sadly we're not out of the woods yet. I am now getting PyPi upload errors trying to deploy 2.5.0 via the Jazzband website:

**Release of geojson-2.5.0.tar.gz failed.**

**Standard output**

**Uploading distributions to https://upload.pypi.org/legacy/ Uploading geo

[2019-08-09 17:55] aleksihakli commented on #155
We ran into this a while back, it was a result of the rST files having faulty syntax and PyPI bouncing them due to it. I fixed the syntax and rereleased and the PyPI upload went smooth after that.

[2019-08-09 18:00] aleksihakli commented on #155
Running `rstvalidator` gives the following output:

[code]

And checking the [`README.rst`](https://raw.githubusercontent.com/jazzband/geojson/9ef885b/README.rst) shows that the following titles have too short underlines:

[code]

Fixing them results in `rstvalidator` running smoothly :)

[2019-08-09 20:40] rayrrr commented on #155
@aleksihakli that fixed it! Thanks very much for your unofficial roadie work.

[2019-08-09 20:40] #155 closed

[2019-08-10 10:34] aleksihakli opened #160 "PyPI deployments for django-ical"
At the moment the django-ical package does not have the Jazzband registry setup for PyPI releases:

- https://github.com/jazzband/django-ical
- https://jazzband.co/projects/django-ical
- https://pypi.org/project/django-ical/

[2019-08-10 10:35] aleksihakli opened #161 "PyPI deployments for django-embed-video"
At the moment the django-embed-video package does not have the Jazzband registry setup for PyPI releases:

https://github.com/jazzband/django-embed-video
https://jazzband.co/projects/django-embed-video
https://pypi.org/project/django-embed-video/

[2019-08-10 18:25] jleclanche commented on #148
I'm happy to help if I can but although I authored django-push-notifications, I've not contributed to it in a long time.

[2019-08-12 11:42] #157 closed

[2019-08-12 12:59] selwin commented on #153
1. Ok :)
2. I won't have much time setting this up as I'm concentrating on developing features for other projects that I use at work. Hopefully someone will be able to help with this.

[2019-08-12 13:05] benzkji commented on #153
good! I can help, also with travis, or whatever else (releasing, etc). As I am not a real regular user of django-user-agents, I can try to help maintain it (PR, Issues, etc), but probably not alone - and as this is jazzband, I guess this could work out...

[2019-08-16 10:50] odinuge commented on #148
Thanks for the answer @jezdez!

It would be perfect if you @jleclanche could do that! I don't know enough about the project and the code to take such a role, so I think @jleclanche is the perfect man!

The project desperately need a new release(s) now, both to add support for python 3.7 (https://github.com/jazzband/django-push-notifications/pull/502) and the problems with the version of apns2 (htt

[2019-08-16 11:44] jezdez commented on #148
@jleclanche @odinuge Excellent, I'll set up the release process and add @jleclanche as project lead.

In practice the releasing will happen semi-automatic. @jleclanche will get an email as soon a release has been made to the Jazzband Package Index vom Travis to confirm the release via the Website and the press of a button before it's shipped to PyPI. Please make sure to review the changes going ou

[2019-08-16 11:58] jezdez commented on #148
@odinuge About that 1.6.1 release, I'm afraid since we've already made significant progress in the repo towards a 2.0.0 and the travis config needing updates to facilitate I'll need to create a 1.6.x branch to do that. From there we can cut the tag and do the 1.6.1 release. Then merge the 1.6.x branch into master and do a 2.0.0 release.

[2019-08-16 12:03] jezdez commented on #148
Wait, now I'm confused master is already marked as becoming 2.0.0, but https://github.com/jazzband/django-push-notifications/pull/516 is supposed to be the base for 1.6.1?

@odinuge Could you please let me know what the last commit of a 1.6.x release was that you want to cherry-pick to create 1.6.1? Why open PRs against master?

[2019-08-16 12:05] jezdez commented on #148
@odinuge Would https://github.com/jazzband/django-push-notifications/tree/1.6.0 be the base for 1.6.1?

[2019-08-16 12:10] odinuge commented on #148
You are correct! The tag `1.6.0` will then be the base for `1.6.1`, with this diff from current master: https://github.com/jazzband/django-push-notifications/compare/1.6.0...master (the PR with the changelog and bump in setup.py to "2.0.0", aka. the next version, was merged before everything was good to go, but it shouldn't matter).

There are already some breaking changes in master, making it imp

[2019-08-16 12:11] jezdez commented on #148
Let's just release 1.6.1 with the dependency update in https://github.com/jazzband/django-push-notifications/pull/516, not the full-blown backwards-incompatible changes.

[2019-08-16 12:12] odinuge commented on #148
Perfect! Should we cherry-pick support for python v3.7 too? https://github.com/jazzband/django-push-notifications/pull/502

[2019-08-16 12:19] odinuge commented on #148
Also, not sure if I understand why we need to merge the release branch `v1.6.x` into master. :thinking: When the release in the branch is ready for release, we create the release and a corresponding git tag.

[2019-08-16 12:23] jezdez commented on #148
Because the release branch needs to have the changes to do the semi-automatic releases as well. It's also a good practice to not keep releases branches open-ended to not accidentally forget commits that were done in them. Practically speaking, everything in 1.6.1 is okay to have in 2.0.0 and the release branch is just a temporary side-stepping while we clean up the repo for a double-release.  thin

[2019-08-16 20:23] jezdez commented on #148
Alright, [1.6.1 is out](https://github.com/jazzband/django-push-notifications/pull/517) and I've merged the changes to the CI setup into master.

Closing this as fixed. The work to release the current master (2.0.0) can continue regularly and once a release (git tag) happens, Travis will push the files to the Jazzband site and ask @jleclanche and me to review it.

[2019-08-16 20:23] #148 closed

[2019-08-20 06:12] jazzband-bot opened #162 "Implement Jazzband guidelines for project jsonmodels"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [jsonmodels](https://github.com/jazzband/jsonmodels)

It was initiated by @beregond who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it i

[2019-08-27 09:17] jezdez commented on #152
@clintonb I'll take care of it and will make you project lead for now. Please review https://jazzband.co/about/releases for how the release process will work then.

[2019-08-27 09:56] jezdez commented on #152
@clintonb done

[2019-08-27 10:04] jezdez commented on #152
Closing this since we've solved all issues above. Thanks, all!

[2019-08-27 10:04] #152 closed

[2019-08-27 10:17] jezdez commented on #154
@jwhitlock Any update on the last two TODOs?

[2019-08-27 10:20] jezdez commented on #161
This is currently blocked by the fact that we don't have access to the PyPI project yet.

@yetty @CedricCarrard would one of you mind adding the `jazzband` user with a maintainer role on https://pypi.org/manage/project/django-embed-video/collaboration/ please?

[2019-08-27 10:25] yetty commented on #161
@jezdez jazzband has been added.

[2019-08-27 10:26] #160 closed

[2019-08-27 10:29] jezdez commented on #160
@aleksihakli Hey, so I haven't moved django-ical to use setuptols_scm yet, so when you do the releases make sure to update the version numbers in the files manually please. Or.. move to setuptools_scm like other Jazzband projects.

[2019-08-27 10:29] jezdez commented on #161
@yetty Thanks!

[2019-08-27 11:29] #161 closed

[2019-08-27 11:32] jezdez commented on #159
@rtpg Hey there, please let me know how I can help you implement the TODOs above. Are you okay with becoming the project lead (effectively only used right now to confirm package releases via the [Jazzband package index](https://jazzband.co/about/releases)).

[2019-08-27 11:33] jezdez commented on #162
@beregond Please be so kind and work on the TODOs above to finalize the transfer to Jazzband. Thank you!

[2019-08-27 11:34] jezdez commented on #132
@rayrrr Would you mind working on the rest of the TODOs above to finalize the transfer to Jazzband, please?

[2019-08-27 13:19] aleksihakli commented on #160
Added setuptool_scm, fixed some rST styling and made a new release through the Jazzband site to PyPI.

The RTD releases don't seem to be in sync yet: https://readthedocs.org/projects/django-ical/

[2019-08-27 13:36] jezdez commented on #160
@aleksihakli Thanks! I've fixed RTD by adding a webhook, too.

[2019-08-27 22:25] aleksihakli commented on #160
Seems like RTD requires the package to be installed in the environment for smooth builds: https://readthedocs.org/projects/django-ical/builds/9573786/

Do you happen to have an obvious solution for Sphinx builds with the `setuptools_scm` version fetching? I'm not too familiar with the RTD CI system.

[2019-08-28 06:47] jezdez commented on #160
Yeah, RTD has an option to install the package during the build, which I enabled and that fixed that error. Sadly there was another showing up instead: https://readthedocs.org/projects/django-ical/builds/9575137/

I had to also move the RTD project to be built on Python 3 since setup.py used a Python 3 only feature (`open(.., encoding="utf-8")`).

[2019-08-28 09:07] jezdez commented on #156
Okay, so I've just added a API key for all projects until PyPI supports creating individual API keys via the API.

It's marginally safer than using the PyPI password for releases from the server before. I'm not sure if creating individual API keys for each Jazzband project would improve this further since if a leak would happen of one, then it's likely the others would leak, too. Closing for now..

[2019-08-28 09:07] #156 closed

[2019-08-28 10:10] aleksihakli commented on #160
Yeah, I try to boobytrap all new releases with Python 3 only code, it adds a certain incentive for Python 2 deprecation.

Thanks for the fixes and help, everything seems to be in order infrastructure-wise for the project now :)

[2019-08-28 11:27] aleksihakli commented on #161
Is it possible to check the RTD builds?

https://readthedocs.org/projects/django-embed-video/builds/

It seems like the webhook might have gone sour as the last build was 10 months ago and there have been new commits to master since that.

The RTD requires updating to a newer Sphinx and Python version, but the current codebase breaks builds on Sphinx >= 2 and functions correctly with Sphinx 1.7.9

[2019-08-28 12:06] jezdez commented on #161
I just noticed there was never a ticket to track the adoption of django-embed-video, this was at the time when we had trouble with GitHub ratelimiting us. Lemme open a ticket about this.

[2019-08-28 12:10] jezdez opened #163 "Implement Jazzband guidelines for project django-embed-video"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-embed-video](https://github.com/jazzband/django-embed-video)

It was initiated by @yetty who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free t

[2019-08-28 12:11] jezdez commented on #161
@aleksihakli I've opened #163.

[2019-08-28 12:12] jezdez commented on #163
@aleksihakli @yetty Would you two mind going through the list above and check/fix the rest of the open items?

[2019-08-28 15:44] aleksihakli commented on #163
Sure, I'll go over the list and the project. The RTD and repo settings are inaccessible for me, but I'll check and update references inside the repository.

[2019-08-28 16:14] yetty commented on #163
jazzband-bot added as a maintainer to the RTD.

[2019-08-28 22:12] rayrrr commented on #132
@jezdez Yes, I am happy to do so. Thanks for the reminder!

[2019-08-29 02:12] rayrrr commented on #132
@jezdez I've just added the Jazzband badge to the README, as well as a CONTRIBUTING.rst file. I don't have access to the "Settings" tab on the project, so if any additional config is required to display the contributing guidelines as recommended by Jazzband, I'll need your help there.

As for Read the Docs, @frewsxcv we are going to need your help because because RtD still points to your personal

[2019-08-29 11:42] aleksihakli commented on #163
Everything should be in order now.

[2019-08-29 13:44] frewsxcv commented on #132
Done and done!

[2019-08-29 13:44] jezdez commented on #163
I've also set up the RTD webhook in the repo. Closing since we're done here.

[2019-08-29 13:44] #163 closed

[2019-08-29 13:50] jezdez commented on #132
FWIW it seems as if there is just no Sphinx documentation so far, so moving the README to a docs/index.rst would make sense (and before starting a new project with `sphinx-quickstart docs/`).

[2019-08-30 05:45] beregond commented on #162
@jezdez yes, on it!

[2019-08-30 12:14] aleksihakli opened #164 "Jazzband bot upload and delete access to PyPI repositories"
The Jazzband bot needs to always have the ability to delete a release in Jazzband repositories.

In the case there is a security compromising or other ill willed release we might not otherwise be able to react to malicious actors fast enough.

Discussing potential takedown procedures with PyPA would make sense as well as Jazzband is vendoring dozens of relevant packages and using a lot of pull in

[2019-08-30 15:17] aleksihakli commented on #161
@jezdez seems like the RTD webhook might not be firing correctly as master and 1.3 aren't building for django-embed-video.

[2019-09-04 01:17] jwhitlock opened #165 "Add jwhitlock as lead for django-nose, enable PyPi"
To complete the guidelines for project django-nose (issue #154), please add me as a project lead, and enable creating tagged builds for upload to PyPI.

We're due for a 1.4.7 release, to note Django 2.2 support and to update the PyPI docs for Jazzband, so I should be able to test out the process soon.

[2019-09-05 18:15] rayrrr commented on #132
@jezdez I would like to implement this in a way that maintains the display of the README on the GitHub repo page and doesn't create repeated documentation in two places. Would it be possible/acceptable to use a reST include directive along the lines of https://github.com/jazzband/geojson/pull/134 for Sphinx/RtD?

[2019-09-06 04:53] rayrrr commented on #132
@jezdez an unsolicited user took the liberty of merging the PR (do you know them? it's not the first time they did so). Anyway, the reST include directive appears to have worked: https://geojson.readthedocs.io so can we go ahead and close this out now?

[2019-09-06 07:09] jezdez commented on #132
Hey, apologies for the slow reply, this sounds definitely like a good idea, I've seen this setup in a few projects over the years, e.g. https://daler.github.io/sphinxdoc-test/includeme.html#index-rst-changes documents this even. So go for it.

Yeah, @auvipy tends to go through PRs in many projects (not only Jazzband's) and contributes by merging them when they see no obvious blockers. Sadly this t

[2019-09-06 08:01] auvipy commented on #132
thanks, I will follow the guides and more careful.

[2019-09-06 08:01] jezdez commented on #132
@auvipy Thank you!

[2019-09-06 14:30] rayrrr commented on #132
https://geojson.readthedocs.io is looking good. Closing this out. Thanks @jezdez and @frewsxcv for your late-game assists!

[2019-09-06 14:30] #132 closed

[2019-09-07 03:04] rtpg commented on #159
@jezdez sorry for the wait, I'm going to try cleaning up this repo today based off of this list. I'm happy with being the project lead on this one, and will work through this checklist.

[2019-09-07 05:42] rtpg commented on #159
https://github.com/jazzband/django-floppyforms/pull/206 this PR adds a lot of the things.

I noticed that Fussy Fox was also set up on this repo (though there's no configuration file). The project already has linting set up via Travis, is it expected to get the linting done through Fussy Fox instead across Jazzband projects?

[2019-09-07 07:31] rtpg opened #166 "Request: add rtpg as lead for django-floppyforms"
To complete the guidelines for project django-floppyforms (issue #159 ), please add me as a project lead, and enable creating tagged builds for upload to PyPI.

The discussion on that issue will show that I was the one to originally request transferring this project over to jazzband to the original maintainer (and I had been maintaining a branch supporting Django 1.11 in a [PR of the project](http

[2019-09-16 08:56] #165 closed

[2019-09-16 08:56] jezdez commented on #165
@jwhitlock Let me know when you do the first release so I can help out if needed. 😻

[2019-09-16 09:00] #166 closed

[2019-09-16 09:01] jezdez commented on #166
@rtpg Please let me know when you do the first release so I can help if needed. 😻

[2019-09-17 13:36] jazzband-bot opened #167 "Implement Jazzband guidelines for project help"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [help](https://github.com/jazzband/help)

It was initiated by @jezdez who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it in case the pro

[2019-09-17 13:36] jezdez commented on #167
Teehee.

[2019-09-17 13:36] #167 closed

[2019-09-17 13:40] jezdez commented on #101
This was fixed a while ago.

[2019-09-17 13:40] #101 closed

[2019-09-17 13:41] jezdez commented on #94
I think this is done, please let me know if there is anything else needed for the GitHub pages bit to be fixed.

[2019-09-17 13:41] #94 closed

[2019-09-17 13:41] jezdez commented on #96
Hey @borgstrom is there anything you can do about those guidelines?

[2019-09-22 08:16] jezdez commented on #157
@ncoghlan Congrats on the first semi-automatic release! Please let me know if something is confusing or obviously needs a fix.

[2019-09-22 22:42] ncoghlan commented on #157
@jezdez There was one glitch where I'm not sure whether my first attempt to publish the wheel file worked or not: the subsequent page showed the upload command output, but also showed the confirmation prompt again. Giving the confirmation a second time seemed to sort that out, though.

Otherwise it all seemed pretty clear, though!

[2019-09-26 14:45] atugushev opened #168 "pip-tools set up to require a PR review approval"
See https://github.com/jazzband/pip-tools/issues/911

[2019-09-26 18:45] atugushev commented on #168
I'll close this based on the https://github.com/jazzband/pip-tools/issues/911#issuecomment-535629523. Thanks!

[2019-09-26 18:45] #168 closed

[2019-10-05 07:22] claudep opened #169 "tablib: CI for release"
One of the point of https://github.com/jazzband/tablib/issues/378 is:
 * Set up CI for Jazzband project releases if needed and open ticket if yes

I'd like to ask for that with this ticket, thanks!

[2019-10-05 15:59] aleksihakli commented on #169
Hi! I just took a look at the CI generally and noticed that [Python 2.7 builds are failing](https://travis-ci.org/jazzband/tablib/jobs/593930236). It would be suitable to drop Python 2.7 from the test matrix entirely as it's being deprecated at the moment and won't be supported beyond December, 2020. Just dropping the 2.7 line from the [`.travis.yml`](https://github.com/jazzband/tablib/blob/master

[2019-10-05 16:03] claudep commented on #169
The build is failing for a specific PR (which targets the post-2.7 time), not for current master.

[2019-10-10 19:59] claudep commented on #169
Is there some time frame for this to be resolved? Because I could also ask current maintainers to add me as maintainer so as I can make releases in between.

[2019-10-11 10:06] jezdez commented on #169
@claudep Sure thing, let's select a project lead in https://github.com/jazzband/tablib/issues/378 first, then I can set this up quickly.

[2019-10-28 23:12] kencochrane opened #170 "Proposal: django-defender"
Hello, @aleksihakli has suggested that I move https://github.com/kencochrane/django-defender/ over to Jazzband, and this issue is to discuss if you are interested in accepting the project.

This discussion originated here: https://github.com/kencochrane/django-defender/issues/121

I looked over the guidelines and they look good, and the project has most of the requirements already and only needs a

[2019-10-29 14:25] JonathanHuot opened #171 "is it worth to move django-oauth-toolkit into oauthlib org?"
Hi jazzband-roadies,

Two years ago, the idan/oauthlib was moved to the newly created oauthlib github org. The goal was to have more contributors and to give the project more activity.
So far, we have released 6 versions with a lot of bug fixes and new features, see https://github.com/oauthlib/oauthlib/releases.

However, we are always looking for contributors, and one discussion was started there

[2019-10-29 15:41] auvipy commented on #171
IMHO, if it gets more care there, I think it should be.

[2019-10-31 20:16] BertrandBordage opened #172 "Moving django-cachalot"
Hi dear roadies & other Jazzband members!

I created a rather well-known project called [django-cachalot](https://github.com/noripyt/django-cachalot) 5 years ago. Unfortunately I no longer have time to maintain it. In fact I very rarely used it since late 2015. I maintained it just because I liked the project and it wasn’t too hard to maintain.

It is still rather simple to maintain, but I really

[2019-11-01 14:57] nathanle commented on #119
Yes, please move it.

[2019-11-07 14:24] jezdez commented on #170
Yep, the project looks like it fits well into Jazzband, thank you for proposing it. Given the original ticket https://github.com/kencochrane/django-defender/issues/121 that discusses to possibly merge or further integrate it with django-axes I'm hoping that @aleksihakli and @camilonova can help figure out a common roadmap.

@kencochrane Feel free to transfer the repo as there will be a ticket auto

[2019-11-07 14:24] kencochrane commented on #170
@jezdez thank you!

[2019-11-07 14:36] kencochrane commented on #170
I transferred over the repo, I'll close this issue since it is complete, and we can work off the new issue that was auto-created in the defender repo.

[2019-11-07 14:36] #170 closed

[2019-11-07 16:54] aleksihakli commented on #170
I think there's at least the prospect of joint maintenance for the projects that seems like a decent idea to me. Since both projects specialize in securing logins, cross checking tickets and PRs and utilizing the security interests of Jazzband members could be good ways to build a common ground and interest for a more secure tomorrow :)

[2019-11-08 13:35] jezdez commented on #172
Hi @BertrandBordage, Jazzband founder and roadie here, please don't do this: `I will move the repo to Jazzband in a week if there is no argument against it.` While it may look like it's no work, adding repos and making sure they continue to be maintained is non-zero work. I'm glad you opened a ticket, but this is just the start of a discussion, and you can't assume that your project is a viable ca

[2019-11-08 14:18] jezdez commented on #169
Ah, I think this is fixed.

[2019-11-08 14:18] #169 closed

[2019-11-08 17:40] BertrandBordage commented on #172
Thanks for your reply @jezdez! I perfectly understand and will not move the repository unless you allow it.
The project doesn’t have regular contributors apart from me, as you can see here: https://github.com/noripyt/django-cachalot/graphs/contributors
@fabiocaccamo seemed particularly interested to see the project join Jazzband, but I don’t know if he would be interested in becoming the lead deve

[2019-11-10 19:46] kennethlove opened #173 "django-braces"
Hey all!

The other creator of [django-braces](https://github.com/brack3t/django-braces) and myself no longer have time or inclination to support the project. It doesn't require much upkeep, mostly some minor issue triage and minor updates when a new version of Django is released. We'd love to transfer it to jazzband so it can get more love and attention.

[2019-11-10 20:59] aleksihakli commented on #173
Hey! First off, django-braces is a nice project, thanks for all the work you've put into it.

Just as a discussion opener: Someone needs to maintain the project and be able to make new releases for it. That requires, at the very least, merging incoming PRs, updating the changelog to reflect their content, making new tags, and releasing them to PyPI. Otherwise the project does not have a viable mai

[2019-11-11 06:58] shahulhameed00 commented on #173
I'm a Python/Django developer (5+ years experience) and have a project maintenance experience with (https://github.com/reactjs/ml.reactjs.org) and would like to volunteer to help with this amazing project.

[2019-11-11 09:12] fabiocaccamo commented on #172
@BertrandBordage I asked to move the project to Jazzband in the hope that someone would keep it updated.
I would like to be the lead developer, but I don't have the time to follow this project as well.
I'm pretty sure that on Jazzband the project will be kept up to date.

[2019-11-13 20:38] aleksihakli opened #174 "Implement Jazzband PyPI release pipeline for django-defender"
Relates to https://github.com/jazzband/django-defender/issues/138

django-defender requires a Jazzband repository and a valid PyPI upstream upload configuration in order to enable the pipelines.

I believe @kencochrane is the obvious lead in the project.

[2019-11-15 11:46] jezdez commented on #172
@BertrandBordage Okay, one of the viability questions I usually ask is: "Will a project be maintained going forward once moved to Jazzband?", and since you've specifically said that you don't have time anymore I'm not super sure this is the right fit. I'd like to encourage you to reach out to its users more and find someone able to do the low-level maintenance needed to keep it afloat.

Libraries.

[2019-11-15 11:51] jezdez commented on #173
For the record, @kennethlove is looking for the project lead here: https://twitter.com/kennethlove/status/1193683939602223104 and I think it was mentioned in the podcast (!) https://djangochat.com/episodes/kenneth-love

[2019-11-15 12:25] fabiocaccamo commented on #172
@jezdez sorry, I misunderstood the purpose of JazzBand, I read it on the website well and now it is clear to me. As said, I'm not interested to become the lead developer of this project.

[2019-11-15 12:30] BertrandBordage commented on #172
OK, so let’s close this then. I will give merge permissions to some users instead.
Thank you for your time @jezdez! And your work, we see you everywhere in the Django community :o

[2019-11-15 12:30] #172 closed

[2019-11-15 12:58] aleksihakli commented on #173
@kennethlove I can help with the maintenance and releases of braces. I already maintain a bunch of proprietary Django projects as well as few Jazzband Python libraries and Django plugins like django-axes. I am fairly well versed in Django along with the templating system and security design after 5+ years of active use :) You can find more info through my GitHub profile and contributions timeline

[2019-11-15 13:00] jezdez commented on #172
@BertrandBordage No problem, I'm glad you asked! Please don't hesitate to reopen this when you've found someone who is willing to project lead this here in Jazzband, the decision isn't set in stone and we can always find a way forward under better circumstances.

[2019-11-15 13:00] jezdez commented on #172
@fabiocaccamo Thank you elaborating, I appreciate the clarity. We're here in case you change your mind in the future or someone else steps up. 🙌

[2019-11-15 13:01] atugushev commented on #173
I'll be also happy to help with transferring and implementing Jazzband guidelines 👍

[2019-11-24 13:02] jezdez commented on #171
I've replied in https://github.com/oauthlib/oauthlib/issues/678 and asked @jleclanche to get approval from all Jazzband members and contributors who have contributed since the move to Jazzband. Here's the list: https://github.com/jazzband/django-oauth-toolkit/compare/master@%7B04-18-18%7D...master

[2019-11-24 19:31] jezdez commented on #174
This is done.

[2019-11-24 19:31] #174 closed

[2019-11-24 21:12] aleksihakli commented on #174
Thanks @jezdez!

[2019-11-29 02:35] martey opened #175 "django-flatblocks repository is a fork"
https://github.com/jazzband/django-flatblocks/ is a fork of the previous maintainer's repository at https://github.com/zerok/django-flatblocks. This makes the project less visible, is confusing for new contributors, and disincentivizes contributions.

I think it would be good if a roadie could contact Github Support and [request that the repository be detached](https://help.github.com/en/github/se

[2019-12-02 07:54] zerok commented on #175
Sounds good to me :)

Cheers,
Horst

On 29 Nov 2019, at 3:35, Martey Dodoo wrote:

[2019-12-02 08:41] jezdez commented on #175
Thank you @martey, this is a great idea. I've requested the detaching. 🙌

@zerok I'll let you know when this is done.

[2019-12-02 09:45] jezdez commented on #175
This is done now, thanks again for the idea @martey!

@zerok GitHub support was pretty fast, would you mind requesting it?

[2019-12-05 09:12] codingjoe commented on #139
@jezdez did you accept the updated permission request already? I am not sure it's running everywhere it should, and I am trying to find out if it's systemic or simply not installed.

[2019-12-05 13:48] jezdez commented on #139
Sorry I was looking into permissions issues for org-wide apps and uninstalled the other day for Jazzband. That said looking back at the usage, I think it's never been adopted by enough projects to make a dent in ease of maintenance and I'm wondering if going with using GitHub actions for linting purposes would be more aligned with the goal of reducing maintenance burden. Do you have any news on yo

[2019-12-06 10:03] jezdez commented on #175
@zerok Anything I can help you with?

[2019-12-06 10:06] zerok commented on #175
@jezdez Argh, sorry, missed your previous comment. I'll update my repo's README this weekend and then archive it :)

[2019-12-06 10:08] jezdez commented on #175
@zerok Would you also mind asking support to reattach it to the network of the Jazzband fork?

[2019-12-06 10:40] codingjoe commented on #139
So it is not installed? I just need to know because pip-tools somewhat relies on it.

Yes, you make a good point. To be fair, the issue that I just now fixed was probably the biggest reason it hasn't been adapted. Until now, FussyFox didn't run on pull-requests unless the user had the app installed. Needless to say, that this was kind of pointless. No one adapted it, because they didn't even see t

[2019-12-06 16:10] jdufresne opened #176 "Proposal: django-redis"
CC @niwinz

The django-redis project is looking for new maintainers and has agreed to pass the project  to Jazzband. See here for the discussion: https://github.com/niwinz/django-redis/issues/400

If there is any action required beyond what is described below, please let me know and I'll do what I can form my end. I have commit access to the django-redis repository.

## Viability

The django-redis

[2019-12-06 19:04] jezdez commented on #176
Hi @jdufresne, that's a good match, and fits our guidelines well.

@niwinz I suggest to join the Jazzband via https://jazzband.co/join and transfer the repo using GitHub's regular repo transfer feature. Once transferred, a ticket with TODOs along the lines of the things @jdufresne wrote down above will automatically be opened.

Please make sure to have read and understood the Jazzband [guidelines]

[2019-12-08 17:44] zerok commented on #175
Done :)

On 6 Dec 2019, at 11:08, Jannis Leidel wrote:

[2019-12-12 16:57] zerok commented on #175
Seems like support cannot hang a repo into a completely different network. Sorry 😔But links etc. are in place 🙂

[2019-12-14 20:23] martey commented on #175
I'm closing this because I think everything possible that can be done has been. Thanks @jezdez and @zerok for taking care of this!

[2019-12-14 20:23] #175 closed

[2019-12-23 19:51] kennethlove commented on #173
Hey all!

I've been working on a new release of `django-braces` which will hopefully go out today/tomorrow. I'd still like to move the project over to Jazzband but I imagine that I'll still be the core maintainer (releaser, at least) for the time being (that seems the easiest solution). I'd love your help, though, @aleksihakli and @atugushev. What can I do to make it easier for you to jump in?

[2019-12-23 21:26] aleksihakli commented on #173
@kennethlove we can automate the release process via the Jazzband site to PyPI which would make releases only require manual approval.

For example, django-axes has the following release pipeline

GitHub -> Travis -> Jazzband -> PyPI

Only the Jazzband -> PyPI step would be manual here and require a simple push of a button.

After this and suitable automation with e.g. tox, unittest with coverage,

[2019-12-28 14:11] TheBuky opened #177 "[Django-pipeline][Travis] Invalid or non-existent authentication information"
I participate to [Django-pipeline](https://github.com/jazzband/django-pipeline/), who is member of [jazzband](https://jazzband.co/about).
But after pushing my modifications and successfully passed the tests, Travis fails to publish the package on PyPI for the reason: `HTTPError: 403 Client Error: Invalid or non-existent authentication information. for url: https://upload.pypi.org/legacy/` cf. rela

[2020-01-05 03:16] cyberdelia commented on #177
I believe this is due to me enabling 2FA on my Pypi account. I tried to switch to [Pypi token authentication](https://docs-staging.travis-ci.com/user/deployment/pypi/), but I ran into [this issue](https://travis-ci.community/t/travis-encrypt-data-too-large-for-pypi-tokens-with-older-repos/5792/2) while trying to encrypt the token.

We might be able switch to Github Actions, but only a roady can ac

[2020-01-08 09:07] petedermott opened #178 "Proposal: Mezzanine"
https://github.com/stephenmcd/mezzanine

Mezzanine is a Django powered CMS that has stagnated over the last couple of years as its main developer (@stephenmcd) now works for Google. It is currently lacking Django 2+ support and in need of a bit of help to bring it up to date.

Viability: The project is well established and well used. Its first documented release was 2012-03-03.

GitHub stats: Star

[2020-01-08 09:53] jezdez commented on #178
Hi @petedermott, I'm glad you opened the ticket, after our chat on IRC.

Have you talked with any of the regular contributors to Mezzanine (including @stephenmcd) to discuss what their point of view on the proposal is? Any news regarding some commercial users of the CMS that usually are paying for staff to use it?

Generally speaking, and I'm repeating for the public what I said on IRC, I'm worrie

[2020-01-08 09:55] jezdez commented on #178
@stephenmcd What's your take on this, do you agree that Jazzband would be a better place for Mezzanine? Who would be good people to talk to about long-term maintenance?

[2020-01-08 11:01] petedermott commented on #178
There was a discussion on the [Mezzanine mailing list about it](https://groups.google.com/forum/#!topic/mezzanine-users/u7bfCjftJCI) but there hasn't been any activity other than a response from one of the other contributors to the project - @jerivas

We also have [an open issue](https://github.com/stephenmcd/mezzanine/issues/1928) regarding the update to a Django 2+ compatible code base which is