[2020-01-08 11:17] jezdez commented on #178
@jerivas: could you elaborate if you would be available as project lead in case @stephenmcd agrees to transfer Mezzanine to Jazzband?

What I meant is that there is probably interest by other typical users of a CMS such as Mezzanine to secure long-term maintenance. I would suggest to do a very active outreach to find others interested in this and making sure they are onboard with opening a traditi

[2020-01-08 18:12] aleksihakli commented on #178
"Shared responsibility" usually fits small projects well as the amount of work and updates that need to be done on long-running, established small plugins is quite small and usually entails updating dependencies and test matrices.

Mezzanine is a larger project that is used commercially and should ideally have a team of people running the security, maintenance, and release side of things. Is there

[2020-01-13 18:14] jerivas commented on #178
Hello everyone,

Thank you for hosting this thoughtful and necessary discussion. I'll attempt to answer some questions and share my ideas as well.

Yes, [a core team was formed in 2015](http://blog.jupo.org/2015/05/11/introducing-mezzanines-core-development-team). I'm part  of it but we haven't been very active lately. We do have security and general announcement mailing lists as well.

I am very

[2020-01-13 19:53] nasirhjafri opened #179 "Django-silk PyPI issues"
Hi @jezdez , While preparing django silk release 4.0.0, circle CI tests failed while trying to upload to PyPI. Same happened during last two releases and I got response after weeks from the maintainers. Can you please make me a maintainer on PyPI/github for django-silk so that I can do smooth releases in future?
Thanks,

[2020-01-14 13:03] petedermott commented on #178
I'll be happy to help take on some of the responsibility too, as mentioned previously we use Mezzanine quite a bit @fermorltd, we're generally happy with how it works so we wouldn't be looking to add too many new features going forward, more just keep on top updates to django etc.

Like @unplugstudio our dev team is small and I'm the only Python dev so I wouldn't want to take on this responsibilit

[2020-01-14 19:34] Bouke opened #180 "Proposal: django-two-factor-auth"
The project [django-two-factor-auth](https://github.com/Bouke/django-two-factor-auth) is looking for a new owner, and I think Jazzband will be a good fit for the project. I'd be interested to hear whether the feeling is mutual, and we can start working on the transfer.

[2020-01-14 19:34] Bouke opened #181 "Proposal: django-user-sessions"
The project [django-user-sessions](https://github.com/Bouke/django-user-sessions) is looking for a new owner, and I think Jazzband will be a good fit for the project. I'd be interested to hear whether the feeling is mutual, and we can start working on the transfer.

[2020-01-14 20:38] camilonova opened #182 "Pypi uploading is not working from Travis"
An error appears when a this new release was made:

https://travis-ci.org/jazzband/sorl-thumbnail/jobs/633932161

[code]

The same version is not here: https://pypi.org/project/sorl-thumbnail/#history

This is the release: https://github.com/jazzband/sorl-thumbnail/releases/tag/12.6.0

[2020-01-15 07:43] aleksihakli commented on #180
Hey @Bouke! Would you like to remain the maintainer for the project(s)? All projects require at least one maintainer.

I personally think they are a good fit for Jazzband and I have been using both projects myself. The projects have a good infrastructure and I think they could benefit from a joint contribution model.

[2020-01-15 07:45] claudep commented on #180
Seems that @moggers87 has been the most active maintainer recently, interested to continue?

[2020-01-15 12:47] submarcos commented on #182
I suggest you to delete bdist_wheel part of travis deploy job

Delete 'distribution' option : https://github.com/jazzband/sorl-thumbnail/blob/master/.travis.yml#L133
Or setup for sdist only

(like in https://github.com/jazzband/django-constance/blob/master/.travis.yml)

[2020-01-15 14:16] jezdez commented on #182
@camilonova Aha, that's not an actual the way you describe it, but the fact that all test runs of https://travis-ci.org/jazzband/sorl-thumbnail/builds/633932160 are trying to deploy since there is not limiting condition in the deploy section.

Take a look at the one in [constance's config file](https://github.com/jazzband/django-constance/blob/master/.travis.yml#L20) where it only runs on the Pyth

[2020-01-16 00:36] team-hq commented on #178
@jerivas It'd make sense if you were to become a project lead with so many sites using the CMS. I know it's Stephen's baby and he'd probably want to be involved but the this CMS needs a new champion.

[2020-01-19 07:04] Bouke commented on #180
I could remain on as maintainer for some time, but my goal would be to let others take over that role. With @moggers87 as continuing as maintainer; should I start the transfer of the project?

[2020-01-20 20:47] mbeacom commented on #179
@nasirhjafri I would have tried to help resolve the issue, but I don't have access either.  It's too bad publish/maintainer access is a typical bottleneck in many jazzband projects.

[2020-01-20 20:50] nasirhjafri commented on #179
@mbeacom yep, that's why I've requested for the maintainer access. I'm facing PyPI related issues in every release. Thanks anyhow for responding.

[2020-01-20 21:11] jezdez commented on #179
So there are two things in play here:

1) The technical release issues are about a missing condition in the deploy section of the Travis config, which leads to a apparently broken build since Travis changed the behavior for failed deploys in the recent past. Previously this  was not visible.

As a reminder, we're doing release to the Jazzband package index first so that the project lead @avelis ca

[2020-01-20 21:20] nasirhjafri commented on #179
Hi @jezdez yes that would be better. I volunteer for django-silk project lead role. Thanks.

[2020-01-20 21:21] avelis commented on #179
@jezdez @nasirhjafri @mbeacom I absolutely need help with project leadership. I moved this it Jazzband to get that help. If anyone else has continued time to make releases go out I gladly accept it.

[2020-01-20 21:34] nasirhjafri commented on #179
@avelis I've been doing fixes, reviewing prs preparing releases for past few months. I would like to accept project leadership responsibility too so that I can be of more help. Thanks for responding back.

[2020-01-20 21:35] avelis commented on #179
@nasirhjafri I have seen great things! I am glad the project has continued on!

[2020-01-20 21:45] jezdez commented on #179
@avelis Excellent, thank you for responding and your openness to increasing the number of project leads.

@nasirhjafri Congratulations and thank you for volunteering! 🚀

See https://jazzband.co/projects/django-silk for the releases, past and future. As always, please let me know if you need any help. Please make sure you've read and understood the Jazzband [guidelines](https://jazzband.co/about/gu

[2020-01-20 21:45] #179 closed

[2020-01-21 09:46] aleksihakli commented on #182
@jezdez @camilonova this has been fixed in the jazzband/sorl-thumbnail repository PR which is waiting for reviews and upstreaming :)

[2020-01-21 09:48] aleksihakli commented on #179
I'll see about fixing the packaging setup, I have some time available today for setting up tox-travis and correct release conditions.

[2020-01-21 13:11] jezdez commented on #182
Closing since this should be much better with https://github.com/jazzband/sorl-thumbnail/pull/610.

[2020-01-21 13:11] #182 closed

[2020-01-22 11:01] ricco386 commented on #181
Hello, I would like to volunteer to maintain the repository.

[2020-01-23 11:23] benjaoming commented on #182
What needs to happen to projects that didn't have PyPi releases done before this update? Should the latest release tag be deleted and re-applied on the new commit to trigger a correct deployment (upload) ?

[2020-01-24 10:52] safwanrahman opened #183 "Release django-authority to pypi"
Hi,
I have made a relase of django-authority in github. Can anyone please push the release to pypi?

[2020-01-27 08:14] aleksihakli commented on #182
@benjaoming the release can be remade by making a manual release to PyPI, but it's probably best to make a new tag and release through the automation pipeline since that doesn't hurt anyone and verifies the correct process.

[2020-01-27 16:43] mreguly commented on #181
Hi, I would like to also help out and maintain this repository.

[2020-01-28 17:11] wimfeijen commented on #178
hi all! Just wanted to say that we folks at Go2People Websites are interested in helping maintain the project as well!

For us, preferrably we would aim to keep it the same as it is right now (no new features), and with just a few updates to keep it compatible with the new releases of Django and other 3rd party packages (e.g. django-rest-framework).

We are willing to contribute the occasional PR

[2020-01-28 17:38] jerivas commented on #178
It's great to see so many people interested in Mezzanine! For anyone reading this who wants to contribute, here are the recommended steps you can follow right now:

1. Help us test out the current [Django 2.2 pull request](https://github.com/stephenmcd/mezzanine/pull/1956). If we can get this PR merged with confidence, we can release a new version to pip soon. The more testers the better.
1. Subsc

[2020-01-30 15:08] aleksihakli commented on #182
@jezdez is it possible to add permissions for me for the sorl-thumbnail GitHub repository and Jazzband site, assuming it is OK with @camilonova and other active maintainers?

I can help with making new releases and maintaining the project repository, but at the moment I can neither upstream maintenance patches nor upload versions from PyPI site so baking a proper release is a pretty big pain. We'r

[2020-01-30 16:58] camilonova commented on #182
@jezdez I agree

[2020-02-01 08:48] allan-simon commented on #178
at my company we're also interested in getting mezzanine compatible with django2.2+ , we're currently starting a branch with the pull request version as requirements, we'll report you if we see anything weird :+1:

[2020-02-01 13:45] aleksihakli commented on #178
Assuming @stephenmcd would be OK with transferring the project to under the Jazzband organization and joint maintenance, here are a few thoughts on the subject from my personal point of view as a Jazzband organization member.

Read the Docs site for automatically uploading the docs would be nice. Multiple Jazzband projects use a RTD for hosting docs and automatically keeping them up-to-date from m

[2020-02-02 04:19] jerivas commented on #178
Mezzanine already has docs hosted on RTD: https://mezzanine.readthedocs.io/en/latest/. They are open to contribution on the mezzanine repo (inside the [`docs`](https://github.com/stephenmcd/mezzanine/tree/master/docs) folder)

[2020-02-03 11:57] aleksihakli commented on #178
OK, missed that! The RTD link isn't visible on the repo page, maybe it should be added? :)

[2020-02-04 08:58] jezdez commented on #178
Thank you all for your willingness to support Mezzanine going forward. To me -- and forgive me if I offer an subjective opinion here -- it seems as if the Mezzanine community actually exists and just lacks a modest level of community and project management to make sure it's maintained in the future.

Especially since there seem to be multiple organizations using it actively and willing to be publi

[2020-02-04 09:07] aleksihakli commented on #178
I was wondering about the same thing as @jezdez on whether or not it would be good to form a separate organization for Mezzanine as it's highly specific and a larger scale project.

In my opinion there are a few paths worth considering:

1. Do nothing,
2. Migrate Mezzanine into a separate organization straight away, or
3. Make Mezzanine part of Jazzband and see how it evolves; organizational chang

[2020-02-07 12:50] jezdez commented on #183
This is done: https://pypi.org/project/django-authority/0.14/

[2020-02-07 12:50] #183 closed

[2020-02-07 16:00] benspaulding commented on #183
@jezdez Thank you!

[2020-02-07 16:01] jezdez commented on #183
@benspaulding Happy to, this took a bit longer in actual release work since there were still some subtle build problems. Please let me know if you see any regressions..

[2020-02-15 08:58] Bouke opened #184 "Can somebody make me admin on django-user-sessions?"
So 3 weeks ago django-user-sessions has been migrated to jazzband. Apparently in the transition I've lost admin permissions and now I cannot merge pull requests anymore. I've tried reaching out to @jezdez, but no response so far. Anyone here that can help me out?

[2020-02-15 17:18] jezdez commented on #184
Hey @Bouke, that is unusual, it's correct that you lost admin permissions, but merging PRs should be unaffected since you are a member of the Jazzband org:
<img width="759" alt="Screen-Shot-2020-02-15-18-16-02 18" src="https://user-images.githubusercontent.com/1610/74592216-6b24bf00-501f-11ea-99b0-a2d28dc1e068.png">

[2020-02-18 20:08] jhermann opened #185 "Would you take on ConfigObj?"
I guess https://github.com/DiffSK/configobj fits the guidelines, but to ask beforehand cannot hurt.

Has lots of PRs (i.e. possible band members) but the existing maintainers have all little time / lots of other projects.

See also https://github.com/DiffSK/configobj/issues/197

[2020-02-19 10:27] aleksihakli commented on #185
The project seems like a good fit, but does it have a maintainer who would take responsibility of making releases? Jazzband organization model requires projects to have a person per project in this role.

[2020-02-19 13:57] jhermann commented on #185
Since I have that role already (but not enough time to do it on top of PR reviews etc), yeah that would work. Let's see if the two original maintainers of the project chime in in the linked ticket.

[2020-02-20 00:00] team-hq commented on #178
I don't think that anything can be done without @stephenmcd joining conversation. It's his baby and he'll have a final say. Is there anyone from Google we can reach out to who can get in touch with him internally?

[2020-02-20 06:55] allan-simon commented on #178
His blog http://blog.jupo.org/  contains his email address , has someone tried to reach him through it ?

[2020-02-20 07:15] stephenmcd commented on #178
Hi folks,

@jerivas (one of the core maintainers who posted earlier on this thread) and I discussed this offline, and my understanding is that moving forward he will be the primary maintainer, with the project structurally remaining as is.

Apologies for the untimeliness in replying, and thanks everyone for the discussion.

[2020-02-20 07:29] allan-simon commented on #178
thanks @stephenmcd  for all what you've done , and congrats @jerivas , I can't wait for mezzanine to officially support django2.2+ !

[2020-02-23 06:25] Bouke commented on #181
Hi @ricco386 and @mreguly, can you register as members? https://jazzband.co/account/github, then please review https://github.com/jazzband/django-user-sessions/pull/108 and we should be able to get this thing started! Thank you.

[2020-02-23 21:51] Bouke commented on #184
@jezdez I still can’t merge PRs. E.g. https://github.com/jazzband/django-user-sessions/pull/108.
![41BF03C9-0D57-46F5-A48B-A229E37521FB](https://user-images.githubusercontent.com/235882/75120848-fa207f80-568e-11ea-9957-d00dc9f9e3a6.jpeg)

[2020-02-29 18:16] n2ygk opened #186 "request to become additional lead for django-oauth-toolkit"
My employer relies on django-oauth-toolkit for several of our core projects. I've been a contributor  and committer to the project and would like to volunteer as a project lead to supplement @MattBlack85 who is currently the only lead. There are a bunch of webhooks that need to be [fixed](https://github.com/jazzband/django-oauth-toolkit/issues/550)and we are trying to roll out a new release as wel

[2020-02-29 18:18] n2ygk commented on #186
oops didn't label this properly.

[2020-02-29 18:19] n2ygk opened #187 "request to become additional lead for django-oauth-toolkit #186"
My employer relies on django-oauth-toolkit for several of our core projects. I've been a contributor and committer to the project and would like to volunteer as a project lead to supplement @MattBlack85 who is currently the only lead. There are a bunch of webhooks that need to be fixedand we are trying to roll out a new release as well.

Thanks.

[2020-02-29 18:20] n2ygk commented on #186
Actually I did it right, the lead label just doesn't show up right away I guess...

[2020-02-29 18:20] n2ygk commented on #187
dupe of #186

[2020-02-29 18:20] #187 closed

[2020-03-01 14:28] n2ygk opened #188 "labels not available when opening issues here"
https://jazzband.co/about/releases says to open a new issue with various labels. I tried this in #187 but apparently only a contributor to this repo is able to add labels. @jezdez is the only contributor.  Documentation error? Something changed?

[2020-03-02 16:59] n2ygk commented on #186
@jezdez FYI - I've released [django-oauth-toolkit 1.3.0](https://github.com/jazzband/django-oauth-toolkit/releases/tag/1.3.0) and need to git it into pypi and rtd.

[2020-03-05 00:28] atugushev opened #189 "Update pip-tools repository settings"
See https://github.com/jazzband/pip-tools/issues/1085 for details.

[2020-03-09 18:15] nat-yaml commented on #91
+1

[2020-03-10 15:34] jmhansen opened #190 "pypi release for django-taggit"
Can someone help release the latest code in `django-taggit` to pypi?

https://github.com/jazzband/django-taggit

Thanks!

[2020-03-11 02:53] nathanle commented on #119
Any news?

[2020-03-11 22:12] Bouke commented on #184
Hi @jezdez. We’re now almost 2 months in, but I’m still unable to merge PRs and am very much blocked. Can you please help me get unblocked?

[2020-03-16 22:10] camilonova commented on #177
@jezdez can you help us?

[2020-03-19 22:25] martey opened #191 "please add me as a lead for django-flatblocks"
https://jazzband.co/projects/django-flatblocks shows that the project has no current leads.

I don't believe that the [currently released version](https://pypi.org/project/django-flatblocks/0.9.4/) is compatible with any currently supported version of Django except 1.11. Since the PyPi page does not show `jazzband` as a maintainer, I think it is not set up for automated PyPi releases either.

If I

[2020-04-03 14:32] Bouke commented on #184
@jezdez The problem is that the PR checks are not configured correctly. As I have no admin permissions, I can't resolve these problems. Either you fix those permissions, or you make me admin, or you transfer the repository back to me. Your choice :).

https://github.community/t5/How-to-use-Git-and-GitHub/Cannot-merge-PR-quot-some-checks-haven-t-completed-yet-quot-but/m-p/50127#M10871

[2020-04-06 18:53] treyhunner opened #192 "Proposal: django-simple-history"
The current maintainers of [django-simple-history](https://github.com/treyhunner/django-simple-history) would like to move the project to jazzband.

Viability: the project is pretty well established and is currently actively used by me, folks at @cadre (who currently do much of the maintenance), and others.

Documentation: pretty decent documentation exists: https://github.com/treyhunner/django-si

[2020-04-16 23:07] rossmechanic commented on #192
Hey @jezdez , any update on this? Anything I can do to help push it along? Thanks

[2020-04-24 18:28] #189 closed

[2020-05-01 07:55] Bouke opened #193 "Please transfer django-user-sessions back to me"
Hi @jezdez, I’d like you to migrate django-user-sessions back to me. I’ve tried getting jazzband to work for the project, but I’ve been blocked for 3 months now without any resolution so far (see #184). I’ve come to the conclusion that my experiment with jazzband failed and I need to revert and explore other options. Thank you.

[2020-05-01 13:04] jezdez commented on #184
Aha, thanks for letting me know what the problem is, I didn't realize that back when I first replied. I just removed the check requirements for the master branch. That should fix the immediate problem.

[2020-05-01 13:04] #184 closed

[2020-05-01 13:09] jezdez commented on #193
Hi Bouke, so I know this isn't great but I just took another look at your issue. It should be fixed now. Do you still want me to move the repo to you?

I am very sorry, for what it's worth, the past months were not ideal in terms of roadie backlog processing and my work to add more roadies and fix some of the procedural issues with Jazzband has slowed down more than I wanted for various reasons, m

[2020-05-04 05:28] manelclos opened #194 "Complete move of django-smart-selects to Jazzband"
Hi,

we need to finish the move of django-smart-selects to Jazzband. I would like to create a new release and have docs correctly working. Issue is here: https://github.com/jazzband/django-smart-selects/issues/286

Thanks.

[2020-05-15 08:19] TheBuky commented on #177
Hey @jezdez, can you please help us to uresolv the problem? Thank.

[2020-05-19 13:18] rtpg commented on #190
I'm working on this, hoping we'll get a release done in the next couple of days

[2020-05-21 10:27] jezdez commented on #126
I've added @jdufresne and @rtpg as projects leads following the discussion in #674.

[2020-05-21 16:40] rossmechanic commented on #193
@jezdez anything I can do to help on the roadie side of things? Happy to contribute and help take some work off of the roadie backlog.

[2020-06-03 10:12] paulopaixaoamaral opened #195 "Is jsonmodels dead?"
Hello,

The developers in my company are heavy users of the jsonmodels project (https://github.com/jazzband/jsonmodels), but I'm wondering if the project is abandoned or not.
I opened an issue (https://github.com/jazzband/jsonmodels/issues/136) a few weeks ago and haven't got any response yet, so I was wondering if this is an abandoned project or are you looking for maintainers?

[2020-06-07 14:25] jezdez commented on #177
Hey there, sure thing, I've just enabled auto-releases via the [Jazzband package index](https://jazzband.co/about/releases) and made @cyberdelia the dedicated project lead to confirm the releases.

@cyberdelia could you please re-login on https://jazzband.co to sync your email addresses please? Once a release has happened an email will be sent out to you to confirm the release.

[2020-06-07 14:32] jezdez commented on #192
Hey friends, I'm going through my huge backlog and see this hasn't moved on, this is good to transfer in my opinion. Once transferred using GitHub's regular repo transfer functionality there will be a ticket to update the rest of the repo to match Jazzband guidelines.

[2020-06-07 14:35] jezdez commented on #193
@Bouke Hey, so just checking in, I'm ready to transfer it back to you if you still want to do that.

[2020-06-07 16:31] cyberdelia commented on #177
@jezdez Done!

[2020-06-07 19:59] treyhunner commented on #192
Thanks for the go ahead @jezdez. 😊👍

I just made [the transfer](https://github.com/jazzband/django-simple-history) to the @jazzband org. I believe I selected the correct teams:

![image](https://user-images.githubusercontent.com/285352/83978792-aa249c00-a8be-11ea-8529-0c526794509d.png)

[2020-06-10 08:00] Mogost opened #196 "We need more roadies in jazzband"
There is a feeling that too much load fell on @jezdez . It would be worthwhile to find someone else who would take on this role. I think at least another 2-3 people should be with this role.
Perhaps one might think about co-roadies role.

[2020-06-10 11:23] jezdez commented on #196
Thanks for raising this, indeed this isn't just a feeling, but in the past few months in particular also to some extent before, it was harder for me to make time in between my personal health issues in February and March and then the lock down that had a tremendous impact on the amount of spare time for working on Jazzband.

I have had plans to extend the roadies again and had multiple people reac

[2020-06-11 10:46] jstockwin commented on #196
Hey! Whilst I've not had much interaction with JazzBand before, I'd be very happy to help out and can give at least a few hours each week.

I/my company use quite a few JazzBand maintained packages, and have done so for a while. We'd love to give some time back and help out. For example, we'd be happy to take over project lead on some packages (e.g. see #195, which is from a colleague). I apprecia

[2020-06-11 13:43] jstockwin commented on #124
I'll have a go at this! I suspect those with more experience may suggest some changes to my wording, but I'll make my best-guess based on how I understand the process, and you can always request changes :+1:

[2020-06-11 13:54] jezdez commented on #124
@jstockwin Thank you! There is also #192 which isn't bad.

[2020-06-12 09:52] jstockwin commented on #124
@jezdez Cool, I created a few templates in #197 based on your examples, and also from the website. Let me know what you think!

[2020-06-12 10:01] jstockwin commented on #75
@jezdez Do you want me to have a go at this? We could just add this to the FAQ on the website?

[2020-06-12 10:03] jezdez commented on #75
@jstockwin Sure, that'd be great, thank you! I would put this into the guidelines and add a FAQ entry with a short summary and then pointing to the full how-to in the guidelines. That would make sure the guidelines continue to be the one document that everyone needs to read when considering the move.

[2020-06-12 10:58] jstockwin commented on #75
Sounds good, I'll get on this ASAP.

Up to you, but perhaps this issue should be transferred to the `website` repository so I can close it properly from the PR?

[2020-06-16 11:32] aleksihakli commented on #196
If you need maintenance help aside from roadie responsibilities such as keeping packages up-to-date and making releases, please let me know.

I can assist with small and medium sized projects that need help with standard operations stuff regarding automation for tests and releases.

[2020-06-22 22:55] camilonova opened #198 "django-constance 2.7.0 did not deploy to pypi"
It should did it according to https://travis-ci.org/github/jazzband/django-constance/jobs/701066342

But is not here: https://pypi.org/project/django-constance/#history

[2020-06-22 23:17] camilonova commented on #198
I really need to stop drinking early in the morning

[2020-06-22 23:17] #198 closed

[2020-06-23 08:04] Mogost commented on #198
🍺

[2020-07-22 17:13] ksitko commented on #91
Hey guys, any chance this could be further considered? django-taggit already is under jazzband's umbrella, given the rather significant popularity of django-rest-framework it seems almost like taggit is incomplete without a serializer.

[2020-07-27 21:07] hugovk commented on #195
Hi @paulopaixaoamaral!

The idea of Jazzband:

It could be that those who were keeping an eye on it are not in a position to do so right now, so more maintainers would be helpful.

So it might be a good idea to join Jazzband yourself, if you're in a position to lend a hand!

Let's also ping @beregond (and see https://github.com/jazzband/jsonmodels/issues/133).

Thanks!

[2020-08-16 12:10] brainwane commented on #125
Where should I look for that update @jezdez ?

[2020-08-17 13:55] marianoeramirez opened #199 "Help for enable the auto-release mechanism in django-cities-light"
We need some help on https://github.com/jazzband/django-cities-light to enable the auto-release mechanism via the Jazzband.

I read this documentation https://jazzband.co/about/releases, but is not clear to me how to enable the auto-release mechanism. If someone can help with this will be very helpful. Thanks in advance.

[2020-08-17 16:58] TheBuky commented on #177
I confirm v2.0.5 automatically publish on pypi.org.
Thank @jezdez

[2020-08-17 16:58] #177 closed

[2020-08-31 13:22] marianoeramirez commented on #199
We just need some help to finish with the configuration of the password for auto-deploy, the process is already running because I copied the configuration from Django-axes. But I suppose still require the right password and configuration on the site, https://travis-ci.org/github/jazzband/django-cities-light/jobs/722731202.

[2020-09-15 13:30] n2ygk commented on #186
@jezdez A reminder that I still need this capability as there is nobody currently on the project who is able to configure github hooks, etc. I hope your health is OK and that you are able to make me a lead on this project and also consider the offers of others to assist as a roadie. A single-resource supporting all of jazzband just doesn't work.

[2020-09-15 15:06] jezdez commented on #186
Thanks @n2ygk, I saw your tweet at https://twitter.com/n2ygk/status/1305864224317542402 about me not responding to your ticket and hence Jazzband being a failed experiment. Thank you for your feedback.

@MattBlack85 Are you okay with @n2ygk becoming second lead to the project?

[2020-09-17 13:21] Natim opened #200 "Autorelease mechanism for django-tinymce"
I added the mandatory permissions for jazzband user on pypi and a first .travis.yml configuration.
Could you add the mandatory configuration so that we can release [django-tinymce](https://github.com/jazzband/django-tinymce/) from jazzband?

Thank you.

Refs https://github.com/jazzband/django-tinymce/issues/293

[2020-09-17 20:40] MattBlack85 commented on #186
absolutely @jezdez

[2020-09-18 14:58] Natim opened #201 "Autorelease mechanism for django-downloadview"
I added the mandatory permissions for jazzband user on pypi and a first .travis.yml configuration.
Could you add the mandatory configuration so that we can release django-downloadview from jazzband?

Thank you.

Refs jazzband/django-downloadview#161

[2020-09-24 12:28] n2ygk commented on #186
@jezdez do you prefer being pinged here or DM'd to remind you? Thanks.

[2020-09-29 08:31] hugovk opened #202 "Set up CI for Jazzband project releases for PrettyTable"
The last [PrettyTable](https://github.com/jazzband/prettytable/) release was in [2013](https://pypi.org/project/PrettyTable/#history) and I'm all set to make a new release.

Please could you help with this?

* [x]  Set up CI for Jazzband project releases if needed and open ticket if yes
* [ ] Alternatively, please add `hugovk` as a maintainer on https://pypi.org/project/PrettyTable/
* [ ] Another

[2020-10-02 08:10] #124 closed

[2020-10-02 08:18] jezdez commented on #199
@marianoeramirez I've left a comment in https://github.com/jazzband/django-cities-light/issues/210 to move this forward. Basically we need a project lead first before enabling this feature.

[2020-10-02 08:25] #200 closed

[2020-10-02 08:45] #201 closed

[2020-10-02 08:54] jezdez commented on #191
Hey @martey, my apologies for getting back to you after this time, are you still interested in this?

As the other significant contributors to the package I just want to make sure @zerok and @funkybob are okay with making @martey project lead?

FWIW I've recommended in the past to add multiple leads to a project to be able to load balance in case of life getting in the way. What do you say?

[2020-10-02 09:07] jezdez commented on #186
@n2ygk Pinging me here is okay or via DM works both, remember that issue notifications are just another inbox that I need to go through. So use your own judgement when it's too much noise over signal :)

I've added you to the project, finally! 🎊

[2020-10-02 09:07] #186 closed

[2020-10-02 09:15] #194 closed

[2020-10-02 09:58] jstockwin commented on #188
This can be closed as it was fixed in #197 -> choosing the correct template when opening a PR should apply the correct label. (I don't have permissions to close it).

I have created https://github.com/jazzband-roadies/website/issues/730 to handle the documentation side of this.

[2020-10-02 10:00] jezdez commented on #176
django-redis has been a Jazzband project for a while.

[2020-10-02 10:00] #176 closed

[2020-10-02 10:17] jezdez commented on #188
Thanks again for your help with this @jstockwin! ❤️

[2020-10-02 10:17] #188 closed

[2020-10-02 13:00] hugovk commented on #202
I should be all set to do a standard Jazzband release now, thanks!

[2020-10-02 13:00] #202 closed

[2020-10-02 13:34] jezdez commented on #202
@hugovk Thanks for your help and patience! ❤️

[2020-10-02 14:27] jezdez commented on #65
@thomasf Hey Thomas, just checking in if this is still something you'd like to do?

[2020-10-02 14:33] jezdez commented on #91
@Fohlen @glemmaPaul @ksitko Hey friends, this is long overdue to say the least, but yeah, this project looks like a good match.

Just join the Jazzband org on https://jazzband.co/ and transfer the repo using the regular GitHub repo transfer tool. A separate issue with TODOs to finalize the transfer will be created automatically and can be worked on once the project is under the Jazzband.

[2020-10-02 19:55] thomasf commented on #65
I am fine maintaining it myself for now, got out of some other projects so I have more time for it now.

If circumstances changes again I'll might reopen this issue.

[2020-10-02 19:55] #65 closed

[2020-10-02 21:03] jezdez commented on #65
Excellent, that is good news. Thank you!

[2020-10-03 01:22] funkybob commented on #191
Thanks for double checking, @jezdez

That was a main part of why I passed this onto Jazzband- I no longer had the interest/motivation/headspace to maintain it.

I'm absolutely pleased for someone else to take over maintainership.

[2020-10-03 09:34] jezdez commented on #191
So happy to hear that, thank you for responding so quickly!

[2020-10-03 09:35] jezdez commented on #191
@martey I've made you project lead, please let me know if you've reconsidered since March. Thank you!

[2020-10-03 09:35] #191 closed

[2020-10-03 09:36] zerok commented on #191
Hey 👋 Sorry for the late response! I'm absolutely fine with that! 🙂

[2020-10-07 13:17] patrys opened #203 "Proposal: django-payments"
# Project Proposal

## Project Details
https://github.com/mirumee/django-payments

## Project Description
Django Payments is a unified API for integrating PSP (payment service provider) gateways with Django projects.

## Project Leads
@WhyNotHugo

## Confirmation of Guidelines

Please confirm the following:

- [x] I am the project owner, or have permission from the project owner, to request a tran

[2020-10-07 13:45] WhyNotHugo commented on #203
I'd like to chime to clarify I'm currently working on minor improvements for this project and am willing to continue maintaining it.

Since I've moved some production projects with steady sales rely on it already (as of last weekend), it's unlikely I'll stop working on it.

Interest for it seems to have been consistent over the year too.

Docs actually _do_ exist. I've some stashed changes locally

[2020-10-08 10:03] jezdez commented on #203
@patrys Thanks, this seems indeed great, and already has some docs which just need to be extended a bit. Feel free to join Jazzband on https://jazzband.co/join and then transfer the repo using [GitHub's regular transfer functionality](https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/transferring-a-repository). A ticket to track the specific TODOs will be automatica

[2020-10-08 10:27] jezdez commented on #203
The TODO issue is https://github.com/jazzband/django-payments/issues/228

[2020-10-12 07:00] martey commented on #191
@jezdez, thanks for responding to me. I am still interested on this and will work on creating a new release for django-flatblocks!

[2020-10-12 07:35] jezdez commented on #191
@martey Excellent, thanks!

[2020-10-16 14:45] paulopaixaoamaral commented on #195
Hey, I noticed this had a "question" label added, and just wanted to be clear that I wouldn't mind being a project lead in this project (provided the original leaders are happy with this). I also work closely with @jstockwin who said he would be happy to be a project lead with me, so it would be two of us working on this.

[2020-10-20 11:38] jezdez commented on #203
This is done.

[2020-10-20 11:38] #203 closed

[2020-10-28 05:27] manelclos commented on #196
Hi @jezdez, I'd like to become a Roadie, or help in some way. In the past months where you were unavailable I felt like being in the same situation as with those great projects that are not maintained any more, i.e. Jazzband itself suffering from the same problem it wants (and it is!) solving. Please add more Roadies, and keep up the good work!

[2020-11-01 07:41] Bachstelze opened #204 "Call to maintain newspapers"
The package `Newspaper3k: Article scraping & curation` is calling for maintaining. Have a look at the current discussion https://github.com/codelucas/newspaper/issues/813
Any suggestions are welcome how to ensure the development and to fund the developers as well as the original content creators.

[2020-11-01 14:03] jezdez commented on #204
@Bachstelze Please use the new Project proposal issue template: https://github.com/jazzband-roadies/help/issues/new?assignees=&labels=proposal&template=proposal.md&title=Proposal%3A+%3CPACKAGE+NAME%3E

[2020-11-01 14:03] #204 closed

[2020-11-05 10:52] jezdez commented on #199
This was fixed a while ago.

[2020-11-05 10:52] #199 closed

[2020-11-05 11:43] jpic opened #205 "Transfer django-cities-light to an org commited to free software hackers"
Sorry, I thought Jazzband would be a nice experience, but I didn't understand the terms & conditions properly.

Despite the Jazzband conditions, we have seen how members may freely express their resent against "pale male", which, being an arabic half-time shemale myself, chocks me as gender AND sexual discrimination to which I firmly oppose.

Most importantly, Jazzband opposes to freelancers and c

[2020-11-05 12:46] jezdez commented on #205
Thanks for asking to transfer the repo back to you, @jpic.

@marianoeramirez could you please confirm that you agreed that the project you are a project lead of is transferred back to @jpic?

[2020-11-05 12:48] jezdez commented on #205
For transparency sake, the discussion that @jpic has taken a screenshot of in this ticket has happened in https://github.com/orgs/jazzband/teams/members/discussions/2.

[2020-11-05 13:03] marianoeramirez commented on #205
HI, @jezdez I saw the discussion and I am sad that the discussion comes out with this result.

I agree to transfer the project back to his author.

[2020-11-05 13:11] jezdez commented on #205
@marianoeramirez Thank you for the confirmation.

@jpic Just a heads-up that GitHub only allows repo transfers from organizations to the owner of the organization (unclear why) and not someone else (see attached screenshot for proof). This is purely a technical limitation on GitHub's side and I will initiate a second transfer right away from my personal account to you.

<img width="524" alt="Clean

[2020-11-05 13:12] jezdez commented on #205
@jpic I've requested the repo transfer back to you.

<img width="356" alt="CleanShot 2020-11-05 at 14 12 34@2x" src="https://user-images.githubusercontent.com/1610/98245275-f7da2900-1f70-11eb-93f3-500670f18205.png">

[2020-11-05 13:22] jpic commented on #205
Thank you very much.

Sorry it didn't work out, no hard feelings I hope (none here).

Have a great day

:tophat:

[2020-11-05 13:22] #205 closed

[2020-11-20 13:48] camilonova opened #206 "Should we disable travis?"
Recently I've trying to catch up with some PRs in django-constance and sorl-thumbnail using the little time I could get this week, but seeing the build times on travis around 12 hours of waiting time for each build is just unbearable.

https://travis-ci.org/github/jazzband/sorl-thumbnail/builds

https://travis-ci.org/github/jazzband/django-constance/builds

Can we do something about it? It seems t

[2020-11-20 13:49] camilonova commented on #105
I'll try again to cut a release if the build running two days ago on travis finishes this year :(

[2020-11-20 13:51] camilonova commented on #195
@paulopaixaoamaral great, just open an issue asking to become the project lead and that would be it.

Thank you.

[2020-11-20 14:19] jezdez commented on #206
The short answer is that we'll need to port all repos to GitHub Actions soon. I have set aside a non-trivial amount of time next week to do that conversion of all projects.

[2020-11-20 14:37] jezdez commented on #206
I'll use https://github.com/orgs/jazzband-roadies/projects/1 to track the progress..

[2020-11-20 14:44] hugovk commented on #206
Already done (tests + deploy):
* https://github.com/jazzband/prettytable

PR for tests, deploy TODO:
* https://github.com/jazzband/tablib/pull/479

[2020-11-20 15:41] camilonova commented on #206
@jezdez Awesome. Please put `sorl-thumbnail` in front of the line.

[2020-11-20 15:41] #206 closed

[2020-11-20 15:41] jezdez commented on #206
@camilonova Sure thing.

[2020-11-21 13:39] jezdez commented on #74
AppVeyor is now removed from pip-tools (and in effect from Jazzband).

[2020-11-21 13:39] #74 closed

[2020-11-23 13:38] jezdez commented on #105
This should work as expected again.

[2020-11-23 13:38] #105 closed

[2020-11-23 17:23] paulopaixaoamaral opened #207 "Project Lead: jsonmodels"
# Project lead request

Me and my colleague @jstockwin would like to become project leads for this project as we use it extensively (as discussed in https://github.com/jazzband-roadies/help/issues/195).

[2020-11-23 17:23] paulopaixaoamaral commented on #195
Closing as we have requested to become project leads for jsonmodels in https://github.com/jazzband-roadies/help/issues/207

[2020-11-23 17:23] #195 closed

[2020-11-25 20:22] jezdez commented on #207
Thank you both, I've added you as project leads!

[2020-11-25 20:22] #207 closed

[2020-12-02 21:51] bittner commented on #10
I feel the topic around skills makes sense. For example, if we would assign, say, CI-related PRs to a CI/CD skills team for review everyone in there would get a notification.

We can still have separate per-team-discussion boards for the very same skills teams, but I see the main value of skills teams in subscribing to tailored notifications.

[2020-12-03 05:52] beregond commented on #207
Hey,

Congrats @paulopaixaoamaral and @jstockwin :)

I was about to pump some work into this project, can we get in touch? I think you have some vision, so we could align.

[2020-12-03 08:52] jstockwin commented on #207
Hey @beregond!

Sure, let's have a chat. It would be good for us to understand your vision, and get a top-level overview of the project and its scope.

Drop me an email at jstockwin@gmail.com and we can organize something between the three of us!

[2020-12-03 13:28] matthiask opened #208 "Project Lead: django-debug-toolbar"
Hi @jezdez

The release action of django-debug-toolbar fails with a 401 Unauthorized error, either because of missing settings or maybe because I'm not a project lead? See https://github.com/jazzband/django-debug-toolbar/runs/1491294806

It's not enormously important to me since uploading releases directly to PyPI has worked well during the last 4 years but using the official Jazzband release proc

[2020-12-03 13:52] jezdez commented on #208
Yeah, this was previously not configured so it wasn't ported in the recent GHA work. I've added you to the project as lead. Can you think of someone else who would like to be a lead?

[2020-12-03 13:54] jezdez commented on #208
FWIW I've retriggered the 3.2 build and the upload succeeded now.

[2020-12-03 13:55] jezdez commented on #208
I only now saw that you did the 3.2 release manually to PyPI already, so you can ignore the release emails you just got FWIW. We can try it out at the next release.

[2020-12-03 14:06] matthiask commented on #208
Thank you! Maybe @jdufresne and/or tim-schilling would be interested?

[2020-12-03 15:11] tim-schilling commented on #208
If there are no objections, yes I'm interested.

[2020-12-03 15:17] jdufresne commented on #208
Thanks @tim-schilling!

I am not in a position to take on such a role at this time, but thanks for thinking of me!

[2020-12-03 15:22] jezdez commented on #208
I've added you, thank you!

[2020-12-03 15:23] jezdez commented on #208
I think this is done for now, feel free to let me know if you want to add anyone else.

[2020-12-03 15:23] #208 closed

[2020-12-03 15:23] matthiask commented on #208
Yes, thank you for the quick help!

[2020-12-05 13:24] claudep opened #209 "Protect tablib master branch against direct commits"
Could you please check the `Require pull request reviews before merging` box in the tablib project settings?

Cheers!

[2020-12-05 17:35] jezdez commented on #209
Done!

[2020-12-05 17:35] #209 closed

[2020-12-05 17:37] claudep commented on #209
:heart:

[2020-12-08 11:48] jstockwin commented on #22
@jezdez So we recently experienced this issue with JSON Models, and I think in our case the GitHub team discussions are not really sufficient. Here's some context on the specific issue:

Two of us have just joined the existing project lead, so there are three of us now. We immediately found ourselves in need of a place to chat. Initially we just used email, and then arranged a video call, however

[2020-12-08 13:45] jezdez commented on #22
Thanks for sharing that experience, I'll take that under advisement for a future solution that we will need to find.

My current state of thoughts on this: I'm considering signing up Jazzband for Google Workspaces (for non-profits, more on that soon), which would include Google Meet (up to 100 people) and the rest of the Google tool suite. Would Google Meet have sufficed for your use case?

With r

[2020-12-08 14:08] jstockwin commented on #22
Thanks for the update @jezdez !

Google Meet is what we used for the call anyways, just using the free one (which I think gives you an hour at the moment) was sufficient. A downside of a video call is there is no record (other than any notes we took), and everyone has to be present at a certain given time.

What I feel we'd still be lacking is some kind of quick text-based communication (which we'

[2020-12-08 14:15] jstockwin opened #210 "Change required checks for jsonmodels"
See https://github.com/jazzband/jsonmodels/pull/138#issuecomment-737084598

We need some required checks to be removed to unblock merging of this PR.

Myself, @paulopaixaoamaral and @beregond are project leads, so is it possible that we can have control over these settings ourselves?

[2020-12-08 14:49] jezdez commented on #210
I've removed the branch protection (also removed the coverage ones).

Sadly GitHub doesn't provide fine-grained control over some settings without exposing security critical settings as well.

[2020-12-08 14:49] #210 closed

[2020-12-08 15:20] jstockwin commented on #210
Fingers crossed for https://github.com/github/roadmap/issues/111, then :smile:

[2020-12-08 15:30] jezdez commented on #210
Note the item that I  made bold (which won't apply to Jazzband's non-Enterprise GitHub.com use):

[2020-12-08 15:34] jstockwin commented on #210
Ah, sad. Well, thanks for changing the settings anyway, we'll try not to need them changing too often :wink:

[2020-12-08 15:49] jezdez commented on #210
😬

[2020-12-09 14:18] nuno-andre commented on #209
Thanks. I just realised when I went to make a PR that I had pushed the commit to the project instead of my fork. Sorry for that.

[2020-12-09 14:52] hugovk opened #211 "Tablib: Enable ReadTheDocs autobuild for PRs"
@jezdez Please could you enable "Autobuild Documentation for Pull Requests" for https://github.com/jazzband/tablib?

This will help us review docs changes in PRs before merge.

Instructions here:

https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html

Thank you!

cc @claudep

[2020-12-09 14:55] jezdez commented on #211
Done!

[2020-12-09 14:55] #211 closed

[2020-12-11 21:19] beregond commented on #22
Hey @jezdez

From my experience even if you have access to google workspaces (which would be great, anyway) - you are still using something other for communication, like slack (or, free option, discord).

I understand though the problem with moderation

[2020-12-12 18:17] Bouke commented on #180
The transfer to jazzband is currently blocked by #196.

[2021-01-04 09:42] jezdez commented on #125
Just a quick update that I'm still working on this and will have an update later in Q1/21.

[2021-01-24 13:56] stephsamson commented on #91
Would it be possible to just have a fork of django-taggit-serializer under jazzband?

[2021-01-24 17:12] jezdez commented on #91
Unfortunately that won't give access to the PyPI project and complicates maintenance. I would suggest to reach out toe @glemmaPaul by email to figure out if https://github.com/glemmaPaul/django-taggit-serializer/issues/44 is still something that they'd be interested. Alternatively I would suggest to propose the functionality to django-taggit itself.

[2021-03-10 21:30] jezdez commented on #136
Hey friends, I'm closing this in favor of jazzband/django-voting#17. Any help to get this over the finish line is always much appreciated.

[2021-03-10 21:30] #136 closed

[2021-03-13 16:27] n2ygk opened #212 "add GitHub Discussions to django-oauth-toolkit"
Please enable GitHub Discussions for django-oauth-toolkit. Thanks!

[2021-03-16 09:38] jezdez opened #213 "Simplify release verification by building wheel files determinstically"
When you build wheel files unfortunately they are not build deterministically (read: reproducible) at the moment. This is a larger issue in the wheel library since it creates a list of files included in the wheel file that also includes timestamps for each file when adding the file to the wheel file and not of its original file creation datetime.

There is however a workaround that I think we coul

[2021-03-18 19:23] 9mido opened #214 "Proposal: django-cookie-consent"
## Project Details
django-cookie-consent

## Project Description
django-cookie-consent is a reusable application for managing various cookies and visitors consent for their use in Django project. It is a complete replacement for something like a paid cookie management solution such as OneTrust CookiePro. But it is free to use for django developers.

Features:

- cookies and cookie groups are store

[2021-03-19 07:06] bmihelac commented on #214
Hello everyone,

@9mido thank you for the time and effort to write this.

If this project is of interest in jazzband community I would be more than happy to undertake all necessary actions for easy transition.

[2021-04-01 09:22] RonnyPfannschmidt opened #215 "Proposal: prance"
## Project Details
prance : https://github.com/RonnyPfannschmidt/prance

## Project Description
prance manages openapi bundling/validation for python
i took up the maintainer role today

## Project Leads
- @RonnyPfannschmidt

## Confirmation of Guidelines

Please confirm the following:

- [x] I am the project owner, or have permission from the project owner, to request a transfer.

- [x] This proj

[2021-04-07 13:52] jezdez commented on #215
This isn't covered by the guidelines yet, but I'm usually checking what license is used and prance is using the very rare MITNFA license, which isn't OSI approved. I suggest to switch to a regular OSI approved license instead before the transfer.

[2021-04-07 13:56] jezdez commented on #215
Some background how the license came to be for npm: https://github.com/Level/packager/issues/1

[2021-04-07 14:25] RonnyPfannschmidt commented on #215
working on that now, thanks for the references

[2021-04-08 09:40] RonnyPfannschmidt opened #216 "Proposal: consider the C4 process for managing contributions"
followup to [tweet i send at @jezdez](https://twitter.com/jezdez/status/1380074697178677255)

[the c4 process](https://github.com/unprotocols/rfc/blob/master/1/README.md) is a process intended to ease project maintenance in certain ways

it tries to minimize overhead while at the same time requiring certain standards to be adhered

key issues with  adoption i see
* it suggests copyleft like MPL or

[2021-04-13 13:43] rtpg commented on #91
I have reached out to Paul regarding this topic. I believe that having django-taggit absorb the serializer code makes the most sense overall, as it's a pretty relevant piece of functionality.

[2021-04-15 03:41] auvipy commented on #125
looking forward to it

[2021-04-15 08:48] jezdez commented on #125
Thanks for reminding me of this thread, the decision has been moved to Q2/21 for the record.

[2021-04-19 11:52] jezdez commented on #190
There was a release, closing.

[2021-04-19 11:52] #190 closed

[2021-04-24 01:19] NeverLiez opened #217 "PyPI Release: <PACKAGE NAME>"
# PyPI Release
Please read the information about [releases](https://jazzband.co/about/releases) on the website before submitting an issue. In particular, if a project already has project leads assigned, then you'd be better off creating an issue in the individual project, and asking the leads to do a release.

In the event there are no project leads, you're in the right place! Please link the proj

[2021-04-24 11:23] jezdez commented on #217
@NeverLiez I'm not sure if you intented to open an empty issue. Closing.

[2021-04-24 11:23] #217 closed

[2021-04-26 16:37] jezdez commented on #22
We now have project teams in Jazzband, so that allows those teams to use the GitHub team discussions, e.g. https://github.com/orgs/jazzband/teams/pip-tools.

[2021-04-26 16:37] jezdez commented on #77
This is done! 🚀

[2021-04-26 16:37] #77 closed

[2021-04-29 23:05] terencehonles opened #218 "PyPI Release: django-redis"
# PyPI Release

I'm filing this issue to make sure it's not lost, but we're working to finish https://github.com/jazzband/django-redis/issues/430.

Based on the discussion https://github.com/jazzband/django-redis/issues/430#issuecomment-812323073 @WisdomPill and I can be marked as project leads, and I also opened a PR https://github.com/jazzband/django-redis/pull/512 which I think will upload to t

[2021-05-13 00:05] Julian opened #219 "Postposal: appdir"
Hello. I (after some chatting with @gaborbernat and @ofek) transfered in a friendly fork of the appdirs package, which has unfortunately [not had enough love](https://github.com/ActiveState/appdirs/issues/79).

It's [here](https://github.com/jazzband/appdir).

Can you let me know if I did that correctly, and any thoughts?

I suspect I didn't do it totally correctly, because I see I myself don't ha

[2021-05-13 08:12] gaborbernat commented on #219
Could we provision @ofek, @gaborbernat, @RonnyPfannschmidt and @Julian with maintainer rights on the repository? Thanks!

[2021-05-13 09:12] hugovk commented on #219
(Sorry for the title rename (and re-rename), I now see it's not a typo, but the upstream is plural appdirs and the fork is singular appdir 👍)

[2021-05-13 10:17] jezdez commented on #219
Hey all, thanks for the proposal, I'm afraid you misunderstood the process:
A proposal happens before the transfer is initiated and shouldn't be done at the same time. That is to make sure the project follows the [Jazzband guidelines](https://jazzband.co/about/guidelines) and is generally a good fit.

The proposal is problematic for a few reasons:

1) the project was just recently forked with a na

[2021-05-13 10:43] gaborbernat commented on #219
See https://github.com/ActiveState/appdirs/issues/79, multiple of our proposals to wish to maintain it has been totally ignored (the first such proposal dates back to over two years - 22 Jan 2019). Would it help if we rename the project to platformdirs?

[2021-05-13 10:54] jezdez commented on #219
I've read the issue before writing my comment above and considered @zoofood's comments last sprint about finding ways to support the project internally first to be sufficiant to wait on a response to this proposal first. I want to especially acknowledge that the timeframe we're talking here has coincided with a pandemic that has very different impacts on many people, so it's especially important t

[2021-05-13 11:04] gaborbernat commented on #219
Since that comment, over a year has passed. While, true that a pandemic can hit many people hard and in various forms, it's exactly because of that I find it important to make sure to not hold onto the sole maintainership and spread the responsibilities, both to avoid the bus factor and to allow the project to progress still. At the same time, the affected maintainers can freely recuperate from th

[2021-05-13 11:06] Julian commented on #219
Morning @jezdez / all.

Certainly no hard feelings if this isn't suitable for jazzband. I had suspicions jazzband wouldn't want to get involved with forks.

Please do at your convenience. Appreciated!

Just on

I have to say I read and reread that page and the FAQ a couple of times before starting. Perhaps I missed something, but I didn't see a proposal mentioned anywhere -- so what I took away fr

[2021-05-13 11:21] jezdez commented on #219
You should have stopped at `a pandemic can hit many people hard and in various forms`. This is not up for debate.

I'm considering it a hostile fork in the context of "fork and transfer to Jazzband" since the original authors are usually the ones looking for continuation of maintenance and have proposed projects to Jazzband (or at least listened to calls from willing contributors to do it). That's

[2021-05-13 11:26] jezdez commented on #219
That's a great idea and makes sense to me, thanks for suggesting it.

Yeah, if @zoofood isn't responding, build up the project in an own org and after a while when the dust has settled you can propose it again if needed, or maybe even merge the fork back again with the original project when zoofood comes around. My hope is that there is no need for a fork at all.

[2021-05-16 09:21] berislavlopac opened #220 "Bug found on website"
**Describe the bug**
On the "projects" page, sorting the table by some of the columns always puts rows with zero at the end.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://jazzband.co/projects
2. Click on one of the following column icons: [members](https://jazzband.co/projects?sorter=members), [uploads](https://jazzband.co/projects?sorter=uploads) (couldn't verify for the wat

[2021-05-18 21:31] #220 closed

[2021-05-20 15:44] nikolas opened #221 "Proposal: commonmark.py"
# Project Proposal

## Project Details
commonmark.py

## Project Description
commonmark.py is a pure Python port of [jgm](https://github.com/jgm)'s [commonmark.js](https://github.com/commonmark/commonmark.js), a Markdown parser and renderer for the [CommonMark](https://commonmark.org/) specification, using only native modules. Although there are other python commonmark libraries, this one is uniqu

[2021-05-28 05:02] Ayushparikh-code opened #222 "invite me to your community"
looking forward to collaborate

[2021-05-28 08:11] Mogost commented on #222
You can become a participant yourself. Please explore the site https://jazzband.co/

[2021-05-28 08:11] #222 closed

[2021-06-03 04:26] rajesitb opened #223 "Django-Redis on Heroku: Error while reading from socket: (104, 'Connection reset by peer')"
I've uploaded my project on Heroku. Settings in the settings.py are as per the docs.

CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": os.environ.get('REDIS_URL'),
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
        }
    }
}

 However when I load a view function with "@cache_page" decorator, I get the err

[2021-06-03 08:19] jezdez commented on #223
Hi there, I'm sorry but this issue tracker is about getting help with the Jazzband organization's funcationlity not individual project usage. You may get better help in the project's issue tracker: https://github.com/jazzband/django-redis/issues or on StackOverflow.

[2021-06-03 08:19] #223 closed

[2021-06-08 13:47] mslinn opened #224 "Information gathering"
Jannis,

You might have noticed that I mentioned you in the GitHub projects for zappa,  django-haystack and django-machina. I would like to speak with you, if possible. If you are willing, when and how would work best for you?

Thank you,

Mike

[mslinn.com](https://mslinn.com)

[2021-06-08 14:06] jezdez commented on #224
Thanks Mike for opening the ticket, I don't have office hours for Jazzband unfortunately since I'm doing this as a volunteer as well. But if you'd like you can schedule a 30 minutes meeting here: https://calendly.com/jezdez

[2021-06-08 14:07] jezdez commented on #224
If you have questions already, feel free to ask them here before the meeting of course.

[2021-06-09 08:14] RonnyPfannschmidt opened #225 "setting up a matrix briddged channel for the irc channel once the libera bridge is out of beta"
currently @jezdez ensured  https://matrix.to/#/jazzband:matrix.org is owned by jazzband

once the libera bridge is out of beta we should investigate linking it up to https://matrix.to/#/#jazzband:libera.chat

i already join the #jazzband channel via the bridge (i'm no longer using irc clients directly) and i also volunteer to set things up once its ready

[2021-06-09 16:11] piyueh opened #226 "PyPI Release: imaplib2"
I'm working on the [jazzband guideline issue](https://github.com/jazzband/imaplib2/issues/13) for `imaplib2`. (I'm not a project leader, and there's no project leader for this project.) One of the tasks is to set up an auto-release mechanism using GitHub Actions. I have added a GitHub action workflow (see [here](https://github.com/jazzband/imaplib2/blob/master/.github/workflows/release.yml)), thou

[2021-06-09 17:13] mslinn commented on #224
Jannis,

I read https://jazzband.co/about/guidelines and https://jazzband.co/about/faq

I believe that open source without proper sponsorship is unsustainable. A $10 donation does not move the needle. A lot of the problems I experience in open source simply comes down to insufficient funding. Programmers need to be properly paid for their work.

"The purpose of the Jazzband is to help Open Source

[2021-06-09 22:06] jezdez commented on #224
Sure, I agree, there is no way around the fact that developers in general deserve being paid for their work. There is a shortage of direct funding for Open Source software compared to the value that is created with it. But there is also a lot of Open Source software being created and maintained by volunteers, who contribute their time for many different reasons.

What *is* the problem those projec

[2021-06-10 00:37] piyueh opened #227 "Project Lead: imaplib2"
# Project lead request

### Please explain why you'd fit the role of project lead for this project.

No one is actively participating in the development/maintenance of `imaplib2`, so I'll take the role until someone is willing to take the responsibility. I can at least oversee the release of `imaplib2` on PyPI and review minor PRs.

Also, I'm the packager, maintainer, and a user of an Arch Linux A

[2021-06-10 00:39] graingert commented on #227
Lgtm

[2021-06-10 08:04] jezdez commented on #227
Done! Thanks @piyueh for volunteering.

[2021-06-10 08:04] #227 closed

[2021-06-10 08:45] jezdez commented on #226
Now that there is a project lead, this is ready to go from the infrastructure side. I would suggest to double-check locally that the source dist and wheel dist files created are what you are expecting. The package has a pretty simple layout nowdays, thanks for working on this!

[2021-06-10 08:50] jezdez commented on #226
Oh, and @piyueh if you have questions about the actual steps of the release process, let me know and we can go over them together. Here's the primer:

1. Update version specifiers (maybe use [setuptools_scm](https://github.com/pypa/setuptools_scm) instead for that in the future?)
2. Push the changes to the repo and see if the tests pass.
3. Create a release through the GitHub release UI or create

[2021-06-10 08:51] graingert commented on #226
we should double check the requires_python

[2021-06-10 08:51] graingert commented on #226
yep we're good https://github.com/jazzband/imaplib2/blob/21ae2ed26d0ca66c683483d1bfdc7c3fb567a048/setup.cfg#L24

[2021-06-10 08:52] graingert commented on #226
I don't like setuptools_scm because it stops github tar.gz archives from installing I prefer to use https://pypi.org/project/zest.releaser/ and would like to move to PEP 621 to set the version in the future

[2021-06-10 09:06] jezdez commented on #226
If installing directly from GitHub archive links is something you'd like to support, there is a way to do that using the [setuptools-scm-git-archive](https://pypi.org/project/setuptools-scm-git-archive/) project IIRC.

PEP 621 is certainly a worthwhile target, but it hasn't been adopted in the community. setuptools_scm on the other hand already has pyproject.toml support in case you want to make t

[2021-06-10 20:04] piyueh commented on #226
OK, these are what I'm going to do:

1. once https://github.com/jazzband/imaplib2/pull/27 is merged, I'll create a release for version 3.6 on GitHub (and hence a new release on PyPI). This will be the last version that does not have any changes in the source code.
2. close this issue if everything works fine.
3. convert the project to use `setuptools_scm` and remove all hard-coded `__version__` fo

[2021-06-10 20:06] graingert commented on #226
That only works with tagged builds:

[2021-06-10 21:18] piyueh commented on #226
The package has been successfully released on PyPI. The GitHub Action works fine. I'll close this issue to indicate the successful releasing.

The versioning issue will be tracked at https://github.com/jazzband/imaplib2/issues/29. Please feel free to re-open this issue if there're problems regarding the current releasing workflow.

@graingert I'm not familiar with the direct installation from a Gi

[2021-06-10 21:20] #226 closed

[2021-06-12 12:32] peppelinux opened #228 "Proposal: django-admin-search-builder"
# Project Proposal

I read and I agree [Jazzband Guidelines](https://jazzband.co/about/guidelines).

## Project Details
django-admin-search-builder

## Project Description
django-admin-search-builder give us a fast and easy way to build and run advanced queries through ModelAdmin UI.

## Project Leads
I'm the lead of this project, I coded it in two days and I get it to run in my projects.
I'm awar

[2021-06-12 13:07] peppelinux opened #229 "Proposal: django-auto-serializer"
# Project Proposal

I read and agree [Jazzband Guidelines](https://jazzband.co/about/guidelines).

## Project Details
[django-auto-serializer](https://github.com/peppelinux/django-auto-serializer)

## Project Description

Django app that automates objects tree serialization recursively, without any declarations.

Define new classes for every Object serialization could sound a bit boring, I coded t

[2021-06-12 16:22] atugushev opened #230 "CI on pip-tools is broken due to invalid actions permissions"
The CI workflow is [failing](https://github.com/jazzband/pip-tools/actions/runs/931446852) with the following error:
![image](https://user-images.githubusercontent.com/7377671/121782640-c85d6000-cbd4-11eb-91f7-6f516216f2a7.png)

### How to fix

Update the current list of allowed actions to:

- `deatsnakes/action@*`
- `pypa/gh-action-pypi-publis@*`

[2021-06-12 17:18] jezdez commented on #230
Try again, please.

[2021-06-12 17:20] atugushev commented on #230
It works now. Thanks for the fix! 👍🏻

[2021-06-12 17:20] #230 closed

[2021-06-26 13:08] ncoghlan commented on #125
I believe @jezdez's comments above were referring to the recently announced acceptance of Jazzband as a PSF Fiscal sponsoree: https://jazzband.co/news/2021/06/04/fiscal-sponsorship

There's a more detailed internal members post on the topic, but if I've understood the announcement correctly, we're still in the relatively early stages of that project, where the agreement is in place for the PSF to

[2021-06-26 19:02] jezdez commented on #125
Exactly right, thanks Nick for elaborating on this. Here's [the members-only post](https://github.com/orgs/jazzband/teams/members/discussions/10).

The fiscal sponsorship agreement with the PSF has been signed and with that Jazzband is able to [raise funds and use the PSF's non-profit tax status](https://jazzband.co/donate). Setting the agreement up took >6 months to finalize.

The next step is to

[2021-06-30 15:22] rtpg commented on #91
Alright, I had tried reaching out to Paul and didn't get a response (on top of non-responses to other people on this topic).

Given the license compatibility (see [this issue](https://github.com/jazzband/django-taggit/issues/707#issuecomment-864403197)) for the projects, I opted for vendoring in the project and including attribution to Paul in several places in the codebase.

I believe this is fol

[2021-06-30 15:39] #91 closed

[2021-07-05 14:01] Dresdn opened #231 "Project Lead: django-eav2"
# Project lead request

As part of the Jazzband on-boarding, the project needs a project lead. Currently, lvm and myself have been two of the primary contributors, and lvm has stated they do not have much time to work on django-eav2.

As I'm leading the way towards the implementing the Jazzband guidelines, I'd like to volunteer to be the project lead.

[2021-07-05 14:04] jezdez commented on #231
@lvm Can you please confirm this here or in https://github.com/jazzband/django-eav2/issues/69?

[2021-07-05 14:06] Dresdn commented on #231
@jezdez I forgot to add a link to the comment that prompted this request, in case @lvm doesn't respond here.

https://github.com/jazzband/django-eav2/pull/70#issuecomment-874091050

[2021-07-05 14:11] lvm commented on #231
@jezdez I confirm this.
In fact, i suggested this to @Dresdn so I don't block any of his work.

https://github.com/jazzband/django-eav2/pull/70#issuecomment-874091050

[2021-07-06 08:06] albertyw opened #232 "PyPI Release: django-silk"
As per https://github.com/jazzband/django-silk/issues/465, I would like to create a new django-silk release.  As mentioned in https://github.com/jazzband/django-silk/issues/465#issuecomment-874512115, it seems both of the project's leads are inactive (@avelis and @nasirhjafri) so a roadie may have to make the release.

[2021-07-06 08:08] albertyw opened #233 "Project Lead: django-silk"
# Project lead request

Please explain why you'd fit the role of project lead for this project. Explain any prior involvement in the project. If there are existing project leads, they should also agree to this change.

I would like to become a project lead for django-silk.  I've made several commits in the past to django-silk, mostly around documentation and optimization issues.  It seems the curr

[2021-07-06 08:18] albertyw commented on #233
@auvipy I see from the django-silk repository history that you also have been contributing significantly over the last several years.  I suggest you also apply for project lead if you have the time.

[2021-07-08 15:28] Dresdn commented on #231
@jezdez do you need anything else to proceed with this request?

[2021-07-08 19:14] lastthyme opened #234 "PyPI Release: jazzband help"
# PyPI Release
Please read the information about [releases](https://jazzband.co/about/releases) on the website before submitting an issue. In particular, if a project already has project leads assigned, then you'd be better off creating an issue in the individual project, and asking the leads to do a release.

In the event there are no project leads, you're in the right place! Please link the proj

[2021-07-13 13:21] jezdez commented on #219
Hey there, this has been sitting for a bit and I just noticed [@gaborbernat doing a virtualenv release](https://twitter.com/gjbernat/status/1414929946116509727) using a new [platformdirs](https://github.com/platformdirs/platformdirs) package.

@Julian @gaborbernat Does that mean the "appdir" repo is moot? Have you heard back from ActiveState?

[2021-07-13 13:22] gaborbernat commented on #219
We never heard back anything 👍 so went ahead with forking the repo.

[2021-07-13 13:34] jezdez commented on #219
Ah, got it, thank you (I wrote my comment while you responded). Will delete now.

[2021-07-20 15:26] Dresdn commented on #231
@jezdez @jstockwin @hugovk Can you assist with this? I'd like to go ahead and check off some of the items on implementing the guidelines, but am unable to do so without access to the project settings.

[2021-07-20 15:33] jstockwin commented on #231
@Dresdn There's nothing I can do to help here, sorry. I don't have access to these settings.

[2021-07-20 16:43] graingert commented on #22
Hello, now that gitter has been donated to the matrix project, its usability has increased hugely and I think it's worth another look

[2021-08-04 18:08] WhyNotHugo opened #235 "pre-commit.ci for django-payments"
I'd like to use pre-commit.ci for django-payments.

It's a very very fast and zero-maintainence CI that runs pre-commit hooks on each push. It also pushes any auto-fixes that may come out, and sends weekly PRs updating hooks.

I see that it's currently active for other jazzband projects, but needs to be enabled manually for each one. Can you enable it for django-payments?

See also https://github.

[2021-08-04 18:25] jezdez commented on #235
Sorry for the delay, I just approved your request.

[2021-08-04 18:25] #235 closed

[2021-08-04 18:42] WhyNotHugo commented on #235
Thanks!

[2021-08-05 15:05] auvipy commented on #233
i dont know how project leads are choosen

[2021-08-05 15:40] albertyw commented on #233
@auvipy see https://jazzband.co/about/releases#security

[2021-08-05 15:51] auvipy commented on #232
I would love to if seems a good fit

[2021-08-06 03:23] Archmonger commented on #233
I would like to see @albertyw provided project lead. Currently Django silk is facing deprecation due to a lack of active project leads.

Are there any roadies still actively monitoring these issue tickets?

[2021-08-13 09:46] graingert commented on #22
see also https://github.com/jazzband/help/issues/225 and https://github.com/jazzband/help/pull/236

[2021-08-16 09:27] jezdez commented on #22
I wish you would not have done that, @graingert, since you're basically forcing me now to monitor this channel for CoC violations now without a plan or documentation what this channel is supposed to be used for. Please be so kind and delete the channel again or let Gitter staff know that it was created by accident.

[2021-08-16 09:30] graingert commented on #22
I plan on bridging it per #225 so there's no extra code of conduct overhead

By accident?

[2021-08-16 09:38] graingert commented on #22
I'm looking into deleting the channel, and I'm currently trying to contact you directly on IRC. I do think it would be a great shame to delete the gitter community before it has had a chance to flourish

[2021-08-16 09:39] jezdez commented on #22
I haven't agreed to that ticket and haven't been presented with a reason why we should be on Gitter AND Libera (using both platforms, no matter the bridging). @RonnyPfannschmidt just opened it when the Freenode/Libera kerfuffle happened. I think you're assuming that it's okay to just add new services to Jazzband, but it's my experience to first really consider if it would actually be maintainable.

[2021-08-16 10:39] graingert commented on #22
@jezdez and I had a meeting regarding these communication channels and here's a summary:

* **the "accident"**: I requested access to gitter via github apps and it was approved so I was under the impression I wasn't acting unilaterally.
* **the EoL of gitter.im**: gitter is two things now. a Synapse server and a https://gitlab.com/gitterHQ/webapp only the webapp is on "end of life care", and once

[2021-08-24 09:09] brylie opened #237 "Proposal: django-invitations"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details
django-invitations

## Project Description
Generic invitations solution with adaptable backend and support for django-allauth. All emails and messages are fully customisable.

The origina

[2021-08-26 12:25] mehdi123 opened #238 "Integrating django-oauth-toolkit and Okta"
Hi there,

I am working on a django application (using DRF) which already has been integrated with oauth toolkit. Now there is a requirement to use Okta as the user management. Do you have any information/guidance how can I integrate the django oauth toolkit with Okta?

Thank you.

[2021-08-28 00:54] tim-schilling commented on #238
@mehdi123 can you recreate this question in https://github.com/jazzband/django-oauth-toolkit? This project is for for Jazzband internals and questions regarding the organization, its policies, processes, etc.

[2021-08-28 00:54] #238 closed

[2021-08-28 01:49] tim-schilling commented on #193
@Bouke, should this be closed as per jazzband/django-user-sessions#123?

[2021-09-02 15:08] tim-schilling commented on #10
I for one would really like being able to ask for a review for CI and CD are setup. My usual task is, "get it working", then ignore it until it becomes a problem again. Having the ability to request a review from people who have more expertise would help folks like myself learn some of those best practices via these reviews.

To that end, would creating Github teams be sufficient? Is this somethin

[2021-09-03 03:22] Archmonger commented on #196
@jezdez This is becoming a critical issue. Several projects within Jazzband are facing deprecation, and several incoming project proposals aren't getting pulled into Jazzband.

I'm willing to volunteer as a roadie if it means maintaining the longevity of everything under the Jazzband umbrella.

[2021-09-05 10:13] jezdez commented on #233
Hey there, thanks @Archmonger, I've reached out to the current project leads here: https://twitter.com/jezdez/status/1434459031641415684 (since I hadn't seen any communication directly with them)

The next steps would be to wait for a bit (a week) and then consider our next steps.

[2021-09-05 10:15] jezdez commented on #231
Sorry for the long wait, I added both @lvm and @Dresdn as project leads: https://jazzband.co/projects/django-eav2

[2021-09-05 10:15] #231 closed

[2021-09-10 06:57] Archmonger commented on #196
@jstockwin @aleksihakli @manelclos

Since it has been over a year, I'm reaching out to previous participants on this thread to see if individuals still have an open interest in becoming roadies.

Reply back if you're still available for volunteering for this.

I'll pester jezdez some more about this once I confirm everyone's availability 👀

[2021-09-10 06:59] jstockwin commented on #196
Still available and happy to help out where I can

[2021-09-10 19:23] aleksihakli commented on #196
I'm happy to help as well 👍

[2021-09-11 07:28] Archmonger commented on #196
@jezdez Would you be available to start considering more roadies? We have open interest from 4 individuals from this thread alone.

As I mentioned before, every day that passes by this issue becomes more critical.

[2021-09-11 12:05] jezdez commented on #196
I'm not able to restart this at this very moment given my other responsibilities, but plan to focus on this towards the end of the year. I have a good list of volunteers already and the people who voiced it here are on it as well.

For the record, the work to apply for the PSF fiscal sponsorship used up a lot of time in the first part of the year and took over six months to get done. Those were th

[2021-09-17 08:11] graingert opened #239 "readthedocs.org: pathlib2 doesn't have a valid webhook set up"
I'm looking to configure readthedocs PR builds but I don't have permissions to install the webhook: https://github.com/jazzband/pathlib2/issues/72

[2021-09-19 22:19] Arhell opened #240 "Bug found on website"
Issues:
https://github.com/jazzband/website/issues/949
https://github.com/jazzband/website/issues/951
https://github.com/jazzband/website/issues/953
https://github.com/jazzband/website/issues/955

Fixes:
https://github.com/jazzband/website/pull/950
https://github.com/jazzband/website/pull/952
https://github.com/jazzband/website/pull/954
https://github.com/jazzband/website/pull/956

cc @jezdez

[2021-09-21 16:31] 9mido opened #241 "Proposal: django-fernet-fields"
# Project Proposal

Hello! I propose [django-fernet-fields](https://github.com/orcasgit/django-fernet-fields).

## Project Details

django-fernet-fields provides symmetric encryption for Django model fields, using the cryptography library.

Packages to encrypt have existed in the past, but have not been continued due to maintenance difficulties.

## Project Leads

[@brad ](https://github.com/brad)

[2021-09-22 12:30] jeking3 commented on #192
Is this issue now complete?

[2021-09-22 13:22] hugovk commented on #192
I'd say so, the project is at Jazzband:

* https://github.com/jazzband/django-simple-history

... the checklist is complete:

* https://github.com/jazzband/django-simple-history/issues/670

... and the project was officially welcomed!

* https://github.com/jazzband/django-simple-history/issues/670#issuecomment-713020203

I'll go ahead and close this, thanks! (We can re-open if I've missed somethin

[2021-09-22 13:22] #192 closed

[2021-09-23 18:11] 9mido opened #242 "Proposal: django-admin-honeypot"
https://github.com/dmpayton/django-admin-honeypot

Project Details

django-admin-honeypot

Project Description

django-admin-honeypot is a fake Django admin login screen to log and notify admins of attempted unauthorized access.

Project Leads
@dmpayton

Confirmation of Guidelines

Please confirm the following:

I am not the project owner, but dmpayton who is the owner seemed to have abandoned thi

[2021-09-23 18:48] jezdez commented on #240
Thanks I've gotten the notification for reviewing your contributions, this is very appreciated, thank you! I just haven't had time yet to review them :)

[2021-09-24 06:39] Bouke commented on #193
Yes that is fine.

[2021-09-24 06:39] #193 closed

[2021-09-24 12:06] MRigal commented on #242
@9mido I agree this project should be kept maintained. I could help out there

[2021-09-24 12:34] MRigal opened #243 "Enabling Github Sponsorship and other money sources"
Hi @jezdez ,

This is related to many other points, like adding more roadies and indeed gathering money to support active maintenance of heavy/complex systems like for example zappa https://github.com/zappa/Zappa/issues/1043

I think Jazzband can and must be able to raise more money to support an always growing number of tasks. You made a very good point with the deal with the PSF. However for peo

[2021-09-25 16:26] 9mido commented on #242
@MRigal That sounds great. What are the next steps for you or someone else to take over django-admin-honeypot?

[2021-09-27 04:30] marius-mather commented on #233
It seems like the current project leads are not available. Is there a path forward to allow a new release of Django Silk?

[2021-09-27 04:38] auvipy commented on #233
Hi Jennis, I have using this packages for nearly 9 years and started contributing it few years back. I would love to be a Lead of this project.

[2021-10-07 14:05] aqeelat opened #244 "Project Lead: django-auditlog"
# Project lead request

I would love to give @jjkester a hand with django-auditlog. There's a huge backlog of issues and PRs and someone should go through them.

[2021-10-08 10:29] hugovk opened #245 "pre-commit.ci for PrettyTable"
Similar to https://github.com/jazzband/help/issues/235, please could you enable https://pre-commit.ci for https://github.com/jazzband/prettytable?

I've had a couple of PRs this week where some linting would be autofixed by https://pre-commit.ci.

Thank you!

[2021-10-08 12:17] jezdez commented on #245
Done!

[2021-10-08 12:17] #245 closed

[2021-10-13 18:17] NickCrews opened #246 "Project Lead: docopt-ng"
# Project lead request

Hi!

I'd like to gain maintainer privileges to the [docopt-ng](https://github.com/jazzband/docopt-ng) repo. Some reasons:

- There are several stale issues on the project that haven't been dealt with. Several of them, such as https://github.com/jazzband/docopt-ng/issues/11 and https://github.com/jazzband/docopt-ng/issues/7 I have submitted trivial PRs that should be really

[2021-10-18 14:23] graingert opened #247 "Proposal: django-js-reverse"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details
https://github.com/ierror/django-js-reverse

## Project Description
Django JS Reverse is a small django app that makes url handling of named urls in javascript easy and non-annoying..

Cu

[2021-10-20 10:16] MRigal opened #248 "Proposal: django-fsm-log (as the organization gizmag is abandoned)"
# Project Proposal

## Project Details
The django-fsm-log package is not only abandoned since 2 years, but also locked, as the company owning the repo and the pypi access moved to another CMS and the people who were working on it lost the company and their accesses, as it can be seen here: https://github.com/gizmag/django-fsm-log/issues/96

## Project Description
~~The project is not only abandone

[2021-10-20 20:53] Dresdn opened #249 "Enable PyPI Auto-Release: django-eav2"
Hello,

Can the auto-release mechanism be setup for the django-eav2 package? Relevant issue is https://github.com/jazzband/django-eav2/issues/84

[2021-10-21 13:43] #239 closed

[2021-10-21 14:03] #249 closed, assigned to nobody

[2021-10-21 14:40] graingert commented on #239
Thanks!

[2021-10-23 06:02] eigenmannmartin opened #252 "Project Lead: icalevents"
# Project lead request

Thank you for accepting icalevents into jazzband after I proposed it.
I am using icalevents @nalpch in a production environment and I revived/fixed multiple issues in the project.
I can not promise that I can respond to every request in the project within seconds but I can promise that I will drive the development and increase the accuracy and quality.
It would be an honor

[2021-10-27 03:35] brianhelba opened #253 "Project Lead: django-configurations"
# Project lead request

I'm the maintainer of a dependent project of `django-configurations`, https://github.com/girder/django-composed-configuration/ . I'm also an active maintainer and contributor to many other projects in the Django ecosystem (feel free to look at my GitHub history).

Unfortunately, it looks like the `django-configurations` project has been inactive for ~9 months; [the last cod

[2021-10-27 17:45] brianhelba opened #254 "PyPI Release: django-configurations"
# PyPI Release
`django-configurations` 2.3 has been released and uploaded to the Jazzband package repo: https://github.com/jazzband/django-configurations/releases/tag/2.3

It needs to be pushed to PyPI.

[2021-11-08 08:23] jezdez commented on #254
This is done!

[2021-11-08 08:23] #254 closed

[2021-11-14 21:13] brianmay opened #255 "How do I remove travis-ci from project?"
Pull requests are failing because travis is no longer being run. How do I get github to realise this is the new normal?

* https://github.com/jazzband/django-revproxy/pull/127
* https://github.com/jazzband/django-revproxy/pull/128
* https://github.com/jazzband/django-revproxy/pull/130

Why does it think that travis-ci is required? Why is is trying to run codeclimate and pre-commit.ci?

[2021-11-14 21:36] hugovk commented on #255
I expect Travis CI is a "required status check" as part of "branch protection rules" for those repos. An admin/roadie will need to go to the `/settings/branches` page and disable them.

For pre-commit, I think it's been enabled as an app for all repos in the Jazzband organisation. The easiest thing to do is a `.pre-commit-config.yaml` file to the repo. (I've just created a PR: https://github.com/j

[2021-11-15 02:27] brianmay commented on #255
OK, I have disabled that option for now. But still surprised it required travis ci and not say pre-commit.ci.

[2021-11-15 02:27] #255 closed

[2021-11-15 06:24] hugovk commented on #255
I'm guessing the Travis requirement is a legacy thing from the repo's pre-Jazzband days?

pre-commit.ci is pretty new.

[2021-11-15 21:11] brianmay commented on #255
@hugovk Yes, that is correct.

[2021-11-17 20:28] brianmay commented on #255
Where does the reference to codeclimate come from? Is that old or new?

[2021-11-17 21:07] hugovk commented on #255
Code Climate will be old. For example, the check at https://github.com/jazzband/django-revproxy/pull/128 links to https://codeclimate.com/github/TracyWebTech/django-revproxy/pull/128 and I suppose TracyWebTech was the pre-Jazzband home for the repo?

To remove Code Climate, we should probably ask @jezdez the Jazzband roadie to check the repo/org settings and remove it. Are there any other repos th

[2021-11-17 22:01] brianmay commented on #255
I still have full access to the repo, but don't see any Code Climate references. I am hoping that maybe this only happened because it is an older PR, that probably needs updating.

[2021-11-18 06:55] hugovk commented on #255
Does this help? https://docs.codeclimate.com/docs/removing-a-repository

[2021-11-18 21:07] brianmay commented on #255
I suspect not, I don't have a codeclimate account. And the problem is on github anyway, for complaining that codeclimate didn't run, because we removed the webwook.

[2021-11-22 02:07] thuongtruong1009 opened #256 "Let me join organization"
My name is Tran Nguyen Thuong Truong.
My Github link: https://github.com/thuongtruong1009
Nice to meet you.
Thank you very much!

[2021-12-02 09:49] Jyoti-prakash-rout opened #257 "Please invite me to the GitHub Organization"
I'm a Web Dev enthusiast & a junior pursuing my Bachelors in Computer Science & Engineering. I'm interested in Web Devlopment, Machine Learning & DevOps & I enjoy learning new things & stuff as well as I'm a Frontend Devloper with experience building Dynamic & Static Web pages. I am always interested in learning the answers to how, why, and what relates to the Technologies around me.

I would like

[2021-12-02 10:01] jstockwin commented on #256
Hey @thuongtruong1009, you don't need to ask to join here, you can simply join from the jazzband website. See https://jazzband.co/about/faq#how-do-i-join-the-jazzband

[2021-12-02 10:01] #256 closed

[2021-12-02 10:02] jstockwin commented on #257
Hey @Jyoti-prakash-rout, you don't need to ask to join here, you can simply join from the jazzband website. See https://jazzband.co/about/faq#how-do-i-join-the-jazzband

[2021-12-02 10:02] #257 closed

[2021-12-12 19:55] phillbaker opened #258 "Proposal: suds"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details
suds (https://github.com/suds-community/suds)

## Project Description
Suds is a lightweight SOAP-based web service client for Python licensed under LGPL. Historically, it has been a widel

[2021-12-16 20:35] mpoli opened #259 "PyPI Release: django-robots"
# PyPI Release

django-robots had a README update to reflect support to Django 3.2 and 4, and that support sits in HEAD by commit https://github.com/jazzband/django-robots/commit/70da7606974b915d57e038f8bdf31c0b21be7e45 but hasn't been release. django-robots fell into the 3.1->3.2 AutoField breaking change in Django, and needs this update to become compatible with 3.2 and 4.

So currently the docs

[2021-12-17 13:07] rhblind opened #260 "Proposal: drf-haystack"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details
[drf-haystack](https://github.com/rhblind/drf-haystack)

## Project Description
Hello,
I once wrote a library for integrating [django-haystack](https://github.com/django-haystack/django-h

[2021-12-19 21:41] n2ygk opened #261 "A couple of issues with release 1.6.0 of django-oauth-toolkit"
Hey @jezdez @MattBlack85:

I've run into a couple of issues with this release:

- RTFD.io builds have been failing for a while. See the latest at: https://readthedocs.org/projects/django-oauth-toolkit/builds/15577701/
- https://pypi.org/project/django-oauth-toolkit/ shows the release as 1.6.0 but the pypi package badge says 1.5.0.

Can you help?

[2021-12-20 06:30] hugovk commented on #261
It now shows 1.6.0, must have been cached.

![image](https://user-images.githubusercontent.com/1324225/146722089-36f721cd-1fbc-4b63-95d6-11e374174e2a.png)

[2021-12-20 14:26] n2ygk commented on #261
I'll try and look at rtfd today. I suspect it might have to do with django 4 being released and the import not specifying < 4. There are issues with django 4.

[2021-12-21 15:05] n2ygk commented on #261
@jezdez Thanks for fixing the RTFD stuff!

[2021-12-21 15:05] #261 closed

[2021-12-22 14:58] nikosmichas commented on #242
Hello! Is there any update on this? This is a widely used library that needs some work in order to be compatible with Django 4.0

[2021-12-25 01:01] Archmonger opened #262 "Proposal: django-dbbackup"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details
[django-dbbackup](https://github.com/django-dbbackup/django-dbbackup)

## Project Description
This Django application provides management commands to help backup and restore your project

[2021-12-25 03:34] johnthagen commented on #262
I also support this.

[2021-12-27 00:10] Archmonger commented on #98
@johnthagen What's your thoughts on this?

[2021-12-27 00:15] Archmonger commented on #181
Seems like this repo has been migrated to jazzband so I'm closing this ticket.

[2021-12-27 00:15] #181 closed

[2021-12-27 00:23] Archmonger commented on #14
With 6 years sitting between the original proposal, I'm pinging @shtalinberg to state his thoughts on this.

If a response isn't given we can't single sidedly fork to jazzband.

[2021-12-27 00:35] johnthagen commented on #98
`django-solo` would be a good addition to JazzBand. It is in decent shape and is pretty widely used. Having some extra eyes that can keep it up to date would be good. That being said, @lazybird is the owner and would need to weigh in.

[2021-12-27 00:55] Archmonger commented on #22
Since this ticket was first opened 6 years ago, GitHub now has a built in communications platform in the form of GitHub Discussions.

My personal opinion is the best path forward here is opening a discussion tab within either this repo, or a separate discussions repo. External platforms are a bit iffy since it requires users to follow Jazzband on a whole different platform.

There definitely is di

[2021-12-27 01:17] Archmonger commented on #125
I'm willing to assist Jannis in searching for funding sources for Jazzband, if he approves me to do so.

In terms of utilizations of funds, I think "bug bounty" style payments would make the most sense in terms of our organization structure. for example, allowing project leads to seek approval from roadies to attach a bounty price to a GH issue ticket. In the interest of fairness there would need

[2021-12-27 03:40] Archmonger commented on #98
Since lazybird hasn't responded to this thread, have you heard anything from him regarding this?

If not, we should create an issue ticket on the solo repo to see his opinion on the migration.

I personally actively use solo and would be willing to support this repo within Jazzband as well.

[2021-12-27 06:01] eigenmannmartin commented on #252
@jezdez Is there anything I can help you with? The project https://github.com/jazzband/icalevents is essentially stalled right now.
Can you please allow me to publish new versions. Thank you so much! :-D

[2021-12-27 12:02] johnthagen commented on #98
@Archmonger I have not heard anything from @lazybird regarding this. He recently gave me admin over the GitHub project and he pushed a PyPI release, so he checks in on it from time to time.

[2021-12-29 19:52] Bouke commented on #180
There's also a transifex project linked with my personal account. How should we go about that, as I believe the options for shared ownership with jazzband isn't possible at this moment?

[2022-01-06 00:54] tony commented on #259
[5.0b1](https://pypi.org/project/django-robots/5.0b1/) is released on PyPI.  Sorry for the delay.  I will release final after we have a few confirmations

For now I will close this as final release is imminent

[2022-01-06 00:54] #259 closed

[2022-01-07 16:43] jezdez commented on #242
Hi all, this seems to be a good candidate for sure, but @dmpayton would need to agree to transfer it to Jazzband, which I haven't seen here. There seems to be some commit activity upstream now as well.

@dmpayton What's your take on this?

[2022-01-07 16:44] jezdez commented on #262
Looks good to me! Feel free to initiate the repo transfer to the Jazzband org.

[2022-01-07 16:49] MRigal commented on #242
Indeed @jezdez , @dmpayton seems to have get back to work recently and fixed the most urgent issues. Do you prefer to keep it yours or would you mind delegating it to jazzband?

[2022-01-07 17:04] Archmonger commented on #262
Transfer has been submitted 🥂

[2022-01-07 17:05] #262 closed

[2022-01-07 17:08] jezdez commented on #262
Transfer TODOs: https://github.com/jazzband/django-dbbackup/issues/417

[2022-01-08 02:06] mpoli commented on #259
Thanks, @tony!

[2022-01-08 14:58] n2ygk opened #263 "Help making py 3.10 "required" to pass in django-oauth-toolkit"
Does a branch protection rule need to be updated by @jazzband/roadies to make py3.10 tests `Required` or am I missing somewhere else where this is set?

![image](https://user-images.githubusercontent.com/4356471/148648383-69edff7c-b777-4c8a-8b47-5deea707cb41.png)

[2022-01-08 15:08] hugovk commented on #263
Yes, it needs a roadie to go to https://github.com/jazzband/django-oauth-toolkit/settings/branches and add the new check.

[2022-01-09 16:01] aleksihakli opened #264 "Project Lead: django-widget-tweaks"
# Project lead request

Hey @camilonova and @jezdez. I was making package updates for a few projects and noticed that @camilonova is the only project lead for [django-widget-tweaks](https://jazzband.co/projects/django-widget-tweaks). I was wondering if it would be OK if I joined the team for a coleadership for updating the specific package since I've been coordinating minor updates and releases fo

[2022-01-09 16:38] aleksihakli opened #265 "Automating Python and Django version update scans for Jazzband projects"
I'd like to propose we set up automation for checking version updates for Jazzband projects for adding new Python and Django versions to Python package requirements, package classifiers, unit and integration test matrices for GitHub Actions and acceptance testing criteria for GitHub PRs.

### Background

We already have 50+ packages under Jazzband that need regular version updates and maintenance

[2022-01-10 15:21] jezdez commented on #264
Done.

[2022-01-10 15:21] #264 closed

[2022-01-10 16:05] hramezani opened #266 "Project Lead: django-auditlog"
# django-auditlog lead request

I am contributing to this project and also other Jazzband projects.
Also, I am a Django core contributor.

[2022-01-10 16:14] Linkid commented on #266
It would be a great thing to have @hramezani as project lead for this package !

[2022-01-10 16:36] aleksihakli commented on #264
Thank you :)

[2022-01-11 11:12] jezdez commented on #263
This is done.

[2022-01-11 11:12] #263 closed

[2022-01-11 13:54] jezdez commented on #266
Works for me, thank you @hramezani!

[2022-01-11 13:54] #266 closed

[2022-01-11 14:12] eigenmannmartin commented on #252
@jezdez Is there any update?

[2022-01-12 16:48] jacobian opened #267 "Proposal: dj-database-url"
# Project Proposal

Hello friends! [dj-database-url](https://github.com/jacobian/dj-database-url/) needs a new home.

## Project Details
dj-database-url converts database URLs into a dict for Django's `DATABASES` setting, e.g. to read `env[DATABASE_URL]` on many PaaS platforms.

## Project Description
I picked up ownership of the original package when the maintainer wanted to step back. But I've n

[2022-01-13 08:43] brylie commented on #237
Hei all. Can we please review this proposal? It has heart support but no reviewers.

[2022-01-14 10:30] MRigal commented on #248
@ticosax since you have started again to accept PR and maintain the original django-fsm-log but you are also a member of jazzband, what do you think about the proposal to transfer it here anyway, knowing this https://github.com/gizmag/django-fsm-log/issues/96 ?

With you as project lead if desired, for sure!

[2022-01-14 10:50] ticosax commented on #248
let's do it.

[2022-01-14 11:46] MRigal commented on #248
Great news @ticosax ! Do you also have pypi credentials?

@jezdez may I ask you to review and possibly approve the proposal?

[2022-01-14 11:56] ticosax commented on #248
yes

[2022-01-14 14:27] ticosax commented on #248
The request for transfer is done.

[2022-01-14 14:33] jezdez commented on #248
Heeey, so this should have been reviewed first, transfers don't work as "requests" but are just executed.

[2022-01-14 14:36] jezdez commented on #248
For example, the docs are pretty sparse, this'll need to be taken care of in https://github.com/jazzband/django-fsm-log/issues/113.

[2022-01-14 14:36] #248 closed

[2022-01-14 21:18] MRigal opened #268 "Project Lead: django-fsm-log"
# Project lead request

My involvement in the project is mostly limited to bug triage and code reviews. I also started the process of migrating the project from the gizmag abandoned organization to jazzband.

Furthermore, to limit the situations where people are stuck after for example a major Django release, I do think it is a good idea to have more than one lead.

@ticosax is the current project

[2022-01-21 17:07] hramezani opened #269 "Project Lead: django-voting"
I am contributing to this project and also other Jazzband projects.
Also, I am a Django core contributor.

[2022-01-23 22:41] n2ygk opened #270 "jazzband.co login 500 error"
Tried to login and got a 500 error at: Sun, 23 Jan 2022 22:37:59 GMT

[code]

[2022-01-24 00:54] jezdez commented on #270
Yeah, seeing that as well, seems to be a connectivity issue between the server and the GitHub API. Will investigate..

[2022-01-24 10:34] jezdez commented on #270
Seems to work for me again, @n2ygk can you check on your end?

[2022-01-24 14:05] n2ygk commented on #270
Yes, good now. Thanks.

[2022-01-24 14:05] #270 closed

[2022-01-25 10:53] aleksihakli opened #271 "Proposal: django-recurrence"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details

- [https://github.com/django-recurrence/django-recurrence](https://github.com/django-recurrence/django-recurrence)
- [https://pypi.org/project/django-recurrence/](https://pypi.org/projec

[2022-01-27 11:17] MrCordeiro commented on #237
@brylie, what should be the next steps here? Is there any Jazzband member we should contact?

[2022-01-27 11:45] jezdez commented on #237
I'm sorry this is stuck on the proposal backlog, I think the things that jump out that needs to be checked before a transfer can happen:

- the docs are sparse and would need to be ported to a Sphinx project and hosted on Read The Docs. This can be done after the transfer but I need acknowledgement that this would happen
- the package metadata doesn't contain data which license this is released un

[2022-01-27 13:38] MrCordeiro commented on #237
Thanks, @jezdez!

@brylie, I see you have a [PR](https://github.com/bee-keeper/django-invitations/pull/166) going. Need any help? I could try adding to it.

[2022-01-27 14:58] brylie commented on #237
Thanks, @MrCordeiro. Feel free to contribute to the PR in any way that would help the proposal move forward :-)

[2022-01-28 08:47] aleksihakli commented on #271
Project transfer requirements are done at https://github.com/jazzband/django-recurrence/issues/194

[2022-01-28 12:14] MrCordeiro commented on #237
@jezdez, I was looking at the other projects and got a question. Should I just create a Test workflow for now and then the Release workflow when the project is moved, or do I create both now? Thanks!

[2022-01-28 19:15] jezdez commented on #237
You can create both of them and just change the names in the release workflow, it'll be identical for this project and just needs the release key to enable it, that I'd do.

[2022-01-31 10:10] MrCordeiro commented on #237
[Done](github.com/bee-keeper/django-invitations/pull/166), @jezdez!
The only thing missing is to port the docs to a Sphinx project, be we can do this after the transfer, right?

[2022-01-31 22:44] jezdez commented on #237
@MrCordeiro Yep, totally fine. Feel free to transfer the repo with the usual repo transfer functionality, a ticket to track the rest of the TODOs will be opened automatically.

[2022-02-07 12:07] mattseymour commented on #267
Is there anything i can do for the time being to help move this forward @jezdez?

[2022-02-10 09:32] MrCordeiro commented on #237
@brylie, have you had any news of the transfer?

[2022-02-10 10:17] brylie commented on #237
@MrCordeiro, nope. I think @bee-keeper will need to initiate the transfer from their account.

[2022-02-10 20:01] claudep opened #272 "PyPI Release: sorl-thumbnail 12.8.0"
As we don't get feedback by @camilonova recently, who is the project lead, is it possible to make a sorl-thumbnail release, please?

[2022-02-10 21:17] alenavolk opened #273 "PyPI Release: django-revproxy"
Please prepare release of django-revproxy 0.11.0. Changelog has been updated.

[2022-02-10 21:17] jezdez commented on #272
Sure, the changes look good, feel free to create a release and lemme know when you've done that.

[2022-02-10 21:33] claudep commented on #272
12.8.0 tag pushed and release created on GitHub.

[2022-02-10 22:09] jezdez commented on #272
Done!

[2022-02-10 22:09] #272 closed

[2022-02-11 07:31] claudep commented on #272
Thanks a lot!

[2022-02-18 08:36] JanMalte opened #274 "transfer of django-permission"
What is the state of the transfer of the `django-permission` project?
Is there anything we can do? The repository still seems to be archived.

I would like to provide changes to get the project working with django 3.2 and 4.0.
Hopefully there can soon be a new release with the changes to update projects using `django-permission`.

[2022-02-27 17:42] FernandoKGA opened #275 "How to configure Codecov to django-revproxy?"
We need help with a Codecov setup from someone with experience with it to properly configure at [django-revproxy](https://github.com/jazzband/django-revproxy) repository if possible. Mentioning @brianmay as he is taking care of the project.

[2022-03-16 17:52] WhyNotHugo opened #276 "django-payments: docs not building"
The docs for `django-payments` don't seem to be building: https://django-payments.readthedocs.io/en/latest/index.html

Not sure how old the published version is, but it's definitely not one of the latest releases. Can I maybe have access to the project in readthedocs so I can see the build logs myself?

Setting up per-PR builds would also be useful to review changes live before merging, can that b

[2022-03-16 18:04] hugovk commented on #276
RTD build logs are public:

https://readthedocs.org/projects/django-payments/builds/

And failing with:

https://readthedocs.org/projects/django-payments/builds/16387309/

[2022-03-22 20:39] JanMalte commented on #274
@jezdez Is there anything I can do to get the project active again?

There are a some changes neccessary to get this project running with Python 3.10 or Django 3.2 / 4.0

Currently this project is blocking updates for many projects.

[2022-03-23 11:29] gilsonluiz opened #277 "Help solution for Issues - Django-DBBackup"
Helo,

This inssue [here](https://github.com/jazzband/django-dbbackup/issues/397).

How to solve?

Thank's

[2022-03-24 12:46] jezdez commented on #267
@mattseymour Oh I missed the original discussion in https://github.com/jacobian/dj-database-url/issues/152 and assumed there would need to be more discussion here first by the people mentioned in this ticket. I just got another notification from there where you said there wasn't any progress on the Jazzband side.

So yeah, @jacobian this looks good, feel free to transfer the repo to the Jazzband o

[2022-03-24 13:07] mattseymour commented on #267
@jezdez thanks for the update. I am sure we will be able to get things going soon.

[2022-03-24 21:45] jacobian commented on #267
Fantastic, thanks @jezdez! Happy to move this along.

Unfortunately I am being told

When trying to initiate the transfer (via settings -> general -> transfer). Am I doing it wrong or is there something I'm missing?

[2022-03-25 16:03] jezdez commented on #267
To clarify, you can leave the org after the repo transfer again on https://jazzband.co/account.

[2022-03-28 14:58] jacobian commented on #267
BOOM: https://github.com/jazzband/dj-database-url

Thanks  @jezdez!

@mattseymour @scuerda @adamchainz @ParthS007 @dcwatson - up to y'all now, I think my work is done. Thanks so much!

[2022-03-29 08:59] mattseymour opened #278 "Project Lead: dj-database-urls"
# Project lead request

I have been using the dj-database-urls project for a while now and noticed it has not been getting the love it needs. So with help from @jacobian and others I have been pushing to get the project migrated to a more permenant home.
I have submitted a number of patches and PRs recently to help move the project towards the goal of being updated and maintained on a more regular

[2022-03-30 09:19] valberg commented on #237
I guess that only @bee-keeper can do the transfer? Is forking the project a viable alternative if we do not hear from them?

[2022-03-30 09:24] bee-keeper commented on #237
Hi, sorry i've been slow on this.  I just made the transfer now so should be all good?

[2022-03-30 09:31] valberg commented on #237
@bee-keeper Awsome! No need to be sorry - we all have stuff to do that gets in the way of other stuff :)

I can see django-invitations on the jazzband website now: https://jazzband.co/projects/django-invitations 👏

[2022-03-30 10:24] MrCordeiro commented on #237
@bee-keeper You'll see that there is a checklist of things required to complete the transfer [here](https://github.com/jazzband/django-invitations/issues/172), like changing the user for coveralls and adding the Jazzband bot as a project maintainer on Pypi, that only you'll be able to do.

[2022-04-01 19:47] valberg opened #279 "Project Lead: django-invitations"
# Project lead request

I've put some work in getting the project ready for a new release. I don't have any specific qualifications other than I use django-invitations in different projects and want to give back.

I know that @brylie also expressed interest in being a project lead in https://github.com/jazzband/help/issues/237 - I don't mind sharing the project lead role .

[2022-04-02 10:51] MrCordeiro commented on #214
`django-cookie-consent` seems well-suited for Jazzband. @bmihelac, if you want to, would you please take a moment and transfer the repo to the Jazzband organization via [GitHub's transfer feature](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/#transferring-a-repository-to-another-user-account-or-to-an-organization)? That way we can collectively work towa

[2022-04-02 15:44] brylie commented on #279
I'm fine with @valberg being project lead :-)

[2022-04-06 05:38] bmihelac commented on #214
Hello everyone! I have initiated transfer to jazzband. TODO list for implementing Jazzband guidelines is here:
https://github.com/jazzband/django-cookie-consent/issues/64

[2022-04-06 08:30] MrCordeiro opened #280 "PyPI Release: wagtailmenus"
# PyPI Release

Hello, we have updated wagtailmenus to be compatible with Django 4.0 and it would be great if it could be released for PyPi.

[2022-04-09 09:32] MrCordeiro commented on #196
It's bad that activity for this issue has died down. A bus factor of 1 is a very worrisome place for any project to be - particularly a volunteer-run one.

[2022-04-10 23:01] Archmonger commented on #277
@gilsonluiz This is not the correct location to request help with django-dbbackup.

There are several existing bugs with this repo. Please see this issue for my plans on resolving them:
- https://github.com/jazzband/django-dbbackup/issues/423

[2022-04-10 23:01] #277 closed

[2022-04-11 11:13] mattseymour opened #281 "How can I help the jazzzband roadie?"
Hey @jezdez, Really appreciate what you do through jazzband and to see the continual growth of new projects. I was wondering what I can do to help you out with the project. I see a lot of requests coming in to various project (some by me).

It looks like a lot of the requests are for help, support and maintenance access, as well as new projects wanting to join. Can I do something to help you, or w

[2022-04-16 06:10] Bouke commented on #180
@claudep @moggers87 The heroku hosted example page (http://example-two-factor-auth.herokuapp.com) is still linked with my account. I can either remove the application (who needs a demo anyway) or transfer it to you. What would you like to do?

[2022-04-16 10:08] moggers87 commented on #180
It would be nice to keep the demo app running, but it's not been updated in ages (I have access, but not had the time). Probably best to pull the plug on it and update the docs. We (me and/or Claude) can always deploy our own later if we change our minds.

[2022-04-16 10:54] claudep commented on #180
:+1: to what Matt said

[2022-04-21 10:29] frgmt opened #282 "Proposal: django-fernet-encrypted-fields"
# Project Proposal

Hello! I propose [django-fernet-encrypted-fields](https://github.com/frgmt/django-fernet-encrypted-fields).

## Project Details

django-fernet-encrypted-fields makes encrypted fields for Django, e.g. EncryptedCharField(max_length=100).

## Project Description

Packages to encrypt have existed in the past, but have not been continued due to maintenance difficulties.

## Project

[2022-04-22 06:28] hendrikschneider commented on #282
I would appreciate it if this project could join. When choosing an encryption library for you project it should be one that you can rely on. This project is well maintained and many would allow many developers to choose with confidence an encryption lib.

[2022-04-23 01:13] jeking3 opened #283 "PyPI Release: django-simple-history-3.1.0"
# PyPI Release Assistance

Please note: if you read through the comments, the current status of this is: you can release the 3.1.0 package that was uploaded to pypi.

---

Could someone please remove the existing cached 3.1.0 pre-release of django-simple-history?  We found a late issue and I updated the 3.1.0 tag and I am trying to publish 3.1.0 to you again.  3.1.0 was never published to PyPI so

[2022-04-23 05:08] hugovk commented on #283
We have a bit of a roadie bottleneck so it'll be quicker for you to release as something like 3.1.1 instead.

[2022-04-23 07:04] 1ace commented on #283
Rewriting published history is generally a bad idea and causes issues everywhere; you shouldn't have changed the contents of `3.1.0` but made a new release instead 🙂

[2022-04-23 15:31] jeking3 commented on #283
It was a pre-release, tagged but never officially released.  It was my understanding as a pre-release that would not be a problem to update the tag.  In the future we can just move forward when this happens if that's the general consensus.

It sounds like there is no differentiation between pre-releases and releases when something is uploaded.  Can you provide any guidance there; for example shoul

[2022-04-23 16:37] jeking3 commented on #283
Hello, you can release the 3.1.0 package to pypi.  All of the changes are for development and packaging purposes and none of them is a release blocker.  I will follow up with a separate 3.1.1 release hopefully this weekend.

[2022-04-23 17:34] jeking3 commented on #283
I also fixed the tag in the repo to match the release originally uploaded to you.,

[2022-04-23 17:42] jeking3 opened #284 "PyPI Release: django-simple-history 3.1.1"
# PyPI Release

[code]

[2022-04-23 18:09] jeking3 commented on #218
It looks like this was done, as the latest release of django-redis is 5.2.0 as of Dec 2021?

[2022-04-23 18:16] jeking3 commented on #273
@alenavolk if you grab and modify the [release.yml workflow file from the django-simple-history](https://github.com/jazzband/django-simple-history/blob/master/.github/workflows/release.yml) (change the if statement around line 10 for your repository as well as the last line, both of which refer to django-simple-history) and then make a release in GitHub it will upload a package to jazzband and mak

[2022-04-23 18:19] jeking3 commented on #280
@MrCordeiro it looks like you added a release.yml workflow but it hasn't run yet because no release has been created containing that change.  Perhaps the 3.1 release can pick that up and upload package(s) to jazzband so the roadies can push to pypi.

[2022-04-24 13:19] MrCordeiro commented on #280
Hi, @jeking3,

The workflow fails with the following error

[code]

It the same error I got last time I tried by myself. There are not other details :(

[2022-04-25 12:05] jeking3 commented on #280
Is it possible that `wagtailmenus-3.1-py3-none-any.whl` was already uploaded?  The server seems to reject duplicates - I saw the same error when I tried to re-spin a pre-release build and upload it with the same name.  The roadies recommended bumping the patch version (so in this case, 3.1.1) and doing another release if there were changes or fixes.  I don't think there's much support for prefligh

[2022-04-25 14:06] valberg commented on #281
I would also like to help in any way possible!

[2022-04-30 13:18] sowinski commented on #280
Is this a jazzband related server bug?

[2022-04-30 16:50] izzarzn opened #285 "Please add me to Organization"
Thank You.

[2022-04-30 19:40] jeking3 commented on #285
Just go to https://jazzband.co/ and sign up (see item 13) and it will add you to the jazzband GitHub org.

[2022-05-05 00:26] jacobian commented on #278
Huge 👍🏻  from me (I'm the previous maintainer), in case its needed.

Also at some point folks'll need me to add them over on PyPI. When you're ready can y'all open an issue somewhere and tag me on it?

[2022-05-08 07:12] kytta opened #286 "How do I work on a project, once in Jazzband?"
So, I have joined Jazzband and picked a project I would like to dedicate my time to. I, as an org member, have full access to the repository, including the `master` branch. How should I work? Should I just push my changes to a branch and then merge them into `master`, or should I open PRs and ask the leads for a review? What about small or non-code changes, like README typos or docs? Are there any

[2022-05-08 07:54] hugovk commented on #286
Welcome!

I don't think there are specific Jazzband guidelines, but you could check for a contributing guide (often `CONTRIBUTING.md`). Also you could check some of the existing "contributing to open source" guides out there (from a quick google: [1](https://opensource.guide/how-to-contribute/), [2](https://www.freecodecamp.org/news/how-to-contribute-to-open-source-projects-beginners-guide/), [3](

[2022-05-08 12:50] kytta commented on #286
Thank you for the warm welcome and swift reply!

The repo's (it's [`django-simple-menu`](https://github.com/jazzband/django-simple-menu), btw) CONTRIBUTING.md only has links to the Jazzband's [CoC](https://jazzband.co/about/conduct) and [new/moved project guidelines](https://jazzband.co/about/guidelines)

Yeah, that's what I've always been doing :) It feels wrong to do anything else at this point

[2022-05-08 13:24] hugovk commented on #286
I guess the best thing would be to open a new issue on the repo and/or here to propose new project leads.

Whilst you are able to merge PRs as a project member, a project lead is needed to release to PyPI, so it's something to resolve sooner rather than later.

[2022-05-08 16:52] kytta commented on #286
Thank you for the explanations!

[2022-05-08 16:52] #286 closed

[2022-05-08 21:38] craigds commented on #280
this issue is holding up adoption of wagtailmenus 3.1 which in turn is preventing projects from upgrading to django 4.x

[2022-05-09 09:16] #285 closed

[2022-05-09 20:11] JarmoKallio commented on #282
This would be useful.

[2022-05-11 04:56] Archmonger opened #287 "django-dbbackup: jazzband.co PyPI release internal server error"
We recently transferred django-dbbackup  to Jazzband. I looked at other repos in jazzband and [created a release CI](https://github.com/jazzband/django-dbbackup/blob/master/.github/workflows/release.yml) that I believe should work.

But it seems even though the build works, the upload to https://jazzband.co gives a 500 error (after the upload completes).

See here: https://github.com/jazzband/djan

[2022-05-11 11:35] eigenmannmartin commented on #252
@jezdez After more than 6 months of waiting I am a bit helpless right now.

[2022-05-17 07:50] hramezani commented on #269
@jezdez Does it make sense to you to put me as lead of this project?

[2022-05-17 17:24] ghost opened #288 "Can't join the Jazzband organization"
I tried adding myself to the jazzband organization, but I got the following error on the website:

[code]

Can you help me with this? 😄

[2022-05-17 18:20] frgmt commented on #282
How can jazzband be approved? Should we create another organization like an orchestra😂

[2022-05-17 20:16] hugovk commented on #282
ping @jezdez

[2022-05-19 11:41] sowinski commented on #280
What can we do?

[2022-05-20 10:43] pirzih-ruwmo3-xujtiF opened #289 "Bug found on website"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-20 12:33] hugovk commented on #289
Closing spam issue.

[2022-05-20 12:33] #289 closed

[2022-05-22 18:18] timofurrer opened #290 "Proposal: maya"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details

maya

## Project Description

Quite some time ago I go maintainer ship of `maya` and it was transferred to my account my Kenneth.
I've never really had the time to maintain it.

The pack

[2022-05-23 10:41] abradaric commented on #282
This would be very useful :heavy_plus_sign:

[2022-05-23 14:21] dopry commented on #196
@jezdez In your last update, you said you were planning to focus on this issue again at the end of 2021. Do you have any updates at this time?

[2022-05-23 16:20] aleksihakli commented on #196
I would be glad to help out with roadie responsibilities. Would it be sensible to organize a virtual event for discussion and decision making?

[2022-05-23 20:47] ssbarnea commented on #196
10000 foot view of this: almost two years and nothing happened. We can conclude that regardless pure intentions, a bus factor of one can be really problematic as soon the bus runs out of fuel.

I worked with @atugushev to help with pip-tools project maintenance for quite some time but I still hit lots of walls. Unable to configure different options to the project and today, when we needed to make

[2022-05-23 20:50] ssbarnea opened #291 "PyPI Release: pip-tools"
# PyPI Release

Please release https://github.com/jazzband/pip-tools/releases/tag/6.6.2 as it contains a critical fix for newer versions of pip.

@atugushev ^

[2022-05-23 21:31] atugushev commented on #291
Done 👍🏻

[2022-05-23 21:31] #291 closed

[2022-05-23 21:39] #267 closed

[2022-05-24 12:43] jezdez commented on #269
Sounds good! @gholamiayub you okay with that?

[2022-05-24 12:45] jezdez commented on #252
Done!

[2022-05-24 12:45] #252 closed

[2022-05-24 12:51] jezdez commented on #280
I've added the needed release key to the repo's secrets. The workflow should now be running through. But: until there is a dedicated project lead to verify and confirm releases, that will fall back to me, which can take a while.

[2022-05-24 12:51] #280 closed

[2022-05-24 13:01] gholamiayub commented on #269
@jezdez
the most important thing is the progress of the project and make it more operational

[2022-05-24 13:21] jezdez commented on #269
Done!

[2022-05-24 13:22] jezdez commented on #244
Hey @jjkester, would that be okay with you?

[2022-05-24 13:51] MrCordeiro commented on #280
Understood and thanks @jezdez!
This was a more urgent release since it was preventing people from upgrading their Django/Wagtail.

I'll study the inner working of this project on the weekend to see if I think I can manage as its lead.

[2022-05-25 08:31] MrCordeiro commented on #280
Btw, the workflow runs, but we still need to wait for you to confirm the release, should we re-open this ticket, @jezdez?

I mean, the ticket was for releasing the package, not only making the workflow run (though that was part of it).

[2022-05-25 10:10] jezdez commented on #280
@MrCordeiro This issue is fine, the next steps should be discussed in https://github.com/jazzband/wagtailmenus/issues/419 (release) and https://github.com/jazzband/wagtailmenus/issues/409 (project leads).

[2022-05-30 09:57] mattseymour opened #292 "PyPI Release: dj-database-url 1.0.0"
# PyPI Release

There is currently no lead specified on the dj-database-url project though i have raised a ticket to take over this role (see #278 for my request for leadeship).

While we are waiting can we please cut a 1.0.0 release of dj-database-urls. I say 1.0.0 because:

* The current project is 0.5.0 which it has been for a few years. It would be good to raise a new major verion seeing this

[2022-05-30 10:16] hugovk commented on #292
The links on PyPI come from the README, which has been updated, so this will be fixed in the next release.

[2022-05-30 18:54] jjkester commented on #244
Hi, sorry for the (very) late reply. I don't have the time nor priority currently to spend time on this project, especially since there is no use case for myself anymore. I would be happy for someone else from the community to become the lead on django-auditlog.

[2022-05-31 13:03] mattseymour commented on #292
Awesome thank you @jacobian for your help.

[2022-05-31 21:10] jezdez commented on #278
Done!

Please make sure to take a look at the Jazzband [code of conduct](https://jazzband.co/about/conduct), [general guidelines](https://jazzband.co/about/guidelines), [release process](https://jazzband.co/about/releases) and [security policy](https://jazzband.co/about/security). Thank you!

[2022-05-31 21:10] #278 closed

[2022-06-09 06:47] aleksihakli commented on #196
To expand on this: we need to expand the maintainer or roadie group. At the current evolution we have a degradation of capabilities as well as trust for the sustenance and maintenance model, which will lead to projects migrating away from the Jazzband organization in the long run.

I'd see a few options for expanding the organization as-is:

1. Just elect at least a couple (e.g. 2-5) maintainers f

[2022-06-09 08:01] ssbarnea commented on #196
To be honest, I was about to request transfer of pip-tools to pypa, as that org will be much better suited for maintenance of the project. We already have examples like pipx which did the same. Sadly that is an unique case that would not apply for other projects, so I hope we will address this issue soon and avoid making others leave.

Full dependency on a single person is not acceptable anymore,

[2022-06-10 12:52] GitRon opened #293 "Taking over flower"
Hi there!

The celery monitoring tool [flower](https://pypi.org/project/flower/) is currently abandoned and in a state where the latest pypi verison is not working anymore. The maintainer fixed it but is not pushing the changes. We are currently discussing how to save the project [in this issue](https://github.com/mher/flower/issues/1211#issuecomment-1149773129).

If we'd mange to get access to th

[2022-06-11 03:10] EliteDevSolution opened #294 "Hello.Dear team"
I wish to join in with your community.

[2022-06-11 21:40] rayrrr opened #295 "Please edit our repository settings to remove the "Packages" section"
See https://github.com/jazzband/geojson/issues/184.

[2022-06-13 20:03] rajel718 opened #296 "Join in this community."
Hello everyone!
As an experienced web developer, I would like to join in this community.
Best regards.

[2022-06-13 21:39] hugovk commented on #294
Hi, no need to create an issue, all the info you need is at https://jazzband.co/ 🚀

[2022-06-13 21:39] #294 closed

[2022-06-13 21:39] hugovk commented on #296
Hi, no need to create an issue, all the info you need is at https://jazzband.co/ 🚀

[2022-06-13 21:39] #296 closed

[2022-06-15 12:26] mpasternak opened #298 "PyPI Release: django-dbtemplates"
# PyPI Release
Please read the information about [releases](https://jazzband.co/about/releases) on the website before submitting an issue. In particular, if a project already has project leads assigned, then you'd be better off creating an issue in the individual project, and asking the leads to do a release.

In the event there are no project leads, you're in the right place! Please link the proj

[2022-06-15 12:27] mpasternak opened #299 "Project Lead: django-dbtemplates"
# Project lead request

I'm using it in a commercial app and I'm interested in supporting this project.

[2022-06-15 12:58] hugovk commented on #298
Re: https://github.com/jazzband/django-dbtemplates/issues/124

[2022-06-29 08:25] MrCordeiro commented on #290
Hi,
I personally just went through a Jazzband transfer for [django-invitations](https://github.com/jazzband/django-invitations), [wagtailmenus](https://github.com/jazzband/wagtailmenus) and [django-cookie-consent](https://github.com/jazzband/django-cookie-consent). Since then, we have been unable to publish new packages at PyPI due to a lack of roadies. I would advise holding off on a Jazzband tra

[2022-06-29 08:45] mattseymour commented on #196
Related ticket in jazzband issues #281, would be more than happy to help put time in to support this project.

[2022-07-02 22:29] Estevamsl opened #300 "Join Organization"
Because I want to stay on top of everything that goes on in this organization and of course, as a good dev, you have to know about the challenges of this incredible world of programming

[2022-07-03 04:21] hugovk commented on #300
Please don't spam projecs.

![list of 60 issues in 48 repos asking to join](https://user-images.githubusercontent.com/1324225/177024397-0caefbb1-781c-4dbd-9605-af59f754f026.jpg)

[2022-07-03 04:21] #300 closed

[2022-07-11 15:05] jacobian opened #301 "Remove me as an owner of dj-database-url on PyPI?"
Now that Jazzband is an owner of `dj-database-url` (#292), I think I should probably be removed as an owner of the PyPI project, right?

[2022-07-13 18:01] NhanAZ opened #302 "Add me to the organization."

[2022-07-16 18:53] rayrrr opened #303 "Can Jazzband leads participate in the PyPI 2FA Security Key Giveaway?"
In the wake of the Log4J vulnerability, PyPi is running a [PyPI 2FA Security Key Giveaway](https://pypi.org/security-key-giveaway/) for maintainers of "critical" projects, as defined by being among the top 1% of packages downloaded on PyPi. Full disclosure: I am the current lead for one of these projects.

Several other Jazzband-maintained projects fall under this banner as well, [as can be seen h

[2022-07-18 09:53] hugovk commented on #303
I'm not sure if we should: the idea of the giveaway is to increase security of the Python community as a whole by getting as many maintainers of critical packages who don't currently have 2FA enabled, to enable it, to make it less likely third parties can access their accounts and upload something malicious.

But with Jazzband, uploads to PyPI are semi-automated via the Jazzband staging area, whic

[2022-07-26 13:28] bittner opened #304 "Project Lead: django-analytical"
# Project lead request

I suggest to add @smithdc1 as an [additional project lead](https://jazzband.co/projects/django-analytical).

David has made [some significant contributions](https://github.com/jazzband/django-analytical/graphs/contributors), starting with the migration of our test suite to pytest, and is usually quick to answer and react on issues and PRs.

[2022-08-03 05:08] JanMalte commented on #274
@hugovk @jezdez This is still an issue.

[2022-08-03 05:27] hugovk commented on #274
https://github.com/jazzband/django-permission

Unfortunately @jezdez is the [only roadie](https://jazzband.co/roadies) and only roadies can give those permissions.

See also https://github.com/jazzband/help/issues/196.

It looks like the transfer was only suggested, I only see https://github.com/jazzband/django-permission/issues/85 and no usual transfer checklist, so I've no idea what's going on t

[2022-08-03 05:41] hugovk commented on #224
Closing this old issue, can re-open if needed.

[2022-08-03 05:41] #224 closed

[2022-08-03 05:53] hugovk commented on #14
No reply, let's close this:

* the original project is unmaintained
* there's an active fork
* the original project links to the fork
* No pressing need to move to Jazzband

[2022-08-03 05:53] #14 closed

[2022-08-05 15:14] jezdez commented on #304
Done, @smithdc1 let me know if you're NOT interested in this!

[2022-08-05 15:14] #304 closed

[2022-08-05 15:15] jezdez commented on #299
Good idea, thanks for volunteering!

[2022-08-05 15:15] #299 closed

[2022-08-05 15:18] jezdez commented on #279
Added @valberg to the project. 🥳

Please make sure to read the docs about [releases](https://jazzband.co/about/releases), [guidelines](https://jazzband.co/about/guidelines), [security](https://jazzband.co/about/security) and [FAQ](https://jazzband.co/about/faq). And a gentle reminder that you agree to follow the Jazzband [Code of Conduct](https://jazzband.co/about/conduct).

[2022-08-05 15:18] #279 closed

[2022-08-05 15:18] jezdez commented on #279
I understood that comment as you NOT being interested in being co-project lead. Please let me know if that's not what you intended and also want to be project lead.

[2022-08-05 15:25] jezdez commented on #268
Just added you as project lead! Thank you for volunteering @MRigal 🥳

Please make sure to read the docs about [releases](https://jazzband.co/about/releases), [guidelines](https://jazzband.co/about/guidelines), [security](https://jazzband.co/about/security) and [FAQ](https://jazzband.co/about/faq). And a gentle reminder that you agree to follow the Jazzband [Code of Conduct](https://jazzband.co/abo

[2022-08-05 15:25] #268 closed

[2022-08-05 15:25] jezdez commented on #244
@AqeelAT Hey there, are you still interested?

[2022-08-05 15:41] valberg commented on #279
Great! Thanks @jezdez! I'll read up on everything and of course I agree to follow the Code of Conduct 😊

[2022-08-05 16:17] jezdez commented on #301
Done!

[2022-08-05 16:17] #301 closed

[2022-08-05 16:36] jezdez commented on #293
Yeah, this seems like a reasonable project, but please make sure to read the docs about [releases](https://jazzband.co/about/releases), [guidelines](https://jazzband.co/about/guidelines), [security](https://jazzband.co/about/security) and [FAQ](https://jazzband.co/about/faq). And a gentle reminder that you'd agree to follow the Jazzband [Code of Conduct](https://jazzband.co/about/conduct).

And ju

[2022-08-06 15:22] mpasternak commented on #299
Thank you very much!

[2022-08-06 16:57] brylie commented on #279
I can be the co-project lead, so there is a fall-back to ensure PRs get reviewed, etc.

[2022-08-06 17:45] jezdez commented on #279
Excellent, thank you! Done: https://jazzband.co/projects/django-invitations

[2022-08-08 09:29] johanneswilm opened #305 "Proposal: django-avatar"
# Project Proposal

Please fill in the details below to confirm you adhere to the [Jazzband Guidelines](https://jazzband.co/about/guidelines), and also add the package name to the issue title.

## Project Details
django-avatar

Official last Pip release made from: https://github.com/grantmcconnaughey/django-avatar

Current code: https://github.com/johanneswilm/django-avatar/

## Project Descriptio

[2022-08-08 14:08] jacobian commented on #301
🙌🏻

[2022-08-09 13:58] GitRon commented on #293
Thanks for the update! Maybe @mher could say if this would be ok for him?

[2022-08-09 15:27] johanneswilm commented on #305
Ok, I've tweeted here to try to get his attention: https://twitter.com/fiduswriter/status/1557024914124701701 . It sounds like he done working on open source software, but hopefully he will make an exception for this.

[2022-08-09 15:28] grantmcconnaughey commented on #305
@jezdez I transferred the repo to jazzband: https://github.com/jazzband/django-avatar

Is there anything I need to do on the PyPI side of things?

[2022-08-09 15:30] jezdez commented on #305
Nope, I still have owner permissions and can handle it. Thank you for your work over the years, this is really appreciated!

[2022-08-09 15:30] grantmcconnaughey commented on #305
Awesome, that simplifies things. 😄  Best of luck, folks!

[2022-08-09 16:00] johanneswilm commented on #305
@grantmcconnaughey OK, I understand. Thank you so much and good luck with everything going forward!

[2022-08-09 18:45] jezdez commented on #305
Closing now that https://github.com/jazzband/django-avatar/issues/211 has been opened.

[2022-08-09 18:45] #305 closed

[2022-08-11 10:59] Natim opened #306 "Project Lead: django-constance"
# Project lead request

Hello, I'd lilke to join django-constance in order to release the 2.9.1 version.

Refs https://github.com/jazzband/django-constance/compare/2.9.0...master
Refs https://github.com/jazzband/django-constance/issues/495

[2022-08-11 11:01] Natim opened #307 "PyPI Release: django-constance"
# PyPI Release

Could you please release django-constance?

Thank you

Refs https://github.com/jazzband/help/issues/306

[2022-08-11 11:58] jezdez commented on #307
Fixed via https://github.com/jazzband/django-constance/pull/497.

[2022-08-11 11:58] #307 closed

[2022-08-11 11:59] jezdez commented on #292
This has been done.

[2022-08-11 11:59] #292 closed

[2022-08-11 12:01] jezdez commented on #306
@Natim Your help would be really appreciated with django-constance! You still interested?

[2022-08-11 12:07] Natim commented on #306
Yes ok why not!

[2022-08-11 12:22] jezdez commented on #306
Done! Thank you <3

[2022-08-11 12:22] #306 closed

[2022-08-11 12:46] Mogost commented on #307
There are a lot of things https://github.com/jazzband/django-constance/pull/469 here.
And we really need to consider this PR. I would appreciate any help in reviewing this PR.
@jezdez , your opinion would be especially valuable, since there are supposed to be changed in the code that was originally written by you.

[2022-08-13 15:36] WhyNotHugo opened #308 "Rename main branch for django-payments to `main`"
Can we rename the main branch for https://github.com/jazzband/django-payments/ to `main`?

Downstream issue: https://github.com/jazzband/django-payments/issues/316

[2022-08-13 15:37] WhyNotHugo commented on #308
CI was actually already set up to special-case `main`.

[2022-08-14 09:20] #308 closed

[2022-08-14 21:44] JanMalte commented on #274
I've forked `django-permission` to maintain the library for now.
https://github.com/JanMalte/django-permission2

There is no need to work on the transfer right now from my side.
Feel free to close the issue. Maybe just add a note to the repo about the forked one.

[2022-08-15 14:40] mpasternak opened #309 "PyPI Release: django-dbtemplates"
# PyPI Release

I'd like to make a release of django-dbtemplates, I'm the project lead, but I don't think I have PyPI privs, my login there is the same as here on GitHub. Thanks!

[2022-08-15 14:40] mpasternak commented on #298
Duplicate #309

[2022-08-15 14:40] #298 closed

[2022-08-15 20:34] jezdez commented on #309
@mpasternak Please read the [docs about releases](https://jazzband.co/about/releases), this is essential as a project lead (just like any other documentation on jazzband.co).

In short: You won't be provided PyPI permissions, but Jazzband releases happen to the Jazzband staging index on jazzband.co, where project leads can verify and confirm them before they are pushed to PyPI. The way project lea

[2022-08-29 01:39] mpasternak commented on #309
I've tagged it and I've received the e-mail. What do we do next, do you have some time to spare and are you willing to review the release or should I be the person to click the "release" link? thanks.

[2022-08-29 15:20] jezdez commented on #309
Usually in projects with multiple leads it's up to them to figure this out, and I'm happy to delegate this to you in this case, I've looked at the commits and found them reasonable.

Only minor nit is that the tag is using SemVer style `4.0.0` while the past releases were all without additional patch version, e.g. `3.0`. Would be great if you could redo the tag and release it as `4.0`, but it's al

[2022-08-30 05:26] mpasternak commented on #309
I've tagged it ``4.0``, why not.

I noticed you use ``use_scm_version`` in setup.py  and that the version number actually does not appear anywhere along the source. I understand that this is the part of the workflow and that's okay. How can you get the package version number if you use ``use_scm_version`` for it? ``pkgtools``? I'm just wondering if I could use it in my workflows, I use CalVer sche

[2022-08-30 05:28] mpasternak commented on #309
I seem to have received the mail about the WHL file twice, perhaps once as a member and once as a leader. Do you have that workflow mailing code somewhere? Maybe I could patch it?

[2022-08-30 06:38] hugovk commented on #309
`use_scm_version` is used by https://github.com/pypa/setuptools_scm (also mentioned in setup.py) to automatically set the package version from the Git tag. No need to hardcode the version in setup.py.

It's in https://github.com/jazzband/website, looks like https://github.com/jazzband/website/blob/main/jazzband/projects/tasks.py is a good place to start.

[2022-08-30 21:42] mpasternak commented on #309
@hugovk thanks, @jezdez already had an issue with that problem https://github.com/jazzband/website/issues/491 , here's my attempt https://github.com/jazzband/website/pull/1030

[2022-09-05 20:01] jezdez commented on #309
This was done recently, closing.

[2022-09-05 20:01] #309 closed

[2022-09-09 09:54] francoisfreitag opened #310 "Proposal: django-phonenumber-field"
# Project Proposal

## Project Details
[django-phonenumber-field](https://github.com/stefanfoulis/django-phonenumber-field/)

## Project Description
A Django library which interfaces with [python-phonenumbers](https://github.com/daviddrysdale/python-phonenumbers) to validate, pretty print and convert phone numbers. [python-phonenumbers](https://github.com/daviddrysdale/python-phonenumbers)  is a p

[2022-09-09 11:16] stefanfoulis commented on #310
@francoisfreitag thank you for moving forward with this. 🚀 😄

[2022-09-24 11:22] sergei-maertens commented on #287
I seem to be running into the same issue with django-cookie-consent: https://github.com/jazzband/django-cookie-consent/actions/runs/3118124726/jobs/5057207099

[2022-10-18 14:34] ticosax opened #311 "Capability to merge blocked despite approved reviews"
Hi,
We have a blocked Pull Request, that prevents the project to welcome new contribution, as this PR lacks an approval from another maintainer with write permissions.
https://github.com/jazzband/django-fsm-log/pull/144

I would like to know if you have any recommendation for actions I could take, to unblock the project ?

Thanks.

[2022-10-18 15:05] hugovk commented on #311
I've approved and merged it. 👍

[2022-10-18 15:08] hugovk commented on #311
Re-opening as I guess we need to improve the process for next time.

If you can find another person to join Jazzband and help review (I'm not available to do it regularly), that would be best as it makes sure everything is reviewed before merge. Would @lorenzomorandini be interested?

Otherwise we could ask the Jazzband roadie to remove that review requirement.

[2022-10-18 15:14] lorenzomorandini commented on #311
@hugovk I could be interested but was the question related to only django-fsm-log package or any Jazzband project in general?

[2022-10-18 15:35] hugovk commented on #311
Great! The question was about django-fsm-log (but you can join others if you're interested too).

See:

https://jazzband.co/projects/django-fsm-log

And have a read through the other info at https://jazzband.co/, there's not too much :)

[2022-10-18 15:49] ticosax commented on #311
Sounds like a good initiative @hugovk, thanks.
@lorenzomorandini I welcome you to become another maintainer of django-fsm-log, if you like. Being the currently only active one, is not ideal for the project.

[2022-10-18 15:52] lorenzomorandini commented on #311
@ticosax I am definetly interested, thanks.

[2022-10-18 22:51] tony opened #313 "Package management"
Earlier mention: https://github.com/jazzband/django-robots/pull/137#issuecomment-1280049961

- Poetry ([PyPI](https://pypi.org/project/poetry/), [gh](https://github.com/python-poetry/poetry), [docs](https://python-poetry.org/docs/))
- Hatch ([PyPI](https://pypi.org/project/hatch/), [gh](https://github.com/pypa/hatch), [docs](https://hatch.pypa.io/latest/))
- pipenv ([PyPI](https://pypi.org/project

[2022-10-18 23:04] tony opened #314 "Best practices / standards: Workgroup + sprints?"
There are areas that could be covered are infra / devops / even bikesheddy when taken alone - but at scale, very concrete; best practices:

- test framework:
  - pytest vs unittest, either?
  - require tests to merge?
  - doctests?
- CI
  - [tox-gh-actions](https://pypi.org/project/tox-gh-actions/)
- github templates:
  - bug report template? issue template?
- Whether or not to add `.python-versio

[2022-10-19 05:19] ofek commented on #313
I can help with Hatch! (creator)

[2022-10-22 11:06] DanielssonP opened #315 "Good resources for learning"
Hi!
I'm learning iOS development and I'm trying to implement a simple SwiftUI app which main function is to receive push notifications. I want to use Django-push-notifications as a provider server for this (as opposed to using Firebase or similar). But I'm struggling to find good resources to learn from (guides, repos, books, etc), so I thought I might try asking here for some advice.
The DPN docu

[2022-10-22 21:30] dopry commented on #196
@jezdez In your last update, you said you were planning to focus on this issue again at the end of 2021. Do you have any updates at this time?

[2022-10-22 21:56] hugovk commented on #274
Thank you for forking the archived https://github.com/jazzband/django-permission and releasing at https://pypi.org/project/django-permission2/

Okay, closing!

The project is archived, so it'd need a [roadie](https://github.com/jazzband/help/issues/196) to unarchive it first, add the note, then re-archive.

Another suggestion: you could ask the maintainers of https://pypi.org/project/django-permis

[2022-10-22 21:56] #274 closed

[2022-10-24 03:39] ofek commented on #313
https://github.com/jazzband/django-debug-toolbar/pull/1690

[2022-10-24 18:17] jstockwin commented on #315
Hey @DanielssonP, you'll want to ask that over at https://github.com/jazzband/django-push-notifications/issues rather than here

[2022-10-26 00:08] alejocp00 opened #316 "PryttyTable 3.4.1 KeyError in _stringify_header + self._justify(fieldname, width, self._align[field])"
### What did you do?

* Try to print my PrettyTable instance

### What did you expect to happen?

* Get a string value similar to

[code]

### What actually happened?

[code]

### What versions are you using?

* OS: Ubuntu 22.04
* Python: 3.10
* PrettyTable: 3.4.1

Please include **code** that reproduces the issue.

The [best reproductions](https://stackoverflow.com/help/minimal-reproducible-examp

[2022-10-26 18:35] #283 closed

[2022-10-29 19:26] ofek commented on #313
https://github.com/jazzband/prettytable/pull/212

[2022-11-08 15:12] ticosax commented on #311
@lorenzomorandini, you can make a formal request to join the projects leads of django-fsm-log https://github.com/jazzband/help/issues/new?assignees=&labels=lead&template=project_lead.md&title=Project+Lead%3A+%3CPACKAGE+NAME%3E

[2022-11-09 09:41] lorenzomorandini opened #317 "Project Lead: django-fsm-log"
# Project lead request

As per [issue](https://github.com/jazzband/help/issues/311#issuecomment-1307376103) it was suggested that I could help in maintaining the django-fsm-log package. The company I work for currently uses it for internal projects and I'd be interested in making sure it stays up-to-date by helping @ticosax.

[2022-11-09 09:41] lorenzomorandini commented on #311
@ticosax done, thanks.

[2022-11-10 08:29] #311 closed

[2022-11-10 13:29] PeterJCLaw commented on #247
@RealOrangeOne (semi randomly chosen) just wondering if you're able to help out here? Is there anything outside contributors can help with to progress this?

[2022-11-14 17:45] joegrego opened #318 "django-model-utils support for Django 4"
Hello.

My apologies if I put this in the wrong place.

I work at the University of Michigan's Advanced Genomics Core Lab.  We use django-model-utils in our self-developed sample tracking system. I see it hasn't had a release since late 2021, and I'm wondering if a release is planned, or if we should just pull from master to get support for Django 4?

Thanks,
-Joe Gregoria

[2022-11-19 11:21] WhyNotHugo opened #319 "Project Lead: django-user-sessions"
# Project lead request

I've merged in changes for compat with newer versions, [updated release notes](https://github.com/jazzband/django-user-sessions/commit/acc32621a3d9d4c8c1511d98bbac0ddd8bd5f8e6), and prepared a new release.

There's been [demand for a new release](https://github.com/jazzband/django-user-sessions/issues/137) for over a year and half. I'd like to push this through and any foll

[2022-11-20 19:43] phillbaker commented on #258
I'm going to close this as there's been no response. If the community is interested in contributing to suds, let's reopen and I'm happy to discuss.

[2022-11-20 19:43] #258 closed

[2022-11-26 11:20] claudep commented on #319
I second this request. Otherwise the project is stuck.

[2022-11-28 13:42] kytta opened #320 "Project Lead: django-simple-menu"
# Project lead request

`django-simple-menu` is the package I use at my job, so it is pretty important for me that this package stays maintained. I have been merging bugfixes, features, and new documentation to it over the last few months, including the release of the v2.0.0 which (finally) fixed the PyPI metadata.

I want to become the lead so that new releases can come out a bit quicker.

One of